/*
dss-list-wrap css 
New date : 2023-10-18
modify date : 2023-10-18
worker : Im Dae Han 
*/
.dss-wrap {
  padding: 3rem 2rem;
  height: 100vh;
  .dss-top {
    margin-bottom: 1.6rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #ddd;
    .btn-dss-wide {
      margin-right: 1.2rem;
    }
    .dss-title {
      h3 {
        font-size: 1.8rem;
        color: $black;
      }
      .icon-chat-alarm {
        color: $red;
        margin-left: 0.8rem;
      }
    }
  }
  .dss-search-wrap {
    margin-bottom: 1.6rem;
  }
  .dss-content {
    .dss-list-wrap {
      .dss-list-group {
        height: calc(100vh - 20.3rem);
        overflow-y: auto;
        padding-right: 5px;
        margin-right: -5px;
      }
      .dss-list {
        cursor: pointer;
        border: 1px solid #ddd;
        border-radius: 0.8rem;
        background-color: #fff;
        padding: 1.6rem;
        margin-bottom: 0.8rem;
        position: relative;
        overflow: hidden;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        &:hover {
          box-shadow: 4px 4px 10px #ddd;
        }
        &.dss-list-new {
          background-color: #fff8b7;
        }
        &.dss-list-delete {
          opacity: 0.5;
          background-color: #f3f4f8;
          /*
          &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
          }
          */
          .dss-list-title {
            span {
              text-decoration: line-through;
            }
          }
        }
        &-top {
          margin-bottom: 0.4rem;
          .dss-list-issue {
            span.new-icon {
              color: $yellow;
              padding: 0.2rem 1.2rem;
              background-color: $mainColor;
              border-radius: 0.8rem;
              margin-right: 1.2rem;
              font-size: 1.2rem;
            }
          }
          .dss-list-time {
          }
        }
        &-body {
          margin-bottom: 1.6rem;
          .dss-list-title {
            width: calc(100% - 4rem);
            //flex: 1;
            span {
              display: block;
              @include ellipsis();
            }
          }
          .dss-list-newchatnumber {
            flex-shrink: 1;
            width: 2rem;
            span {
              width: 2rem;
              height: 2rem;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              background-color: $mainColor;
              color: #fff;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
  .dss-list-wrap {
  }
}

.dss-list-wrap {
  width: 100%;
}
.chat-room-body {
  position: relative;
  .chat-room-titlebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1.6rem;
    background-color: #fff;
    .chat-room-issue {
      span.new-icon {
        color: $yellow;
        padding: 0.2rem 1.2rem;
        background-color: $mainColor;
        border-radius: 0.8rem;
        margin-right: 1.2rem;
        font-size: 1.2rem;
      }
    }
  }
}
.chat-conversation {
  height: calc(80vh);
  background-color: #dae4ea;
  padding: 1.2rem;
}
.chat-conversation-con {
  height: 100%;
  .user-chat {
    .user-type {
      span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: 700;
        border-radius: 0.8rem;
        width: 4rem;
        height: 4rem;
        &.user-type-skd {
          background-color: #10b8c0;
        }
        &.user-type-acs {
          background-color: #50b15a;
        }
        &.user-type-qm {
          background-color: #ff9636;
        }
      }
    }
    .user-chat-box {
      max-width: 70%;
      min-width: 25rem;
      .user-chat-text {
        background-color: #fff;
        border-radius: 0.8rem 0.8rem 0.8rem 0rem;
        padding: 1.2rem;
      }
    }
    &.mine-chat {
      .user-chat-text {
        background-color: #0063a5;
        color: #fff;
        border-radius: 0.8rem 0.8rem 0rem 0.8rem;
      }
    }
  }
}
