#root .ag-theme-alpine {
  /* ag border color - table border color*/
  --ag-border-color: #dddddd;
  --ag-toggle-button-height: 18px;
  --ag-subheader-background-color: #dddddd;
  --ag-range-selection-background-color-4: rgba(33, 150, 243, 0.59);
  --ag-secondary-border-color: #dde2eb;
  --ag-toggle-button-width: 28px;
  --ag-selected-row-background-color: rgba(33, 150, 243, 0.3);
  --ag-widget-horizontal-spacing: 12px;
  --ag-invalid-color: #e02525;
  --ag-modal-overlay-background-color: rgba(255, 255, 255, 0.66);
  --ag-header-column-resize-handle-display: 0px;
  --ag-range-selection-background-color-3: rgba(33, 150, 243, 0.49);
  --ag-range-selection-background-color-2: rgba(33, 150, 243, 0.36);
  --ag-column-hover-color: rgba(33, 150, 243, 0.1);
  --ag-background-color: #dddddd;
  --ag-widget-container-horizontal-padding: 12px;
  --ag-chip-background-color: rgba(24, 29, 31, 0.07);
  --ag-disabled-foreground-color: rgba(24, 29, 31, 0.5);
  --ag-checkbox-unchecked-color: #999999;
  --ag-input-disabled-border-color: rgba(186, 191, 199, 0.3);
  --ag-input-disabled-background-color: rgba(186, 191, 199, 0.15);
  --ag-row-hover-color: rgba(33, 150, 243, 0.1);
  --ag-row-border-width: 1px;
  --ag-header-column-separator-width: 1px;
  --ag-data-color: #000000;
  --ag-header-column-separator-height: 100px;
  --ag-foreground-color: #181d1f;
  --ag-widget-vertical-spacing: 9px;
  --ag-alpine-active-color: #2196f3;
  --ag-row-group-indent-size: 28px;
  --ag-input-focus-border-color: rgba(33, 150, 243, 0.4);
  /* ag header thead tr bg */
  --ag-header-background-color: #fff;
  --ag-header-column-resize-handle-height: 30px;
  --ag-range-selection-background-color: rgba(33, 150, 243, 0.2);
  --ag-menu-min-width: 181px;
  --ag-side-button-selected-background-color: rgba(0, 0, 0, 0);
  --ag-subheader-toolbar-background-color: rgba(255, 255, 255, 0);
  --ag-range-selection-chart-category-background-color: rgba(0, 255, 132, 0.1);
  --ag-tab-min-width: 240px;
  --ag-range-selection-chart-background-color: rgba(0, 88, 255, 0.1);
  --ag-side-bar-panel-width: 250px;
  --ag-header-cell-hover-background-color: rgba(255, 255, 255, 0);
  --ag-row-width: 100px;
  --ag-borders-secondary: #dddddd;
  --ag-tooltip-background-color: #fff;
  --ag-value-change-value-highlight-background-color: rgba(22, 160, 133, 0.5);
  /* row background */
  --ag-odd-row-background-color: $white;
  --ag-value-change-delta-up-color: #43a047;
  --ag-toggle-button-border-width: 1px;
  --ag-borders-critical: #dddddd;
  --ag-control-panel-background-color: #fff;
  --ag-value-change-delta-down-color: #e53935;
  --ag-filter-tool-panel-group-indent: 1.6rem;
  --ag-header-column-resize-handle-width: 1px;
  --ag-alpine-active: #2196f3;
  --ag-border-radius: 3px;
  --ag-grid-size: 6px;
  --ag-icon-size: 1.6rem;
  /* cell 높이 */
  --ag-row-height: 3.2rem;
  --ag-header-height: 3.2rem;
  --ag-list-item-height: 2.4rem;
  /* 좌우 padding */
  --ag-cell-horizontal-padding: 0;
  --ag-cell-widget-spacing: 12px;
  --ag-widget-container-vertical-padding: 12px;
  --ag-font-size: 1.4rem;
  --ag-selected-tab-underline-width: 2px;
  --ag-borders-input: var(--ag-borders-secondary);
  --ag-checkbox-background-color: var(--ag-background-color);
  --ag-header-column-resize-handle-color: var(--ag-secondary-border-color);
  --ag-header-column-separator-color: var(--ag-secondary-border-color);
  --ag-input-border-color: var(--ag-border-color);
  --ag-range-selection-border-color: var(--ag-alpine-active-color);
  --ag-card-radius: var(--ag-border-radius);
  --ag-secondary-foreground-color: var(--ag-foreground-color);
  --ag-input-border-color-invalid: var(--ag-invalid-color);
  --ag-selected-tab-underline-color: var(--ag-alpine-active-color);
  --ag-checkbox-border-radius: var(--ag-border-radius);
  --ag-row-border-color: var(--ag-secondary-border-color);
  --ag-checkbox-indeterminate-color: var(--ag-checkbox-unchecked-color);
  --ag-toggle-button-off-border-color: var(--ag-checkbox-unchecked-color);
  --ag-toggle-button-off-background-color: var(--ag-checkbox-unchecked-color);
  --ag-toggle-button-switch-background-color: var(--ag-background-color);
  --ag-column-select-indent-size: var(--ag-icon-size);
  --ag-set-filter-indent-size: var(--ag-icon-size);
  --ag-range-selection-highlight-color: var(--ag-range-selection-border-color);
  --ag-checkbox-checked-color: var(--ag-checkbox-background-color);
  --ag-header-foreground-color: var(--ag-secondary-foreground-color);
  --ag-toggle-button-on-border-color: var(--ag-checkbox-checked-color);
  --ag-toggle-button-on-background-color: var(--ag-checkbox-checked-color);
}

.ag-theme-alpine {
  border: none;
}
#root .ag-root-wrapper {
  background-color: transparent;
}
#root .ag-root-wrapper {
  border: none;
}
#root .ag-header {
  border-top: 2px solid #002d85;
  border-bottom: 0;
  background-color: transparent;
}
#root .ag-cell-label-container {
  padding: 0;
  background-color: #fff;
}
#root .ag-header-cell {
  text-align: center;
  background-color: transparent;
  color: #222;
}
#root .ag-header-cell-resize::after {
  border: 0;
  background-color: transparent;
}
#root .ag-cell {
  text-align: center;
  border-right: 1px solid #ddd;
  padding: 0.8rem 1.6rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root .ag-cell[aria-colindex='1'] {
  border-left: 1px solid #ddd;
}
#root .ag-cell:last-child {
  border-right: 1px solid #ddd;
}
#root .ag-pinned-left-cols-container .ag-row .ag-cell {
  border-right: 1px solid #ddd;
}
#root .ag-pinned-left-cols-container .ag-row .ag-cell[aria-colindex='1'] {
  border-left: 1px solid #ddd;
}
#root .ag-row {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#root .ag-cell .ag-cell-wrapper {
  display: flex;
  max-width: 100%;
}
#root .ag-cell .ag-cell-wrapper .input-wrap {
  flex-wrap: wrap;
}
#root .ag-cell .ag-cell-wrapper .input-wrap.select,
#root .ag-cell .ag-cell-wrapper .input-wrap.select .dropdown,
#root .ag-cell .ag-cell-wrapper .input-wrap.select .dropdown .dropdown-toggle {
  width: 100%;
}
#root .ag-cell .ag-cell-value {
  width: 100%;
  max-width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*
#root .ag-cell.ag-grid-cell-textoverflow .ag-cell-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
*/
#root .ag-cell input[type='text'],
#root .ag-cell input[type='number'],
#root .ag-cell input[type='email'],
#root .ag-cell input[type='tell'] {
  height: 3.2rem;
  border: 1px solid #ddd;
  background-color: #fff;
}
#root .ag-cell input[type='text']:hover,
#root .ag-cell input[type='text']:focus,
#root .ag-cell input[type='text']:active,
#root .ag-cell input[type='number']:hover,
#root .ag-cell input[type='number']:focus,
#root .ag-cell input[type='number']:active,
#root .ag-cell input[type='email']:hover,
#root .ag-cell input[type='email']:focus,
#root .ag-cell input[type='email']:active,
#root .ag-cell input[type='tell']:hover,
#root .ag-cell input[type='tell']:focus,
#root .ag-cell input[type='tell']:active {
  box-shadow: none;
  border: 1px solid #002d85;
}
#root .ag-cell input[type='text']:focus {
  border: 1px solid #002d85;
}
#root .ag-cell:focus,
#root .ag-cell-focus {
  outline: none;
  border: 1px solid transparent;
  border-right: 1px solid #ddd;
}
#root .ag-cell--text-left {
  justify-content: flex-start;
}
#root .ag-row:focus,
#root .ag-row.ag-row.focus {
  background-color: transparent;
}
#root .ag-header-row-column-filter {
  background-color: #eee;
}
#root .ag-header-row-column-filter .ag-floating-filter-body .ag-floating-filter-input {
  padding: 0 1.6rem;
}

#root .ag-header-row-column-filter .ag-floating-filter-button {
  background-color: #fff;
  position: absolute;
  right: 2.6rem;
}
#root .ag-icon.ag-icon-filter {
  /*
  font-size: 0;
  width: 2rem;
  height: 2rem;
  background-color: #000;
  */
}
#root .ag-icon.ag-icon-filter::after {
  font-size: 0;
}
#root .ag-header-row-column-filter .ag-floating-filter-body .ag-floating-filter-input input {
  background-color: #fff;
  border: 1px solid #ddd;
  height: 3.2rem;
  padding-right: 3.2rem;
}
#root .ag-header-row-column-filter .ag-floating-filter-body .ag-floating-filter-input input:focus {
  border: 1px solid #002d85;
  box-shadow: none;
}
#root .ag-header-row-column-filter .ag-cell-label-container {
}
#root .ag-header-row-column-filter .ag-header-cell-label {
  /*background-color: #fff;*/
  justify-content: center;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
#root .ag-header-cell-label {
  background-color: #f8f8f8;
  justify-content: center;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
#root .ag-pinned-left-header {
  border-right: 0;
}
#root .ag-pinned-left-cols-container .ag-row .ag-cell {
  /*
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  box-shadow: none;
  border-left: 0;
  */
}
#root .ag-checkbox-input-wrapper {
  width: 1.4rem;
  height: 1.4rem;
}
#root.ag-input-field,
#root .ag-select {
  justify-content: center;
  width: 100%;
}
#root .ag-checkbox-cell {
  width: 100%;
  justify-content: center;
}
#root .ag-selection-checkbox {
  width: 100%;
  height: 100%;
  box-shadow: none;
  justify-content: center;
}
#root .ag-cell-wrapper {
}
#root .ag-checkbox-input-wrapper .ag-checked {
  background-color: #002d85;
  box-shadow: none;
}
#root .ag-checkbox-input-wrapper::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: none;
  /*
  background-color: #fff;
  color: #ddd;
  */
}
#root .ag-checkbox-input-wrapper.ag-checked::after {
  content: '';
  display: block;
  background-image: url(/src/assets/images/icon/check_icon.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  /*
  background-color: #fff;
  color: #002d85;
  */
}
#root .ag-checkbox-input-wrapper.ag-checked:disabled::after {
  color: #666;
}
.ag-checkbox-input-wrapper input:disabled,
.ag-checkbox-input-wrapper input:disabled {
}
#root [class^='ag-']:focus,
#root [class^='ag-']:after,
#root [class^='ag-']:before {
  border-color: transparent;
}
#root .ag-row .ag-cell[aria-colindex='1']::before {
  content: '';
  width: 4px;
  height: calc(100% + 2px);
  position: absolute;
  left: 0;
  top: -1px;
  background-color: transparent;
}
#root .ag-row.add-row {
  background-color: rgba(84, 220, 0, 0.08);
}
#root .ag-row.add-row .ag-cell[aria-colindex='1']::before {
  background-color: rgba(84, 220, 0, 1);
}
#root .ag-row.add-row .ag-cell {
  background-color: rgba(84, 220, 0, 0.08);
}
#root .ag-row.modify-row {
  background-color: rgba(255, 199, 0, 0.08);
}
#root .ag-row.modify-row .ag-cell[aria-colindex='1']::before {
  background-color: rgba(255, 199, 0, 1);
}
#root .ag-row.modify-row .ag-cell {
  background-color: rgba(255, 199, 0, 0.08);
}
#root .ag-row.delete-row {
  background-color: rgba(255, 69, 92, 0.08) !important;
}
#root .ag-row.delete-row .ag-cell[aria-colindex='1']::before {
  background-color: rgb(255, 69, 92) !important;
}
#root .ag-row.delete-row .ag-cell {
  background-color: rgb(255, 69, 92, 0.08) !important;
}
#root .ag-row-selected .ag-cell {
  background-color: #fff;
  box-shadow: none;
  border: 1px solid transparent;
  border-right: 1px solid #ddd;
}
#root .ag-row-selected .ag-cell:hover {
  background-color: #fff;
  opacity: 1;
}
/*
#root .ag-textarea-wrap .ag-row-selected .ag-cell .ag-cell-wrapper {
  height: 184px;
}
*/
#root .ag-ltr .ag-header-select-all {
  background-color: #e0eef8;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#root .ag-row-hover::before,
#root .ag-row-focus,
#root .ag-row-selected::before,
#root .ag-row-focus:hover #root .ag-row-selected:hover::before,
#root .ag-row-even,
#root .ag-row-selected .ag-cell:hover {
  background-color: #fff;
}
#root .ag-row-selected::before {
  content: none;
}
#root .ag-header-cell-text {
  font-size: 1.4rem;
}
#root .ag-grid-textarea {
  background-color: #fff;
  border: 1px solid #002d85;
  outline: none;
  box-shadow: none;
}
#root .ag-grid-textarea:focus {
  border: 1px solid #002d85;
  outline: none;
  box-shadow: none;
}
#root .ag-cell[col-id='multiValue'] {
  justify-content: flex-start;
}
#root .ag-grid-multicell {
  width: 100%;
}
#root .ag-grid-multicell table {
  table-layout: fixed;
  width: 100%;
}
#root .ag-grid-multicell table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#root .ag-grid-multicell td:first-child {
  width: 6.2rem;
}
#root .ag-header-cell-menu-button {
  opacity: 1;
  display: none;
}
/*  radio */
#root .ag-radio-button-input-wrapper {
  background-color: #fff;
}
#root .ag-radio-button-input-wrapper.ag-checked::after {
  color: #002d85;
}
#root .ag-select .ag-picker-field-wrapper {
  background-color: #fff;
  border: 1px solid #ddd;
  outline: none;
  box-shadow: none !important;
}
#root .ag-select .ag-picker-field-wrapper:hover,
#root .ag-select .ag-picker-field-wrapper:focus,
#root .ag-select .ag-picker-field-wrapper:active {
  box-shadow: none;
}
#root input[class^='ag-'] {
  background-color: #fff;
  border: 1px solid #ddd;
  outline: none;
}
#root input[class^='ag-']:hover,
#root input[class^='ag-']:focus,
#root input[class^='ag-']:active {
  border: 1px solid #ddd;
  box-shadow: none;
}
#root .ag-popup .ag-filter {
  background-color: #f3f4f8;
}
#root .ag-filter-wrap.ag-filter-wrap .ag-header {
  min-height: 82px !important;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#root .ag-filter-wrap.ag-filter-wrap-on .ag-header {
  min-height: 43px !important;
  height: 43px !important;
}
#root .ag-header.ag-header-allow-overflow .ag-header-row {
  border-bottom: 1px solid #ddd;
}
#root .ag-select-list-item {
  background-color: #fff;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
#root .ag-select .ag-picker-field-display {
  cursor: pointer;
}
#root .ag-select-list-item:hover {
  background-color: #f3f4f8;
}
#root .ag-header-viewport {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #f8f8f8;
}
#root .ag-layout-normal {
}
#root .ag-body-clipper .ag-center-cols-viewport {
}
/*
left: 0;
    font-size: 1.2rem;
    background: #fff;
    border: 1px solid red;
    padding: 0.4rem 1rem;

    transition: all 0.25s ease-in-out;
    opacity: 0;
    opacity: 1;
    top: -100%;
    top: calc(100% + 0.4rem);
    border-radius: 0 0.8rem 0.8rem 0.8rem;

    left: 3rem;
    background: red;
    color: #fff;
    font-weight: 600;
*/

/*
#root .ag-header-cell-menu-button {
  position: absolute;
  right: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
}
#root .ag-cell-inline-editing {
 
}
#root .ag-cell-inline-required .ag-cell-edit-wrapper::before {
  content: '*';
  display: inline-block;
  position: absolute;
  color: red;
  font-size: 1.6rem;
  left: 0.4rem;
  top: 50%;
  transform: translateY(-50%);
}
*/
