@import './common/_common';
@import './common/_layout';
@import './common/_responsive';

.main-box-wrap{
    .main-box{
        border:1px solid $gray03;
        .main-box-top{
            @include flexbox(row, space-between, center);
            padding:0 1.6rem;
            height:6rem;
            border-radius:0.4rem;
            h3{
                margin-right:0.8rem;
            }
        }
        .main-box-con{
            padding:1.6rem;
        }
        
        
    }
}