{[>layout/admin-header]}


<div class="admin-con-head">
    <div class="admin-title-wrap">
        <h3>
            <span class="icon-box icon-size-24 icon-admin-user"></span>
            회원관리
        </h3>
        <!-- 주석 풀면 자리 잡혀있음.
        <button class="btn">
          추가
        </button>
        -->
        <div class="select" aria-label="select" data-size="MD" data-status="" data-icon="">
            <button class="select-btn" aria-label="selectValue">
                <span class="icon-box icon-size-sm icon-smile"></span>
                <span class="select-value" data-default-text="전체">
                  전체
                </span>
            </button>
            <div class="option-box" aria-label="option-box">
                <div>
                    <button class="option" aria-label="option" title="관리자" disabled>
                    <span>
                        관리자
                    </span>
                    </button>
                    <button class="option" aria-label="option" title="교수" disabled>
                    <span>
                      교수
                    </span>
                    </button>
                    <button class="option" aria-label="option" title="회원" disabled>
                  <span>
                    회원
                  </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="admin-con-body">
    <div class="admin-inner">
        <div class="table-wrap board-list">
            <div class="table-head">
                <div class="flex-box  align-center">
                    <span>
                        Total 11건 1 페이지
                    </span>

                </div>
            </div>
            <div class="table-body">
                <table class="table table-fixed ">
                    <thead>
                    <tr>
                        <th class="number">
                            번호
                        </th>
                        <th class="title">
                            제목
                        </th>
                        <th class="date">
                            날짜
                        </th>
                        <th style="width:165px">
                            관리
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                                <span>
                                    5
                                </span>
                        </td>
                        <td class="title">
                            <a href="#">
                                공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지
                            </a>
                        </td>
                        <td>
                                <span>
                                    2323.11.14
                                </span>
                        </td>
                        <td>
                            <div class="flex-box gap-10 align-center">
                                <button class="btn admin-btn-type-01">
                                    승인
                                </button>
                                <button class="btn admin-btn-type-02">
                                    취소
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-foot">
                <div class="pagination">
                    <ul>
                        <li>
                            <a href="">
                                <span></span>
                            </a>
                        </li>
                        <li class="on">
                            <a href="" >
                                <span>1</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>2</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>3</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>4</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>5</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{[>layout/admin-footer]}