{[>layout/admin-header]}

<!--item-wrap-->
<div class="item-wrap">
    <div class="content-title-wrap">
        <h2>
            기관 계정만 접근(권한테스트)
        </h2>
    </div>
</div>
<!--item-wrap-->
<div class="item-wrap">
    <div class="item-box">
        <div class="item-con main-top-box">
            <div class="main-top-list">
                <div class="top">
                    <span>
                        Delay
                    </span>
                    <button class="btn btn-icon main_top_open_icon"></button>
                </div>
                <div class="body">
                    <ul>
                        <li>
                            <p>
                                <span>DOM</span> : 3 / <span class="sub-color02">2</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>INT</span> : 3 / <span class="sub-color02">2</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>CGO</span> : 3 / <span class="sub-color02">2</span>
                            </p>
                        </li>
                    </ul>
                    <div>
                        <div class="warning-icon icon-box warning-on-icon"></div>
                        <p>12<span>&nbsp;/&nbsp;12</span></p>
                    </div>
                </div>
            </div>
            <div class="main-top-list">
                <div class="top">
                    <span>
                        Cancel
                    </span>
                    <button class="btn btn-icon main_top_open_icon"></button>
                </div>
                <div class="body">
                    <ul>
                        <li>
                            <p>
                                <span>DOM</span> : 3 / <span class="sub-color02">2</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>INT</span> : 3 / <span class="sub-color02">2</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>CGO</span> : 3 / <span class="sub-color02">2</span>
                            </p>
                        </li>
                    </ul>
                    <div>
                        <div class="warning-icon icon-box"></div>
                        <p>3</p>
                    </div>
                </div>
            </div>
            <div class="main-top-list">
                <div class="top">
                            <span>
                                Ramp REturn
                            </span>
                    <button class="btn btn-icon main_top_open_icon"></button>
                </div>
                <div class="body">
                    <ul>
                        <li>
                            <p>
                                <span>DOM</span> : 3 / <span class="sub-color02">2</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>INT</span> : 3 / <span class="sub-color02">2</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>CGO</span> : 3 / <span class="sub-color02">2</span>
                            </p>
                        </li>
                    </ul>
                    <div>
                        <div class="warning-icon icon-box"></div>
                        <p>1</p>
                    </div>
                </div>
            </div>
            <div class="main-top-list">
                <div class="top">
                            <span>
                                Air REturn
                            </span>
                    <button class="btn btn-icon main_top_open_icon"></button>
                </div>
                <div class="body">
                    <ul>
                        <li>
                            <p>
                                <span>DOM</span> : 3 / <span class="sub-color02">2</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>INT</span> : 3 / <span class="sub-color02">2</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>CGO</span> : 3 / <span class="sub-color02">2</span>
                            </p>
                        </li>
                    </ul>
                    <div>
                        <div class="warning-icon icon-box"></div>
                        <p>1</p>
                    </div>
                </div>
            </div>
            <div class="main-top-list">
                <div class="top">
                            <span>
                                Divert
                            </span>
                    <button class="btn btn-icon main_top_open_icon"></button>
                </div>
                <div class="body">
                    <ul>
                        <li>
                            <p>
                                <span>DOM</span> : 3 / <span class="sub-color02">2</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>INT</span> : 3 / <span class="sub-color02">2</span>
                            </p>
                        </li>
                        <li>
                            <p>
                                <span>CGO</span> : 3 / <span class="sub-color02">2</span>
                            </p>
                        </li>
                    </ul>
                    <div>
                        <div class="warning-icon icon-box"></div>
                        <p>1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--item-wrap-->
<div class="item-wrap">
    <div class="item-box col-auto main-bottom-box">
        <div class="item-con">
            <div class="tab-wrap">
                <div class="tab tab-baord">
                    <ul>
                        <li class="on">
                            <span>공지사항</span>
                        </li>
                        <li>
                            <span>Report</span>
                        </li>
                        <div class="tab-line"></div>
                    </ul>
                </div>
                <div class="table-list scroll-wrap tab-con on">
                    <table class="table">
                        <caption>공지사항</caption>
                        <thead>
                        <tr>
                            <th class="col-4">
                                            <span>
                                                Title
                                            </span>
                            </th>
                            <th>
                                            <span>
                                                Edited
                                            </span>
                            </th>
                            <th>
                                            <span>
                                                Effective
                                            </span>
                            </th>
                            <th>
                                            <span>
                                                Edited
                                            </span>
                            </th>
                            <th class="col-1 ">
                                            <span>
                                                Effective
                                            </span>
                            </th>
                            <th>
                                            <span>
                                                수정 권한
                                            </span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="table-list scroll-wrap tab-con">
                    <table class="table">
                        <caption>Report</caption>
                        <thead>
                        <tr>
                            <th class="col-4">
                                            <span>
                                                Title
                                            </span>
                            </th>
                            <th>
                                            <span>
                                                Edited
                                            </span>
                            </th>
                            <th>
                                            <span>
                                                Effective
                                            </span>
                            </th>
                            <th>
                                            <span>
                                                Edited
                                            </span>
                            </th>
                            <th class="col-1 ">
                                            <span>
                                                Effective
                                            </span>
                            </th>
                            <th>
                                            <span>
                                                수정 권한
                                            </span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차2
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                            <span>
                                                [업무절차] TCAS INOP 시 운영 절차
                                            </span>
                            </td>
                            <td >
                                            <span title="값이 길어질 시 보이는 툴팁">
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                2023 08 16
                                            </span>
                            </td>
                            <td >
                                            <span>
                                                이름
                                            </span>
                            </td>
                            <td >
                                <div class="btn-wrap flex-between">
                                    <button class="btn btn-type05 btn-size-s">FC</button>
                                    <button class="btn btn-type04 btn-size-s">FM</button>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <script>
                tab('tab-baord');
            </script>
        </div>
    </div>
    <div class="item-box item-box-col main-bottom-box">
        <div class="item-box">
            <div class="item-con">
                <div class="item-title">
                    <h3>
                        WEATHER
                    </h3>
                </div>
                <div class="text-board text-board-warning">
                    <div class="text-board-top">
                        <h3>
                            <span class="icon-box air-warning"></span>주의 공항
                        </h3>
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:void:(0)">
                                IATA_PORT MAN_ISS_DT ~ MAN_EXP_DT : WX_TYP
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void:(0)">
                                IATA_PORT MAN_ISS_DT ~ MAN_EXP_DT : WX_TYP
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void:(0)">
                                IATA_PORT MAN_ISS_DT ~ MAN_EXP_DT : WX_TYP
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void:(0)">
                                IATA_PORT MAN_ISS_DT ~ MAN_EXP_DT : WX_TYP
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void:(0)">
                                IATA_PORT MAN_ISS_DT ~ MAN_EXP_DT : WX_TYP
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void:(0)">
                                IATA_PORT MAN_ISS_DT ~ MAN_EXP_DT : WX_TYP
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item-box">
            <div class="item-con">
                <div class="item-title">
                    <h3>
                        NOTAM
                    </h3>
                </div>
                <div class="text-board text-board-warning">
                    <div class="text-board-top">
                        <h3>
                            <span class="icon-box air-warning"></span>주의 공항
                        </h3>
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:void:(0)">
                                IATA_PORT MAN_ISS_DT ~ MAN_EXP_DT : WX_TYP
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void:(0)">
                                IATA_PORT MAN_ISS_DT ~ MAN_EXP_DT : WX_TYP
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void:(0)">
                                IATA_PORT MAN_ISS_DT ~ MAN_EXP_DT : WX_TYP
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void:(0)">
                                IATA_PORT MAN_ISS_DT ~ MAN_EXP_DT : WX_TYP
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void:(0)">
                                IATA_PORT MAN_ISS_DT ~ MAN_EXP_DT : WX_TYP
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void:(0)">
                                IATA_PORT MAN_ISS_DT ~ MAN_EXP_DT : WX_TYP
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

{[>layout/admin-footer]}
