{[>layout/admin-header]}

<div class="admin-con-head">
    <div class="admin-title-wrap">
        <h3>
            <span class="icon-box icon-size-24 icon-"></span>
            시설관리
        </h3>
    </div>
</div>
<div class="admin-con-body">
            <div class="admin-inner">

              <div id="body-template" class="table-wrap">
                <div  class="table-body">
                    <table class="admin-table admin-detail">
                      <tbody>
                        <tr>
                          <th> 
                            <span>장비명</span>
                          </th>
                          <td colspan="3">
                            <span>{{name}}</span> 
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <span>장비내용</span>
                          </th>
                          <td colspan="3">
                            <span>{{{description}}}</span>
                          </td>
                        </tr>
                        <tr>
                          <th class="vertical-t"> 
                            <span>대표 이미지</span>
                          </th>
                          <td colspan="3">
                            <div class="img-box">
                              <img src="{{imageUrl}}" alt="강의실">
                            </div>
                          </td>
                        </tr>
                        
                      </tbody>
                    </table>
                </div>
              </div>


              <div class="table-wrap board-list">
                <div class="table-body">
                    <table class="table table-fixed">
                        <thead>
                            <tr>
                                <th class="td-num">
                                    번호
                                </th>
                                <th class="td-title">
                                  장비명
                                </th>
                                <th class="td-id">
                                  장비내용
                                </th>
                            </tr>
                        </thead>
                        <tbody id="list-body">
                            <tr>
                                <td colspan="3">등록된 글이 없습니다.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-foot">
                    {[>layout/pagination]}
                </div>
              </div>
              <div class="flex-box justify-center align-center admin-btn-wrap">
                <button class="btn btn-type-04" onClick="history.back()">
                    취소하기
                </button>
                <button class="btn btn-type-03" onClick="location.href='/admin/facility-modify/{[id]}'">
                    수정하기
                </button>
              </div>
            </div>
          </div>
     <input type="hidden" id="facilityId" name="facilityId" value="{[id]}" />

<script id="table-template" type="text/template">
{{#contents}}
    <tr>
        <td>
            <span>
                {{no}}
            </span>
        </td>
        <td class="td-title">
          <a href="" >
            <div class="flex-box gap-24 align-center">
                <img src="{{imageUrl}}" alt="장비 이미지">
                <span>{{name}}</span>
            </div>
          </a>
        </td>
        <td>
          <span>
            {{{}}}
          </span>
        </td>
    </tr>
{{/contents}}
</script>
<script type="module" src="/assets/js/admin/facility/facility-detail.js"></script>
{[>layout/admin-footer]}