<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KDP 관리자</title>
    <!-- 로컬소스 -->
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/font.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script src="/assets/js/jquery-3.7.0.js"></script>
</head>
<body>
<div class="wrap" id="root">
    <!--content -->
    <section class="main content">
        <!-- header -->
        <header>
            <div class="inner">
                <div class="lnb">
                    <div class="btn-wrap">
                        <button class="btn btn-icon btn-hamburger"></button>
                    </div>
                    <h2 class="head-text">
                        KDP 관리자
                    </h2>
                </div>
                <div class="head-search-wrap rnb">
                    <div class="input-wrap head-search">
                        <input type="search" placeholder="Search">
                    </div>
                    <div class="input-wrap select">
                        <button class="btn btn-icon btn-head-search" type="submit"></button>
                        <div class="dropdown" rel="dropdown">
                            <span href="javascript:void(0)" class="dropdown-toggle ">선택</span>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)" title="test01">test01</a></li>
                                <li><a href="javascript:void(0)" title="test01">test02</a></li>
                                <li><a href="javascript:void(0)" title="test01">test03</a></li>
                                <li><a href="javascript:void(0)" title="test01">test04</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- content container -->
        <div class="container">
            <!-- inner container -->
            <div class="inner">