        </main>
        <div class="admin-foot">
            <p>copyright ⓒ 2023 sehan university. all rights reserved.</p>
        </div>

    </div>

</section>

</body>
</html>
<script src="../../../assets/js/plugin/swiper/swiper-bundle.min.js"></script>
<script src="../../../assets/js/jquery-3.7.0.min.js"></script>
<script src="../../../assets/js/common.js"></script>
<script src="../../../assets/js/header.js"></script>