        </div>
        <!--//inner-->
    </section>
    <!--//content-->

    <!--chat-wrap -->
    <section class="chat-wrap right-content">

    </section>
</div>

<!-- init common.js -->
<script src="/assets/js/common.js"></script>

</body>
</html>