<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KDP 공유 장비 시스템</title>
    <!--favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- /favicons -->
    <!-- 로컬소스 -->
    <link rel="stylesheet" href="../../../assets/css/common/reset.css" />
    <link rel="stylesheet" href="../../../assets/css/common/font.css" />
    <link rel="stylesheet" href="../../../assets/css/admin/admin.css" />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
</head>
<style>
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }
</style>
<body>
<div class="admin-head">
    <div class="flex-box justify-between align-center h-full p-left-16 p-right-16">
        <div class="left">
            <button class="logo-wrap">
                <h1 class="admin-logo"></h1>
            </button>
        </div>
        <div class="admin-head-right">
            <div class="flex-box">
                <span><b>{[userName]}</b> 님 반갑습니다.</span>
                <button class="btn btn-icon" onclick="location.href='/auth/logout_proc'"><span class="material-symbols-outlined"> 로그아웃 </span></button>
                <button class="btn btn-icon" onclick="location.href='/'" aria-label="home btn">
                    <span class="icon-box icon-size-20 icon-white-home"></span>
                </button>
                <button class="btn btn-icon admin-menu-btn menu only-m-inlineblock" aria-label="menu btn">
                    <span class="icon-box icon-size-40 icon-admin-menu"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<section class="admin-contents">
    {[>layout/admin-side]}
    <div class="admin-container">
        <main class="admin-con">