<!DOCTYPE html>
<html lang="ko">
<head>
    <title>퍼블리셔 테스트 폼</title>
    <meta charset="utf-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="naver-site-verification" content=""/>
    <meta name="keywords" content="퍼블리셔 테스트 폼">
    <meta name="description" content="퍼블리셔 테스트 폼">
    <meta name="subject" content="퍼블리셔 테스트 폼">
        
    <meta property="og:type" content="website">
    <meta property="og:title" content="퍼블리셔 테스트 폼"/>
    <meta property="og:description" content="퍼블리셔 테스트 폼"/>
    <meta property="og:image" content=""/>
        
    <meta property="og:url" content="">
    <!-- 로컬소스 -->
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/font.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script src="/assets/js/jquery-3.7.0.js"></script>
</head>
<body>
<header>{{>layout/navigation}}</header>
