<!DOCTYPE html>
<html lang="ko">
<head>
   <title> K-하이테크 플렛폼</title>
    <meta charset="utf-8">

    <!--favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">

    <!-- /favicons -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="naver-site-verification" content=""/>
    <meta name="keywords" content=" K-하이테크 플렛폼">
    <meta name="description" content=" K-하이테크 플렛폼">
    <meta name="subject" content=" K-하이테크 플렛폼">
        
    <meta property="og:type" content="website">
    <meta property="og:title" content=" K-하이테크 플렛폼"/>
    <meta property="og:description" content=" K-하이테크 플렛폼"/>
    <meta property="og:image" content=""/>
        
    <meta property="og:url" content="">
    <link rel="stylesheet" href="/assets/css/common/reset.css" />
    <link rel="stylesheet" href="/assets/css/common/font.css" />
    <link rel="stylesheet" href="/assets/css/main/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--summer note 스마트에디터-->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
   

</head>
<body>
{[^userId]}
<script>
    console.log('로그인 정보 없음 - 토큰 초기화..');
    document.cookie = "accessToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    document.cookie = "refreshToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
</script>
{[/userId]}
<header class="header">{[>layout/navigation]}</header>
