<!--FIXME SCSS로 변경 필요-->
<style>
    #navigation.inner.on .head-con .gnb nav > ul .gnb-depth-02{
        height:150px;
    }
    #navigation.inner.on .gnb_bg{
        height:150px;
    }
</style>

<div class="head-top">  
    <div class="inner">
        <div class="flex-box justify-end sm-justify-center">
            <a href="#">
                로그인
            </a>
            <a href="#">
                로그아웃
            </a>
            <a href="#" >
                회원가입
            </a>
            <a href="#">
                마이페이지
            </a>
        </div>
    </div>
</div>

<div class="inner" id="navigation">
    <div class="head-con">
        <div class="logo-wrap">
            <div class="logo">
                <a href="#"><span><img src="../../assets/images/common/Logo.png" alt="K-하이테크 플랫폼"></span></a>
            </div>
        </div>
        <div class="gnb">
            <nav>
                <ul class="flex-box">
                    <li class="gnb-depth-01">
                        <a href="#">
                            <span>
                                KDP소개
                            </span>
                        </a>
                        <div class="gnb-depth-02">
                            <ul>
                                <li>
                                    <a href="/contents/about">
                                        <span>
                                            사업소개
                                        </span>
                                    </a>
                                </li>
                                {{! <li>
                                    <a href="#">
                                        <span>
                                            인사말
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            오시는길
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            MOU기관
                                        </span>
                                    </a>
                                </li> }}
                            </ul>
                        </div>
                    </li>
                    {{! <li class="gnb-depth-01">
                        <a href="#">
                            <span>
                                교육/장비소개
                            </span>
                        </a>
                        <div class="gnb-depth-02">
                            <ul>
                                <li>
                                    <a href="#">
                                        <span>
                                            교육과정 안내
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            교육일정 안내
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            공유장비소개
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>
                                            공유시설소개
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li> }}
                    <li class="gnb-depth-01">
                        <a href="#">
                            <span>
                                교육신청
                            </span>
                        </a>
                        <div class="gnb-depth-02">
                            <ul>
                                <li>
                                    <a href="/contents/edu-list">
                                        <span>
                                            수강신청
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:alert('준비 중입니다.')" >
                                        <span>
                                            신청현황
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:alert('준비 중입니다.')" >
                                        <span>
                                            신청확인/취소
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="gnb-depth-01">
                        <a href="#">
                            <span>
                                시설/장비예약
                            </span>
                        </a>
                        <div class="gnb-depth-02">
                            <ul>
                                <li>
                                    <a href="/contents/share-list#equipments">
                                        <span>
                                            시설 예약
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/contents/share-list#equipments">
                                        <span>
                                            장비 예약
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:alert('준비 중입니다.')" >
                                        <span>
                                            예약현황
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:alert('준비 중입니다.')" >
                                        <span>
                                            예약확인/취소
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="gnb-depth-01">
                        <a href="#">
                            <span>
                                Sehan_KDP일정
                            </span>
                        </a>
                        <div class="gnb-depth-02">
                            <ul>
                                <li>
                                    <a href="/contents/calendar">
                                        <span>
                                            칼렌다
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="gnb-depth-01">
                        <a href="#">
                            <span>
                                커뮤니티
                            </span>
                        </a>
                        <div class="gnb-depth-02">
                            <ul>
                                <li>
                                    <a href="/contents/notice">
                                        <span>
                                            공지사항
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/contents/data">
                                        <span>
                                            자료실
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/contents/faq">
                                        <span>
                                            FAQ
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/contents/qna">
                                        <span>
                                            QnA
                                        </span>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </li>
                    <li class="gnb-depth-01">
                        <a href="#">
                            <span>
                                단체문의
                            </span>
                        </a>
                        <div class="gnb-depth-02">
                            <ul>
                                <li>
                                    <a href="/contents/group-qna">
                                        <span>
                                            단체문의
                                        </span>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="nav_btn_wrap">
            <button class="btn btn-icon"><span class="icon-box icon-menu"></span></button>
        </div>
    </div>
    <div class="gnb_bg"></div>
</div>
<script>
    var nav = document.getElementById("navigation")
    nav.onmouseenter = () =>{
        console.log('on mouseenter')
        nav.classList.add("on")
    };
    nav.onmouseleave = () =>{
        console.log('on mouseleave')
        nav.classList.remove("on")
    };
</script>