{[>layout/header]}
<section class="sub-top ">
    <div class="inner">
        <h2>
            시설신청
        </h2>
    </div>
</section>
<section class="sub-con content gallery-content">
    <div class="inner">
        <div class="gallery">
            
                <div class="gallery-detail">
                    <div class="gallery-detail-head">
                        <div class="img-box">
                            <img src="../../../../assets/images/sub/gallery_test_img.png" alt="testImg">
                        </div>
                        <div class="text-box">
                            <div class="gallery-detail-info">
                                <div class="title">
                                    <h6>근학관 VR실습실 105</h6>
                                </div>
                                <div class="input-wrap tit-type01">
                                    <p>일자 선택</p>
                                    <div class="flex-box gap-10">
                                        <div class="input-wrap">
                                            <div class="dropdown" rel="dropdown">
                                                <a href="javascript:void(0)" class="dropdown-toggle"data-value="value" data-placehorder="년"></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="javascript:void(0)">value</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="input-wrap">
                                            <div class="dropdown" rel="dropdown">
                                                <a href="javascript:void(0)" class="dropdown-toggle" data-placehorder="월"></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="javascript:void(0)">value</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="input-wrap">
                                            <div class="dropdown" rel="dropdown">
                                                <a href="javascript:void(0)" class="dropdown-toggle"></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="javascript:void(0)">value</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-wrap">
                                <button class="btn btn-type03 w-full">신청하기</button>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-detail-body">

                        <div class="block-text-wrap">
                            <span class="block-text">교육 내용</span>
                        </div>
                        <div class="textarea-wrap">
                            <p>
                                사용 중 소음으로 인하여 수업 또는 교수 연구실이나 다른 학생들의 강의실 사용에 방해가 되는 행위를 절대 삼가야 합니다.
교육 예약 승인 후 부득이한 경우로 사용하지 않게 될 경우 다른 학생을 위해 반드시 학생지원팀으로 교육 예약 취소를 요청해주시기 바랍니다.

                            </p>
                        </div>
                        <div class="block-text-wrap">
                            <span class="block-text">교육 내용</span>
                        </div>
                        <div class="textarea-wrap">
                            <p>
                                사용 중 소음으로 인하여 수업 또는 교수 연구실이나 다른 학생들의 강의실 사용에 방해가 되는 행위를 절대 삼가야 합니다.
교육 예약 승인 후 부득이한 경우로 사용하지 않게 될 경우 다른 학생을 위해 반드시 학생지원팀으로 교육 예약 취소를 요청해주시기 바랍니다.

                            </p>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</section>
{[>layout/footer]}