{{>layout/header}}
<section class="sub-top ">
    <div class="inner">
        <h2>
            장비신청
        </h2>
    </div>
</section>
<section class="sub-con content equipments-content">
    <div class="inner">
        <div class="equipments">
            <div class="equipments-body">
                <div class="equipments-list">
                    <a href="#">
                        <div class="img-box">
                            <img src="../../../../assets/images/sub/gallery_test_img.png" alt="testImg">
                        </div>
                        <div class="text-box">
                            <p>보안소프트웨어(SPIDER TM V5.0)</p>
                        </div>
                    </a>
                </div>
                <div class="equipments-list">
                    <a href="#">
                        <div class="img-box">
                            <img src="../../../../assets/images/sub/gallery_test_img.png" alt="testImg">
                        </div>
                        <div class="text-box">
                            <p>보안소프트웨어(SPIDER TM V5.0)</p>
                        </div>
                    </a>
                </div>
                <div class="equipments-list">
                    <a href="#">
                        <div class="img-box">
                            <img src="../../../../assets/images/sub/gallery_test_img.png" alt="testImg">
                        </div>
                        <div class="text-box">
                            <p>보안소프트웨어(SPIDER TM V5.0)</p>
                        </div>
                    </a>
                </div>
                <div class="equipments-list">
                    <a href="#">
                        <div class="img-box">
                            <img src="../../../../assets/images/sub/gallery_test_img.png" alt="testImg">
                        </div>
                        <div class="text-box">
                            <p>보안소프트웨어(SPIDER TM V5.0)</p>
                        </div>
                    </a>
                </div>
                <div class="equipments-list">
                    <a href="#">
                        <div class="img-box">
                            <img src="../../../../assets/images/sub/gallery_test_img.png" alt="testImg">
                        </div>
                        <div class="text-box">
                            <p>보안소프트웨어(SPIDER TM V5.0)</p>
                        </div>
                    </a>
                </div>
                <div class="equipments-list">
                    <a href="#">
                        <div class="img-box">
                            <img src="../../../../assets/images/sub/gallery_test_img.png" alt="testImg">
                        </div>
                        <div class="text-box">
                            <p>보안소프트웨어(SPIDER TM V5.0)</p>
                        </div>
                    </a>
                </div>
                <div class="equipments-list">
                    <a href="#">
                        <div class="img-box">
                            <img src="../../../../assets/images/sub/gallery_test_img.png" alt="testImg">
                        </div>
                        <div class="text-box">
                            <p>보안소프트웨어(SPIDER TM V5.0)</p>
                        </div>
                    </a>
                </div>
                <div class="equipments-list">
                    <a href="#">
                        <div class="img-box">
                            <img src="../../../../assets/images/sub/gallery_test_img.png" alt="testImg">
                        </div>
                        <div class="text-box">
                            <p>보안소프트웨어(SPIDER TM V5.0)</p>
                        </div>
                    </a>
                </div>
                
            </div>
            <div class="equipments-foot">
                <div class="pagination">
                    <ul>
                        <li>
                            <a href="">
                                <span></span>
                            </a>
                        </li>
                        <li class="on">
                            <a href="" >
                                <span>1</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>2</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>3</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>4</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>5</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{{>layout/footer}}