{[>layout/header]}
<section class="sub-top ">
    <div class="inner">
        <h2>
            장비신청
        </h2>
    </div>
</section>
<section class="sub-con content equipments-content">
    <div class="inner">
        <div class="equipments">
            <div id="equipments-table-body" class="equipments-body">
            </div>
            <div class="equipments-foot">
                {[>layout/pagination]}
            </div>
        </div>
    </div>
</section>
<script id="table-template" type="text/template">
{{#contents}}
    <div class="equipments-list">
        <a href="/contents/equipments-detail/{{id}}">
            <div class="img-box">
                <img src="/upload{{imageUrl}}" alt="{{name}}">
            </div>
            <div class="text-box">
                <p>{{name}}</p>
            </div>
        </a>
    </div>
{{/contents}}
</script>
<script type="module" src="/assets/js/home/contents/equipments.js"></script>
{[>layout/footer]}