<!DOCTYPE html>
<html lang="ko">
<head>
    <title> K-하이테크 플렛폼</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="naver-site-verification" content=""/>
    <meta name="keywords" content=" K-하이테크 플렛폼">
    <meta name="description" content=" K-하이테크 플렛폼">
    <meta name="subject" content=" K-하이테크 플렛폼">

    <meta property="og:type" content="website">
    <meta property="og:title" content=" K-하이테크 플렛폼"/>
    <meta property="og:description" content=" K-하이테크 플렛폼"/>
    <meta property="og:image" content=""/>

    <meta property="og:url" content="">
    <link rel="stylesheet" href="/assets/css/common/reset.css" />
    <link rel="stylesheet" href="/assets/css/common/font.css" />
    <link rel="stylesheet" href="/assets/css/main/main.css" />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<header class="header">{[>layout/temp/navigation]}</header>
