<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>Sehan K-DP WebSite Comming Soon</title>
</head>
<body>

<style>
    body{
        margin:0;
        padding:0;
        background-image: url(/assets/images/common/comming_soon.jpg);
        background-repeat: repeat-y;
        background-size: cover;
    }
</style>
</body>
</html>