 {[>layout/header]}

<!--item-wrap-->
<section class="sub-top sub-top-mypage">
  <div class="inner">
      <h2>
          마이페이지
      </h2>
  </div>
</section>
<!--item-wrap-->
<section class="sub-con content user-content">
  <div class="inner">
    <div class="board-tab">
      <ul>
          <li>
              <a href="/user/mypage" class="on">
                  <span>
                    개인정보 수정 
                  </span>
              </a>
          </li>
          <li>
              <a href="/user/edu-list">
                  <span>
                    교육이력
                  </span>
              </a>
          </li>
          <li>
              <a href="/user/share-list">
                  <span>
                    공유이력(시설/장비)
                  </span>
              </a>
          </li>
          <li>
              <a href="/user/secession">
                  <span>
                    회원탈퇴
                  </span>
              </a>
          </li>
      </ul>
    </div>
    <div class="flex-box align-center justify-center">
      <div class="p-t-96 user-wrap">
        <p class="user-wrap-title text-500 text-size-24 text-center m-b-12">
          개인정보 수정
        </p>  
        <div id="passwordChekForm">
          <p class="text-400 text-size-16 text-center m-b-32">비밀번호를 입력해주세요.</p>
          <!-- 비밀번호 확인 -->
          <div class="login-form flex-box gap-24 flex-wrap">
            <div id="passwordCheckField" class="textfield w-full"  data-type="password"  data-status="default" data-size="LG" data-icon="true">
              <input id="passwordCheckInput" type="password" placeholder="비밀번호를 입력해주세요">
              <p id="passwordCheckInputError" class="error-text">비밀번호가 일치하지 않습니다.</p>
            </div>
            <button id="pwdConfirmBtn" class="btn btn-type-01 w-full btn-size-xxl m-b-16" disabled>
              <span class="text-700 text-size-16">확인</span>
            </button>
          </div>
        </div>
        <!-- 개인정보 수정 폼 -->
        <div id="userModifyForm" class="flex-box align-center justify-center" style="display:none">
          <div class="p-t-96 user-wrap">
            <div class="login-form flex-box gap-24 flex-wrap">

              <div class="flex-box gap-8 flex-wrap w-full">
                <div class="textfield flex-1"  data-type="id"  data-status="readonly" data-size="LG" data-icon="true">
                    <input id="userId" type="text" placeholder="아이디를 입력해주세요"  readonly>
                    <p class="error-text">아이디 오류 메시지</p>
                </div>
              </div>
              <div class="flex-box gap-8 flex-wrap w-full">
                <div class="textfield flex-1"  data-type="name"  data-status="readonly" data-size="LG" data-icon="true">
                    <input id="userName" type="text" placeholder="이름을 입력해주세요"  readonly>
                    <p class="error-text">이름 오류 메시지</p>
                </div>
              </div>
              <div class="flex-box gap-8 flex-wrap w-full">
                <div id="passwordField" class="textfield flex-1"  data-type="password"  data-status="default" data-size="LG" data-icon="true">
                    <input type="password" id="password" placeholder="비밀번호">
                    <p class="error-text">영문 대소문자, 숫자, 특수문자 조합하여 8~16자 입력가능합니다</p>
                </div>
              </div>
              <div class="flex-box gap-8 flex-wrap w-full">
                <div id="confirmPasswordField" class="textfield flex-1"  data-type="passwordCheck"  data-status="default" data-size="LG" data-icon="true">
                    <input type="password"  id="confirmPassword"  placeholder="비밀번호 확인">
                    <p class="error-text">입력한 비밀번호와 일치하지 않습니다.</p>
                </div>
              </div>
              <div class="flex-box gap-8 flex-wrap w-full">
                <button class="genderBtn btn btn-type-05 flex-shink flex-1 w-96 i-h-48 btn-gender" data-value="M" data-status="active" onClick="genderActive(this)">
                  <span class="text-500">남자</span>
                </button>
                <button class="genderBtn btn btn-type-05 flex-shink flex-1 w-96 i-h-48 btn-gender" data-value="F" data-status="default" onClick="genderActive(this)">
                  <span class="text-500">여자</span>
                </button>
              </div>
             <div class="flex-box gap-8 flex-wrap w-full">
                <div class="textfield flex-1" id="emailField" data-type="email"  data-status="active" data-size="LG" data-icon="true">
                    <input type="text" id="email"  placeholder="이메일 주소">
                    <p class="error-text">이메일 형식으로 입력해주세요.</p>
                </div>
              </div>
              <div class="flex-box gap-8 flex-wrap w-full">
                <div class="textfield flex-1" id="phoneField"  data-type="phone"  data-status="active" data-size="LG" data-icon="true">
                    <input type="tel" placeholder="핸드폰 번호(번호만 입력)" id="phone">
                    <p class="error-text">휴대전화번호에 맞게 숫자로만 입력해주세요.</p>
                </div>
              </div>
              <div class="flex-box gap-8 flex-wrap w-full">
                <div class="select flex-1" aria-label="select" data-size="MD" data-status="" data-icon="true">
                  <button class="select-btn" aria-label="selectValue">
                      <span class="icon-box icon-size-sm icon-birth"></span>
                      <span class="select-value" data-default-text="생년월일">
                        생년월일
                      </span>
                  </button>
                  <div class="option-box" aria-label="option-box">
                    <div>
                      <button class="option" aria-label="option" disabled>
                          <span>
                              ValueValueValueValueValue
                          </span>
                      </button>
                      <button class="option" aria-label="option" disabled>
                          <span>
                              Value
                          </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-box gap-8 flex-wrap w-full">
                <div id="selectJoinPathField" class="select flex-1" aria-label="select" data-size="MD" data-status="active" data-icon="true">
                  <button class="select-btn" aria-label="selectValue">
                      <span class="icon-box icon-size-sm icon-smile"></span>
                      <span id="selectJoinPathText" class="select-value" data-default-text="유입경로">
                        유입경로
                      </span>
                  </button>
                  <div class="option-box" aria-label="option-box">
                    <div>
                      <button class="joinPathOption option" aria-label="option" data-option="C01" >
                          <span>
                              팜플렛(카탈로그)
                          </span>
                      </button>
                      <button class="joinPathOption option" aria-label="option" data-option="C02">
                          <span>
                              tv광고
                          </span>
                      </button>
                      <button class="joinPathOption option" aria-label="option" data-option="C03">
                          <span>
                              인터넷광고
                          </span>
                      </button>
                      <button class="joinPathOption option" aria-label="option" data-option="C04">
                          <span>
                              엘리베이터 광고
                          </span>
                      </button>
                      <button class="joinPathOption option" aria-label="option" data-option="C05">
                          <span>
                              인터넷검색
                          </span>
                      </button>
                      <button class="joinPathOption option" aria-label="option" data-option="C06">
                          <span>
                              신문
                          </span>
                      </button>
                      <button class="joinPathOption option" aria-label="option" data-option="C07">
                          <span>
                              현수맏
                          </span>
                      </button>
                      <button class="joinPathOption option" aria-label="option" data-option="C08">
                          <span>
                              지인소개
                          </span>
                      </button>
                      <button class="joinPathOption option" aria-label="option" data-option="C09">
                          <span>
                              기타
                          </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex-box gap-8 w-full">
                <button class="btn btn-type-06 btn-size-xxl flex-1" onClick="location.reload()">
                  <span class="text-size-16">취소하기</span>
                </button>
                <button id="modifyConfirmBtn" class="btn btn-type-01 btn-size-xxl flex-1" disabled>
                  <span class="text-size-16">수정하기</span>
                </button>
              </div>
              
            </div>
            
          </div>

        </div>
        
      </div>

    </div>
  </div>
    
</section>
<script type="module" src="/assets/js/home/mypage/modify.js"></script>
{[>layout/footer]}
