 {[>layout/header]}

<!--item-wrap-->
<section class="sub-top sub-top-mypage">
  <div class="inner">
      <h2>
          마이페이지
      </h2>
  </div>
</section>
<!--item-wrap-->
<section class="sub-con content user-content">
  <div class="inner">
    <div class="board-tab">
      <ul>
          <li>
              <a href="/user/mypage">
                  <span>
                    개인정보 수정 
                  </span>
              </a>
          </li>
          <li>
              <a href="/user/edu-list">
                  <span>
                    교육이력
                  </span>
              </a>
          </li>
          <li>
              <a href="/user/share-list" class="on">
                  <span>
                    공유이력(시설/장비)
                  </span>
              </a>
          </li>
          <li>
              <a href="/user/secession" >
                  <span>
                    회원탈퇴
                  </span>
              </a>
          </li>
      </ul>
    </div>
    <div class="table-wrap board-list">
      <p class="user-wrap-title text-500 text-size-24 text-center m-b-12">
        공유이력(시설/장비)
      </p>
      <div class="table-head">
          <div class="flex-box  align-center">
              <span>
                  Total 11건 1 페이지
              </span>
     
          </div>
      </div>
      <div class="table-body">
          <table class="table table-fixed ">
              <thead>
                  <tr>
                      <th class="number">
                          번호
                      </th>
                      <th class="title">
                          제목
                      </th>
                      <th class="date">
                          날짜
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>
                          <span>
                              5
                          </span>
                      </td>
                      <td class="title">
                          <a href="#">
                              공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지공지
                          </a>
                      </td>
                      <td>
                          <span>
                              2323.11.14
                          </span>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <div class="table-foot">
          <div class="pagination">
              <ul>
                  <li>
                      <a href="">
                          <span></span>
                      </a>
                  </li>
                  <li class="on">
                      <a href="" >
                          <span>1</span>
                      </a>
                  </li>
                  <li>
                      <a href="">
                          <span>2</span>
                      </a>
                  </li>
                  <li>
                      <a href="">
                          <span>3</span>
                      </a>
                  </li>
                  <li>
                      <a href="">
                          <span>4</span>
                      </a>
                  </li>
                  <li>
                      <a href="">
                          <span>5</span>
                      </a>
                  </li>
                  <li>
                      <a href="">
                          <span></span>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  </div>
    
</section>

{[>layout/footer]}
