{[>layout/header]}

<section class="sub-top ">
    <div class="inner">
        <h2>
            단체문의
        </h2>
    </div>
</section>
<section class="sub-con content group-qna">
    <div class="inner">
       <div class="group-qna-title">
           <!--FIXME style css로 빼기-->
           <h3 style="margin: 0 auto;text-align: center;font-size: 28px;padding: 0 0 30px;">담당자정보</h3>
       </div>
        

        <div class="card-wrap">
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <span>담당자</span>
                            </th>
                            <th>
                                <span>연락처</span>
                            </th>
                            <th>
                                <span>이메일</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span>홍길동</span></td>
                            <td><span>1588-1588</span></td>
                            <td><span>mail@mail.com</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-wrap">
            <div class="card-body">
                <ul>
                    <li>
                        연락 받으실 이메일 및 휴대전화 정보를 정확하게 입력해 주세요.
                    </li>
                    <li>
                        행사 최소 2일 전 (부서운영일 기준) 까지 대관 신청을 완료하여주시기 바랍니다.
                    </li>
                    <li>
                        메일주시면 영업일 기준 7일 이내에 담당자가 연락드리도록 하겠습니다.
                    </li>
                    <li>
                        평일 09:00~18:00
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

{[>layout/footer]}
