{[>layout/admin-header]}


<div class="admin-con-head">
    <div class="admin-title-wrap">
        <h3>
            <span class="icon-box icon-size-24 icon-"></span>
            회원관리
        </h3>
        <!-- 주석 풀면 자리 잡혀있음.
        <button class="btn">
          추가
        </button>
        -->
        <div class="select" aria-label="select" data-size="MD" data-status="" data-icon="">
            <button class="select-btn" aria-label="selectValue">
                <span class="icon-box icon-size-sm icon-smile"></span>
                <span class="select-value" data-default-text="전체">
                  전체
                </span>
            </button>
            <div class="option-box" aria-label="option-box">
                <div>
                    <button class="option" aria-label="option" title="전체" data-option="" disabled>
                    <span>
                        전체
                    </span>
                    </button>
                    <button class="option" aria-label="option" title="관리자" data-option="ROLE_ADMIN" disabled>
                    <span>
                        관리자
                    </span>
                    </button>
                    <button class="option" aria-label="option" title="교수" data-option="ROLE_PROFESSOR" disabled>
                    <span>
                        교수
                    </span>
                    </button>
                    <button class="option" aria-label="option" title="회원" data-option="ROLE_USER" disabled>
                    <span>
                            회원
                    </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="admin-con-body">
    <div class="admin-inner">
        <div class="table-wrap board-list">
            <div class="table-head">
                <div class="flex-box  align-center">
                   <span id="tableHeadText">
                        Total 0건 1 페이지
                    </span>

                </div>
            </div>
            <div class="table-body">
                <table class="table table-fixed ">
                    <thead>
                    <tr>
                        <th class="number">
                            번호
                        </th>
                        <th class="name">
                            이름
                        </th>
                        <th class="id">
                            아이디
                        </th>
                        <th class="role">
                            권한
                        </th>
                        <th class="date">
                            가입일
                        </th>
                        <th class="join-path">
                            유입경로
                        </th>
                        <th style="width:165px">
                            관리
                        </th>
                    </tr>
                    </thead>
                    <tbody id="list-body">
                        <tr>
                            <td colspan="7">등록된 글이 없습니다.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-foot">
                {[>layout/pagination]}
            </div>
        </div>
    </div>
</div>

<script id="table-template" type="text/template">
{{#contents}}
    <tr>
        <td>
            <span>
             {{no}}
            </span>
        </td>
        <td >
           <span>
            {{username}}
           </span>
        </td>
        <td>
            <span>
            {{userId}}
            </span>
        </td>
        <td>
            <span>
            {{roleText}}
            </span>
        </td>
        <td>
            <span>
            {{createdDateText}}
            </span>
        </td>
        <td>
            <span>
            {{channel}}
            </span>
        </td>
        <td>
            <div class="flex-box gap-10 align-center">
                <button class="memberModifyBtn btn admin-btn-type-01" data-value="{{id}}">
                    수정
                </button>
                <button class="memberDeleteBtn btn admin-btn-type-02" data-value="{{id}}">
                    취소
                </button>
            </div>
        </td>
    </tr>
{{/contents}}
</script>

<script type="module" src="/assets/js/admin/member/member-list.js"></script>

{[>layout/admin-footer]}