{[>layout/header]}

<section class="sub-top">
    <div class="inner">
        <h2>
            KDP일정
        </h2>
    </div>
</section>
<section class="sub-con content">
    <div class="inner">
        <div id='calendar'></div>
    </div>
</section>



<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>
<script type="module" src="/assets/js/home/contents/edu-calendar.js"></script>
{[>layout/footer]}
