{[>layout/header]}

<section class="sub-top ">
    <div class="inner">
        <h2>
            교육신청
        </h2>
    </div>
</section>
<section class="sub-con content gallery-content">
    <div class="inner">
        <div class="gallery">
            <div id="galleryDetail" class="gallery-detail">
                <div class="gallery-detail-head">
                    <div class="img-box">
                        <img src="/upload{{imageUrl}}" alt="{{name}}">
                    </div>
                    <div class="text-box">
                        <div class="gallery-detail-info">
                            <div class="block-text-wrap">
                                <span class="block-text">교육 내용</span>
                            </div>
                            <div class="title">
                                <h6>{{name}}</h6>
                            </div>
                            <ul>
                                <li>
                                    <span style="color:#003399;font-weight:bold;">접수기간</span> <span>｜</span> {{applicationStartDate}} ~ {{applicationEndDate}}
                                </li>
                                <li>
                                    <span style="color:#003399;font-weight:bold;">교육기간</span> <span>｜</span> {{startDate}} ~ {{endDate}}
                                </li>
                                <li>
                                    <span style="color:#003399;font-weight:bold;">담당교수</span> <span>｜</span> {{manager}}
                                </li>
                                <li>
                                    <span style="color:#003399;font-weight:bold;">정원</span> <span>｜</span> {{capacity}} 명
                                </li>
                                <li>
                                    <span style="color:#003399;font-weight:bold;">교육장소</span> <span>｜</span> {{location}}
                                </li>
                            </ul>
                        </div>
                        <div class="btn-wrap">
                            <button id="applicationBtn" class="btn btn-type-03 w-full">신청하기</button>
                        </div>
                    </div>
                </div>
                <div class="gallery-detail-body">

                    <div class="block-text-wrap">
                        <span class="block-text">교육 내용</span>
                    </div>
                    <div class="textarea-wrap">
                        <p>
                            {{{description}}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="eduId" name="id" value="{[id]}"/>
</section>

<script type="module" src="/assets/js/home/contents/edu-detail.js"></script>
{[>layout/footer]}
