{[>layout/header]}

<section class="sub-top ">
    <div class="inner">
        <h2>
            교육신청
        </h2>
    </div>
</section>
<section class="sub-con content gallery-content">
    <div class="inner">
        <div class="gallery">
            <div id="galleryDetail" class="gallery-detail">
                <div class="gallery-detail-head">
                    <div class="img-box">
                        <img src="/upload{{imageUrl}}" alt="{{name}}">
                    </div>
                    <div class="text-box">
                        <div class="gallery-detail-info">
                            <div class="block-text-wrap">
                                <span class="block-text">교육 내용</span>
                            </div>
                            <div class="title">
                                <h6>{{name}}</h6>
                            </div>
                            <ul>
                                <li>
                                    교육일정 <span>｜</span> {{startDate}} ~ {{endDate}}
                                </li>
                                <li>
                                    교육기간 <span>｜</span> {{timeDifferenceInDays}}일 {{timeDifferenceInHours}}시간
                                </li>
                                <li>
                                    교육시간 <span>｜</span> 매주 월~금(공휴일제외), 09:00~18:00
                                </li>
                            </ul>
                        </div>
                        <div class="btn-wrap">
                            <button id="applicationBtn" class="btn btn-type-03 w-full">신청하기</button>
                        </div>
                    </div>
                </div>
                <div class="gallery-detail-body">

                    <div class="block-text-wrap">
                        <span class="block-text">교육 내용</span>
                    </div>
                    <div class="textarea-wrap">
                        <p>
                            {{{description}}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="eduId" name="id" value="{[id]}"/>
</section>

<script type="module" src="/assets/js/home/contents/edu-detail.js"></script>
{[>layout/footer]}
