{[>layout/header]}

<section class="sub-top ">
    <div class="inner">
        <h2>
            교육신청
        </h2>
    </div>
</section>
<section class="sub-con content gallery-content">
    <div class="inner">
        <div id="gallery" class="gallery">
            
            

        </div>
    </div>
</section>
<script id="table-template" type="text/template">
{{#contents}}
<div class="gallery-list">
    <a href="#">
        <div class="img-box">
            <img src="{{imageUrl}}" alt="testImg">
        </div>
        <div class="text-box">
            <div class="text-box-head">
                <div class="title">
                    <h6>{{name}}</h6>
                </div>
                <ul>
                    <li>
                        교육일정 <span>｜</span> {{startDate}} ~ {{endDate}}
                    </li>
                    <li>
                        교육기간 <span>｜</span> {{timeDifferenceInDays}}일 {{timeDifferenceInHours}}시간
                    </li>
                    <li>
                        교육시간 <span>｜</span> 매주 월~금(공휴일제외), 09:00~18:00
                    </li>
                </ul>
            </div>
            <div class="btn-wrap">
                <button class="btn btn-type-03" onClick="location.href='/contents/edu-detail/{{id}}'"><em class="btn-text">상세보기</em><span class="icon-box icon-size-24 gallery-next-icon"></span></button>
            </div>
        </div>
    </a>
</div>
{{/contents}}
</script>

<script type="module" src="/assets/js/home/contents/edu-list.js"></script>
{[>layout/footer]}
