{[>layout/header]}

<section class="sub-top ">
    <div class="inner">
        <h2>
            FAQ
        </h2>
    </div>
</section>
<section class="sub-con content board-content">
    <div class="inner">
        <div class="board-tab">
            <ul>
                <li>
                    <a href="/contents/notice">
                        <span>
                            공지사항
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/data">
                        <span>
                            자료실
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/faq" class="on">
                        <span>
                            FAQ
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/qna">
                        <span>
                            QnA
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="table-wrap faq-list">
            <div class="table-body">
                <table class="table table-fixed">
                    <tbody>
                        <tr class="faq-q" onClick="handleTitleClick(this)">
                            <td>
                                <span>
                                    Q.
                                </span>
                            </td>
                            <td class="title">
                                <div class="faq-title">
                                    <span>교육을 목적으로 시설 및 장비를 대여해도 되나요?</span>
                                    <button class="btn btn-icon icon-btn"></button>
                                </div>
                            </td>
                        </tr>
                        <tr class="faq-a">
                            <td>
                                <span>
                                    A.
                                </span>
                            </td>
                            <td class="title">
                                <div class="faq-title">
                                    <span>영리적인 목적으로 강연이나 교육 세미나를 개최하거나, 
                                        공간 및 장비를 대여하는 행위는 금지되어 있습니다.</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="faq-q" onClick="handleTitleClick(this)">
                            <td>
                                <span>
                                    Q.
                                </span>
                            </td>
                            <td class="title">
                                <div class="faq-title">
                                    <span>신청조건 또는 주의사항이 있나요?</span>
                                    <button class="btn btn-icon icon-btn"><span class="icon-box icon-size-lg"></span></button>
                                </div>
                            </td>
                        </tr>
                        <tr class="faq-a">
                            <td>
                                <span>
                                    A.
                                </span>
                            </td>
                            <td class="title">
                                <div class="faq-title">
                                    <span>지역 내 모든 이용자는 시설을 활용할 수 있습니다. 예약한 날짜와 시간을 정확히 지켜주시기 바랍니다.</span>
                                </div>
                            </td>
                        </tr>
                        <tr class="faq-q" onClick="handleTitleClick(this)">
                            <td>
                                <span>
                                    Q.
                                </span>
                            </td>
                            <td class="title">
                                <div class="faq-title">
                                    <span>문의는 어디로 하면 되나요?</span>
                                    <button class="btn btn-icon icon-btn"><span class="icon-box icon-size-lg"></span></button>
                                </div>
                            </td>
                        </tr>
                        <tr class="faq-a">
                            <td>
                                <span>
                                    A.
                                </span>
                            </td>
                            <td class="title">
                                <div class="faq-title">
                                    <span>문의는 본관 3층 KDP 사무실을 직접 방문하시거나 
                                        1588-1588 또는 EMAIL@EMAIL.COM으로 연락 주시면 언제든 친절히 도움을 드리겠습니다.</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</section>
<script>
function handleTitleClick(obj){
    obj.classList.toggle('on')
}
</script>
{[>layout/footer]}
