{[>layout/header]}

<section class="sub-top ">
    <div class="inner">
        <h2>
            FAQ
        </h2>
    </div>
</section>
<section class="sub-con content board-content">
    <div class="inner">
        <div class="board-tab">
            <ul>
                <li>
                    <a href="/contents/notice">
                        <span>
                            공지사항
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/data">
                        <span>
                            자료실
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/faq" class="on">
                        <span>
                            FAQ
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/qna">
                        <span>
                            Q&A
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="table-wrap faq-list">
            <div class="table-head">
                {[#ADMIN]}
                <div class="flex-box  align-center justify-end">
                    <button class="btn btn-type05 btn-size-s" onClick="location.href='/contents/faq-write'">글쓰기</button>
                </div>
                {[/ADMIN]}
            </div>
            <div class="table-body">
                <table class="table table-fixed">
                    <tbody id="faq-body">
                        
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</section>
<script>
function handleTitleClick(obj){
    obj.classList.toggle('on')
}
</script>
<script id="faq-table-template" type="text/template">
{{#contents}}
     <tr class="faq-q" onClick="handleTitleClick(this)">
        <td>
            <span>
                Q.
            </span>
        </td>
        <td class="title">
            <div class="faq-title">
                <span>{{title}}</span>
                <button class="btn btn-icon icon-btn"><span class="icon-box icon-size-lg"></span></button>
            </div>
        </td>
    </tr>
    <tr class="faq-a">
        <td>
            <span>
                A.
            </span>
        </td>
        <td class="title">
            <div class="faq-title">
                <span>{{context}}</span>
            </div>
           <div class="title flex-box">
            {[#ADMIN]}
            <button class="btn btn-type05 btn-size-s" onClick="location.href='/contents/faq-modify/{{id}}'">수정</button>
            <button class="deleteBtn btn btn-type05 btn-size-s" data-value={{id}}>삭제</button>
            {[/ADMIN]}
           </div>
        </td>
    </tr>
{{/contents}}
</script>

<script type="module" src="/assets/js/home/board/faq.js"></script>
{[>layout/footer]}
