{[>layout/header]}

<section class="sub-top ">
    <div class="inner">
        <h2>
            공지사항
        </h2>
    </div>
</section>
<section class="sub-con content board-content">
    <div class="inner">
        <div class="board-tab">
            <ul>
                <li>
                    <a href="/contents/notice" class="on">
                        <span>
                            공지사항
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/data">
                        <span>
                            자료실
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/faq">
                        <span>
                            FAQ
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/qna">
                        <span>
                            Q&A
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="board-write">
            <h4 class="board-write-title">
                공지사항 작성 <span>공지사항에 등록할 내용을 작성해주세요.</span>
            </h4>
            <div class="board-write-head">
                <p class="input-title">제목</p>
                <div id="titleField" class="textfield w-full"  data-type="text"  data-status="default" data-size="LG" data-icon="">
                    <input id="title" type="text" placeholder="제목" onchange='textfieldChange(this,event)'>
                    <p class="error-text">오류 메시지</p>
                </div>
            </div>
            <div class="board-write-body">
                <p class="input-title">내용</p>
                <div id="descriptionField" class="textfield w-full"  data-type="textarea"  data-status="default" data-size="MD" data-icon="">
                    <div id="description"></div>
                    <p class="error-text">오류 메시지</p>
                    <!--<textarea placeholder="내용" class="i-min-h-350 i-max-h-350"></textarea>-->
                  </div>
            </div>
            <div class="board-write-foot">
                <p class="input-title">파일첨부</p>
                <div class="board-file-wrap">
                    <div class="textfield w-full"  data-type="file"  data-status="default" data-size="MD" data-icon="">
                        <input id="file-01" type="file" placeholder="대표 이미지" onchange='textfieldChange(this,event)'>
                        <label for="file-01">
                          Select Files
                        </label>
                        <p class="error-text"></p>
                    </div>
                    <div class="board-file-box">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="icon-box icon-size-sm icon-file"></span><span>첨부파일입니다.html</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon-box icon-size-sm icon-file"></span><span>첨부파일입니다.html</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="flex-box justify-center align-center board-write-btn-wrap">
            <button  class="btn btn-type-06" onClick="location.href='/contents/data'">
              취소하기
            </button>
            <button id="saveBtn" class="btn btn-type-03" disabled>
              추가하기
            </button>
          </div>
        </div>
</section>

<script type="module" src="/assets/js/home/board/notice-write.js"></script>
{[>layout/footer]}
