{{>layout/header}}

<section class="sub-top ">
    <div class="inner">
        <h2>
            공지사항
        </h2>
    </div>
</section>
<section class="sub-con content board-content">
    <div class="inner">
        <div class="board-tab">
            <ul>
                <li>
                    <a href="" class="on">
                        <span>
                            공지사항
                        </span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>
                            자료실
                        </span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>
                            FAQ
                        </span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span>
                            QnA
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="table-wrap board-list">
            <div class="table-head">
                <div class="flex-box  align-center">
                    <span>
                        Total 1건 1 페이지
                    </span>
           
                </div>
            </div>
            <div class="table-body">
                <table class="table table-fixed ">
                    <thead>
                        <tr>
                            <th class="number">
                                번호
                            </th>
                            <th class="title">
                                제목
                            </th>
                            <th class="date">
                                날짜
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span>
                                    1
                                </span>
                            </td>
                            <td class="title">
                                <a href="#">
                                    K-디지털 플랫폼 홈페이지 개설
                                </a>
                            </td>
                            <td>
                                <span>
                                    2023.12.20
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-foot">
                <div class="pagination">
                    <ul>
                        <li>
                            <a href="">
                                <span></span>
                            </a>
                        </li>
                        <li class="on">
                            <a href="" >
                                <span>1</span>
                            </a>
                        </li>
                        {{! <li>
                            <a href="">
                                <span>2</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>3</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>4</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>5</span>
                            </a>
                        </li> }}
                        <li>
                            <a href="">
                                <span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

{{>layout/footer}}
