{[>layout/header]}

<section class="sub-top ">
    <div class="inner">
        <h2>
            공지사항
        </h2>
    </div>
</section>
<section class="sub-con content board-content">
    <div class="inner">
        <div class="board-tab">
            <ul>
                <li>
                    <a href="/contents/notice" class="on">
                        <span>
                            공지사항
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/data">
                        <span>
                            자료실
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/faq">
                        <span>
                            FAQ
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/qna">
                        <span>
                            QnA
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="table-wrap board-detail">
            <div class="table-head">
                <div class="flex-box justify-end align-center">
                    <div class="btn-wrap">
                        <button class="btn btn-type-02" onclick="javascript:alert('이전 글이 없습니다.')">
                            <span class="icon-box icon-size-sm icon-prev"></span>이전글
                        </button>
                        <button class="btn btn-type-02" onclick="javascript:alert('다음 글이 없습니다.')">
                            다음글<span class="icon-box icon-size-sm icon-prev"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-body" id="notice-detail-body">
                <div class="detail-head">
                    <h5>{{title}}</h5>
                    <p>{{date}}</p>
                </div>
                <div class="detail-body">
                    <div>
                        <p>
                        {{content}}
                            {{! 안녕하세요, 여러분!<br/>
                            세한대학교 K-디지털 플랫폼 홈페이지가 개설되었습니다.<br/>
                            <br/>
                            우리 대학은 한국산업인력공단의 지원을 받아 k-디지털 플랫폼을 구축하고 있습니다.<br/>
                            이 플랫폼을 통해 디지털 전문 인력 양성에 주력하고 있습니다.<br/>
                            <br/>
                            🚀 세한대학교 디지털 융합 훈련 과정 소개<br/>
                            <br/>
                            세한대는 업계 최고의 전문가들과 협력하여 최신 디지털 트렌드에 부합하는 교육 콘텐츠를 제공합니다.<br/>
                            각 프로그램은 실무 중심의 실전 훈련과 체계적인 이론 수업을 통해 학습자들에게 깊은 전문 지식을 전달합니다.<br/>
                            <br/>
                            🌐 최신식 디지털 교육 환경<br/>
                            <br/>
                            우리는 최신식의 디지털 교육 시설과 고급 장비를 보유하고 있어, 여러분은 최고의 학습 환경에서 실무 능력을 향상시킬 수 있습니다.<br/>
                            <br/>
                            📢 공지사항 및 인삿말<br/>
                            <br/>
                            여러분은 우리와 함께 성장하는 디지털 전문가로 거듭나실 것입니다.<br/>
                            언제든지 궁금한 점이나 도움이 필요하면 자유롭게 문의해주세요.<br/>
                            함께하는 모든 순간을 소중히 여기며, 성공적인 여정이 되기를 기대합니다!<br/> }}
                        </p>
                    </div>
                    <div class="detail-file">
                        <ul>
<!--                            <li>-->
<!--                                <a href="">-->
<!--                                    <span class="icon-box icon-size-sm icon-file"></span><span>첨부파일입니다.html</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="">-->
<!--                                    <span class="icon-box icon-size-sm icon-file"></span><span>첨부파일입니다.html</span>-->
<!--                                </a>-->
<!--                            </li>-->
                        </ul>
                    </div>
                </div>

            </div>
            <div class="table-foot">

            </div>
        </div>

    </div>
</section>

<script type="module" src="/assets/js/home/board/notice-detail.js"></script>
{[>layout/footer]}
