{[>layout/header]}

<section class="sub-top ">
    <div class="inner">
        <h2>
            공지사항
        </h2>
    </div>
</section>
<section class="sub-con content board-content">
    <div class="inner">
        <div class="board-tab">
            <ul>
                <li>
                    <a href="/contents/notice" class="on">
                        <span>
                            공지사항
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/data">
                        <span>
                            자료실
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/faq">
                        <span>
                            FAQ
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/qna">
                        <span>
                            QnA
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="table-wrap board-list">
            <div class="table-head">
                <div class="flex-box  align-center">
                    <span id="tableHeadText">
                        Total 0건 1 페이지
                    </span>
           
                </div>
            </div>
            <div class="table-body">
                <table class="table table-fixed ">
                    <thead>
                        <tr>
                            <th class="number">
                                번호
                            </th>
                            <th class="title">
                                제목
                            </th>
                            <th class="date">
                                날짜
                            </th>
                        </tr>
                    </thead>
                    <tbody id="notice-body">
                        <tr>
                            <td colspan="3">등록된 글이 없습니다.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-foot">
                {[>layout/pagination]}
            </div>
        </div>
    </div>
</section>
<script id="notice-table-template" type="text/template">
{{#content}}
    <tr>
        <td>
            <span>
                {{id}}
            </span>
        </td>
        <td class="title">
            <a href="/contents/notice/{{id}}">
                {{title}}
            </a>
        </td>
        <td>
            <span>
                {{createdDateText}}
            </span>
        </td>
    </tr>
{{/content}}
</script>

<script type="module" src="/assets/js/home/notice.js"></script>
{[>layout/footer]}
