{[>layout/header]}

<section class="sub-top ">
    <div class="inner">
        <h2>
            Q&A
        </h2>
    </div>
</section>
<section class="sub-con content board-content">
    <div class="inner">
        <div class="board-tab">
            <ul>
                <li>
                    <a href="/contents/notice">
                        <span>
                            공지사항
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/data">
                        <span>
                            자료실
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/faq">
                        <span>
                            FAQ
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/qna" class="on">
                        <span>
                            Q&A
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="table-wrap board-detail">
        <!--
            <div class="table-head">
                <div class="flex-box justify-end align-center">
                    <div class="btn-wrap">
                        <button class="btn btn-type-02">
                            <span class="icon-box icon-size-sm icon-prev"></span>이전글
                        </button>
                        <button class="btn btn-type-02">
                            다음글<span class="icon-box icon-size-sm icon-next"></span>
                        </button>
                    </div>
                </div>
            </div>
            -->
            <div class="table-body" id="qna-detail-body">
                <div class="detail-head">
                    <h5>{{title}}</h5>
                    <p>{{createdDateText}}</p>
                </div>
                <div class="detail-body">
                    <div>
                        {{context}}
                    </div>
                </div>
                <div id="replyContainer" class="detail-foot" style="display:none">
                    <div id="replyForm" class="detail-re" style="display:none">
                        <div class="detail-re-head">
                            <h5>답변 내용</h5>
                        </div>
                        <div class="detail-re-body">
                            <textarea name="replyTextarea" id="replyTextarea" cols="30" rows="10" placeholder="답변 내용을 입력해주세요."></textarea>
                        </div>
                    </div>
                    <button id="replySaveBtn" class="btn btn-type-02" style="display:none" disabled>
                        등록하기
                    </button>
                    <div id="replyDetailBody" class="detail-re" style="display:none">
                        
                    </div>
                </div>
                <div class="flex-box justify-end align-center">
                    {[#userId]}
                    <button id="modifyBtn" class="btn btn-type05 btn-size-s" onClick="location.href='/contents/qna-modify/{[id]}'" style="display:none">수정</button>
                    <button id="deleteBtn" class="btn btn-type05 btn-size-s" style="display:none">삭제</button>
                    {[/userId]}
                    {[#ADMIN]}
                    <button id="replyBtn" class="btn" style="display:none">답변하기</button>
                    {[/ADMIN]}
                    <button class="btn" onClick="location.href='/contents/qna'">목록</button>
                </div>
            </div>
            <div class="table-foot">
                
            </div>
            
        </div>

    </div>
    <input type="hidden" id="userId" value="{[userId]}"/>
    <input type="hidden" id="qnaId" name="id" value="{[id]}"/>
    <input type="hidden" id="role" name="role" value="{[ADMIN]}"/>
</section>
<script id="reply-template" type="text/template">
    <div class="detail-re-head">
        <h6>답변내용</h6>
        <p>
            <span>{{replyCreatedDateText}}</span>
            <span>작성자</span>
        </p>
    </div>
    
    <div class="detail-re-body">
        <p>
            {{replyText}}
        </p>
    </div>
</script>
<script type="module" src="/assets/js/home/board/qna-detail.js"></script>
{[>layout/footer]}
