{[>layout/header]}

<section class="sub-top ">
    <div class="inner">
        <h2>
            QnA
        </h2>
    </div>
</section>
<section class="sub-con content board-content">
    <div class="inner">
        <div class="board-tab">
            <ul>
                <li>
                    <a href="/contents/notice">
                        <span>
                            공지사항
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/data">
                        <span>
                            자료실
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/faq">
                        <span>
                            FAQ
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/contents/qna" class="on">
                        <span>
                            QnA
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="table-wrap board-detail">
            <div class="table-head">
                <div class="flex-box justify-end align-center">
                    <div class="btn-wrap">
                        <button class="btn btn-type-02">
                            <span class="icon-box icon-size-sm icon-prev"></span>이전글
                        </button>
                        <button class="btn btn-type-02">
                            다음글<span class="icon-box icon-size-sm icon-next"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="table-body" id="qna-detail-body">
                <div class="detail-head">
                    <h5>{{title}}</h5>
                    <p>{{createdDateText}}</p>
                </div>
                <div class="detail-body">
                    <div>
                        {{context}}
                    </div>
                </div>
                <div class="detail-foot">
                    <div class="detail-re">
                        <div class="detail-re-head">
                            <h6>답변제목</h6>
                            <p>
                                <span>2023.11.11</span>
                                <span>작성자</span>
                            </p>
                        </div>
                        
                        <div class="detail-re-body">
                            <p>
                                내용내용내용내용내용내용내용내용<br/>
                                내용<br/>
                                내용
                            </p>
                        </div>
                    </div>
                </div>
                <div class="flex-box justify-end align-center">
                    <button class="btn">목록</button>
                </div>
            </div>
            <div class="table-foot">
                
            </div>
            
        </div>

    </div>
    <input type="hidden" id="qnaId" name="id" value="{[id]}"/>
</section>
<script type="module" src="/assets/js/home/board/qna-detail.js"></script>
{[>layout/footer]}
