{{>layout/header}}

<!--item-wrap-->
<div class="item-wrap">
    <div class="content-title-wrap">
        <h2>
            Q&A
        </h2>
    </div>
</div>
<!--item-wrap-->
<div class="item-wrap">
<div>

{{>layout/footer}}
