{{>layout/header}}

<section class="content main-content">
    <div class="mian-spot">
        <div class="main-spot-bg">
            <div class="main-text">
                <div>
                    <h2>
                        K-하이테크 플렛폼
                    </h2>
                    <p>K-하이테크 플렛폼입니다 K-하이테크 플렛폼입니다</p>
                </div>
            </div>
        </div>
        
        
        <!--
        <div class="main-slider">
            <ul class="slider">
                <li>
                    <div class="main-spot-1 flex-box align-center justify-center">
                    </div>
                </li>
            </ul>
        </div>
        -->
    </div>
</section>
<section class="main-sect-1">
    <div class="inner">
        <ul>
            <li>
                <a href="/contents/share-list#equipments">
                    <span>
                        공유시설예약
                    </span>
                </a>
            </li>
            <li>
                <a href="/contents/share-list#equipments">
                    <span>
                        공유장비예약
                    </span>
                </a>
            </li>
        </ul>
    </div>
    
</section>
<section class="main-sect-2">
    <div class="inner">
        <div class="main-title">
            <h3>
                <span>사업소개</span>
            </h3>
        </div>
        <div class="flex-box">
            <div class="main-card main-card-1">
                <div class="main-card-body">
                    <div>
                        <img src="" alt="">
                    </div>
                    <p>디지털 공동체 구성</p>
                </div>
            </div>
            <div class="main-card main-card-2">
                <div class="main-card-body">
                    <div style="background-image: url(/assets/images/main/main_box_2.png);">
                        <img src="" alt="">
                    </div>
                    <p>디지털 훈련 제공</p>
              </div>
            </div>
            <div class="main-card main-card-3">
                <div class="main-card-body">
                    <div style="background-image: url(/assets/images/main/main_box_3.png);">
                        <img src="" alt="">
                    </div>
                    <p>체험 프로그램 운영</p>
              </div>
            </div>
            <div class="main-card main-card-4">
                <div class="main-card-body">
                    <div style="background-image: url(/assets/images/main/main_box_4.png);">
                        <img src="" alt="">
                    </div>
                    <p>장비/시설 무료 제공</p>
               </div>
            </div>
        </div>
    </div>
</section>
<section class="main-sect-3">
    <div class="inner">
        <!-- 게시판 -->
        <div class="board-wrap main-board-wrap">
            <div class="border-top">
                <div class="main-title">
                    <h3>
                        <span>공지 사항</span>
<!--                        <button class="btn" onClick="location.href='/contents/notice'">더보기<span class="icon-box icon-prev"></span></button>-->
                        <button class="btn" onClick="alert('준비중 입니다.')">더보기<span class="icon-box icon-prev"></span></button>
                    </h3>
                </div>
            </div>
            <div class="board-list">
                <table class="board table">
                    <caption>공지 사항</caption>
                    <thead>
                        <tr>
                            <th>
                                <span>번호</span>
                            </th>
                            <th>
                                <span>제목</span>
                            </th>
                            <th>
                                <span>작성자</span>
                            </th>
                            <th>
                                <span>작성일</span>
                            </th>
                        </tr>   
                    </thead>
                    <tbody>
                        <tr style="cursor:pointer" onClick="alert('준비 중입니다.')">
                            <td>
                                <span>
                                    1
                                </span>
                            </td>
                            <td class="board-title text-left">
                                <span>
                                    K-디지털 플랫폼 홈페이지 개설
                                </span>
                            </td>
                            <td>
                                <span>
                                    관리자
                                </span>
                            </td>
                            <td>
                                <span>
                                    2023-12-21
                                </span>
                            </td>

                        </tr>
                        

                    </tbody>

                </table>
            </div>
            <div class="board-bottom">
                
            </div>
        </div>
        <!-- 게시판 -->
    </div>
</section>
<section class="main-sect-4">
    <div class="inner">
        <div class="main-title">
            <h3>
                <span>협력사</span>
            </h3>
        </div>
        <div class="main-body">
            <ul>
                <li>
                    <a href="https://www.hrdkorea.or.kr"><img src="/assets/images/main/foot_logo_2.png" alt="한국산업인력공단 로고" target="_blank"></a>
                </li>
                <li>
                    <a href="https://www.moel.go.kr" ><img src="/assets/images/main/foot_logo_1.png" alt="고용노동부 로고" target="_blank"></a>
                </li>
                <li>
                    <a href="https://www.kdp.or.kr"><img src="/assets/images/main/foot_logo_3.png" alt="KDP 로고" target="_blank"></a>
                </li>
            </ul>
        </div>
    </div>
</section>

{{>layout/footer}}