{{>layout/header}}

<section class="content main-content">
    <div class="mian-spot">
        <div class="main-slider">
            <ul class="slider">
                <li>
                    <div class="main-spot-1 flex-box align-center justify-center">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="main-sect-1">
    <ul>
        <li>
            <a href="#">
                <span>
                    공유시설예약
                </span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    공유시설예약
                </span>
            </a>
        </li>
    </ul>
</section>
<section class="main-sect-2">
    <div class="inner">
        <div class="main-title">
            <h3>
                <span>사업소개</span>
            </h3>
        </div>
        <div class="row m-bottom-24">
            <div class="col-3 col-sm-6">
                <div class="main-cardbox">
                    <div class="main-cardbox-top flex-box justify-center align-center">
                        <span class="icon-box ">
                       
                        </span>
                    </div>
                    <div class="main-cardbox-foot flex-box justify-center align-center">
                        <h3>사업개요</h3>
                    </div>
                </div>
            </div>
            <div class="col-3 col-sm-6">
                <div class="main-cardbox">
                    <div class="main-cardbox-top flex-box justify-center align-center">
                        <span class="icon-box ">
                       
                        </span>
                    </div>
                    <div class="main-cardbox-foot flex-box justify-center align-center">
                        <h3>사업개요</h3>
                    </div>
                </div>
            </div>
            <div class="col-3 col-sm-6">
                <div class="main-cardbox">
                    <div class="main-cardbox-top flex-box justify-center align-center">
                        <span class="icon-box ">
                       
                        </span>
                    </div>
                    <div class="main-cardbox-foot flex-box justify-center align-center">
                        <h3>사업개요</h3>
                    </div>
                </div>
            </div>
            <div class="col-3 col-sm-6">
                <div class="main-cardbox">
                    <div class="main-cardbox-top flex-box justify-center align-center">
                        <span class="icon-box ">
                       
                        </span>
                    </div>
                    <div class="main-cardbox-foot flex-box justify-center align-center">
                        <h3>사업개요</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-sect-3">
    <div class="inner">
        <!-- 게시판 -->
        <div class="board-wrap main-board-wrap">
            <div class="border-top">
                <div class="main-title">
                    <h3>
                        <span>공지 사항</span>
                        <button class="btn btn-type01">더보기<span class="icon-box icon-black-plus"></span></button>
                    </h3>
                </div>
            </div>
            <div class="board-list">
                <table class="board table">
                    <caption>공지 사항</caption>
                    <thead>
                        <tr>
                            <th>
                                <span>No.1</span>
                            </th>
                            <th>
                                <span>Title</span>
                            </th>
                            <th>
                                <span>Title</span>
                            </th>
                            <th>
                                <span>date</span>
                            </th>
                            <th>
                                <span>view</span>
                            </th>
                        </tr>   
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span>
                                    1
                                </span>
                            </td>
                            <td class="board-title">
                                <span>
                                    TextTextTextTextTextTextText
                                </span>
                            </td>
                            <td>
                                <span>
                                    Text
                                </span>
                            </td>
                            <td>
                                <span>
                                    22
                                </span>
                            </td>
                            <td>
                                <span>
                                    1
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    1
                                </span>
                            </td>
                            <td class="board-title">
                                <span>
                                    TextTextTextTextTextTextText
                                </span>
                            </td>
                            <td>
                                <span>
                                    Text
                                </span>
                            </td>
                            <td>
                                <span>
                                    22
                                </span>
                            </td>
                            <td>
                                <span>
                                    1
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    1
                                </span>
                            </td>
                            <td class="board-title">
                                <span>
                                    TextTextTextTextTextTextText
                                </span>
                            </td>
                            <td>
                                <span>
                                    Text
                                </span>
                            </td>
                            <td>
                                <span>
                                    22
                                </span>
                            </td>
                            <td>
                                <span>
                                    1
                                </span>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="board-bottom">
                
            </div>
        </div>
        <!-- 게시판 -->
    </div>
</section>

{{>layout/footer}}