@import '../main/main';
* {
  font-family: 'Noto Sans', sans-serif; /*'AppleSDGothicNeo', 'Noto Sans',*/
}
.style-admin .style-admin-container {
  width: 80vw;
}
@media (max-width: 1540px) {
  .style-admin .style-admin-container {
    width: 120rem;
  }
}
@media (max-width: 1200px) {
  .style-admin .style-admin-container {
    width: 90vw;
  }
}

$adminHeadH: 6.4rem;
$adminSideW: 28rem;
$admincolor:#1A4079;
.admin-head {
  height: $adminHeadH;
  background-color: $admincolor;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15) !important;
  z-index: 1040;
  padding:0 2rem;
  .logo-wrap {
    width: 26rem;
    height: 3.2rem;
    background-color: transparent;
  }
  .admin-logo {
    width: 100%;
    height: 100%;
    background-image: url(../../images/common/adminlogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .left{
    > div{
      height: 100%;
      @include flexbox('row','flex-start','center');
    }
  }
  .admin-head-right{
    @include flexbox('row','end','center');
    > div{
      @include flexbox('row','end','center');
      gap: 4rem;
      height: 100%;
      .btn{
        background-color: transparent;
        border-color:transparent;
        padding:0;
      }
      span{
        color:#fff;
        font-size:1.4rem;
        b{
          color:$primary;
        }
      }
    }
  }
}
.admin-contents {
  display: flex;
  position: relative;
  top: $adminHeadH;
  height: calc(100vh - $adminHeadH);
  overflow: hidden;
  padding-left: $adminSideW;
  padding-right: 0.5rem;
}
/*admin side*/
.admin-side {
  position: fixed;
  left: 0;
  top: 0;

  height: 100vh;
  width: $adminSideW;
  padding:calc(32px + $adminHeadH) 20px 20px 20px;
  box-shadow: 0.15rem 0 1.75rem 0 rgba(33, 40, 50, 0.15) !important;
  background-color: #153366;
  .admin-side-con {
    height: 100%;
    .sidenav-menu-heading {
      padding: 2.4rem 0 0.8rem 1.2rem;
      span {
        color: 1.2rem;
        font-weight: 700;
        color: #fff;
      }
    }
    .admin-side-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0.8rem 1.2rem;
      color: #fff;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: rgba(68, 68, 68, 0.5);
      }
    }
  }
}
.admin-nav-list{
  > button{
    @include flexbox('row','flex-start','center');
    width:100%;
    background-color: transparent;
    text-align: left;
    position:relative;
    color:#fff;
    font-weight: 700;
    margin-bottom:1.2rem;
    font-size:1.6rem;
    .icon-box{
      margin-right:0.8rem;
    }
    &::after{
      content:'';
      position:absolute;
      right:0;
      top: 50%;
      transform: translateY(-50%) rotate(180deg);
      width:2.4rem;
      height:2.4rem;
      background-image: url(../../images/icon/admin_side_down_icon.png);
      background-repeat:no-repeat;
      background-size: cover;
    }
    &.show{      
      &::after{
        transform: translateY(-50%) rotate(0);
      }
      + .admin-collapse{
        height:auto !important;
      }
    }
    &:hover,&:focus{

    }
  }
  .admin-collapse{
    height:0;
    overflow: hidden;
    button{
      @include flexbox('row','flex-start','center');
      width:calc(100% - 24px);
      background-color: transparent;
      border-radius: 8px;
      color:#fff;
      line-height: 1.5;
      padding:0.8rem 3.6rem;
      margin-bottom:1.2rem;
      font-weight: 500;
      height: 4rem;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      &.on,&:hover,&:focus{
        background-color: #00AAF6;
      }
    }
  }
}
/*admin container*/
.admin-container {
  width: 100%;
  height: 100%;
  padding:72px 0 0 0;
  overflow-y: auto;
  background-color: #f9fafb;
  .admin-con-head {
    background-color: #f9fafb;
    width: 100%;
    height:60px;
    padding-bottom:36px;
    max-width:1180px;
    margin: 0 auto;
    
    .admin-title-wrap{
      @include flexbox('row','space-between','center');
      width:100%;
      position:relative;
      h3{
        @include flexbox('row','flex-start','center');
        gap:0.7rem;
        font-size:2.4rem;
        font-weight: 500;
      }
      > button.btn{
        position:absolute;
        right:0;top:0;
      }
    }
  }
  .admin-con-body {
    height: calc(100% - 128px);
    padding: 4rem;
    padding-right:2rem;
    max-width:1180px;
      margin: 0 auto;
      background-color: #fff;
    .admin-inner {
      width: 100%;
      height: 100%;
      padding-right:2rem;
      overflow-y:scroll;
      
    }
  }
}
.admin-con{
  height:calc(100vh - 14.4rem - 6.4rem);

}

/* admin table*/
.admin-table{

}
.admin-detail{
  border-top:1px solid $black;
  margin-bottom:4rem;
  tbody{
    tr{
      th,td{
        border-bottom:1px solid #B3B3B3;
        padding-top:1.2rem;
        padding-bottom:1.2rem;
      }
      th{
        height:6rem;
        background-color: #F4F4F4;
        span{
          color:$black;
          font-size:1.6rem ;
          font-weight: 500;
        }
        > div{

        }
        &.vertical-t{
          vertical-align: top;
        }
      }
      td{
        height:6rem;
        padding-left:3.6rem;
        padding-right: 3.6rem;
        &.vertical-t{
          vertical-align: top;
        }
        span{
          color:#666666;
        }
       
        > div{

        }
      }
    }
  }  
}

.admin-container .board-list{
  margin-bottom:4rem;
  th,td{
    &.td-num{
      width:12rem;
    }
  }
  td{
    img{
      max-width:6.4rem;
    }
  }
}
.admin-btn-wrap{
  margin-bottom:4rem;
  gap: 3.4rem;
  .btn{
    height:4.8rem;
    min-width:32rem;
  }
}
.admin-footer{
  padding:0;
  .admin-foot{
    height: 64px;
    border-top:1px solid #D0D5DD;
    background-color: #fff;
    @include flexbox('row','center','center');
    p{
      text-align: center;
      font-size:11px;
      
    }
  }
}












@media (pointer: fine) and (hover: hover) {
  .nav-fixed #layoutSidenav #layoutSidenav_nav .sidenav .sidenav-menu {
    overflow-y: auto;
  }
  .nav-fixed #layoutSidenav #layoutSidenav_nav .sidenav .sidenav-menu:hover {
    overflow-y: overlay;
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined', 'Noto Sans' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.material-symbols-outlined:hover {
  color: #666;
}
