{[>layout/admin-header]}

<!--item-wrap-->
<div class="item-wrap">
    <div class="content-title-wrap">
        <h2>
            예약확인/취소
        </h2>
    </div>
</div>
<!--item-wrap-->
<div class="item-wrap">
<div>

{[>layout/admin-footer]}
