{[>layout/header]}

<section class="sub-top ">
    <div class="inner">
        <h2>
            시설신청
        </h2>
    </div>
</section>
<section class="sub-con content gallery-content">
    <div class="inner">
        <div class="gallery">
            
            <div id="facilities-detail-body" class="gallery-detail">
                <div class="gallery-detail-head">
                    <div class="img-box">
                        <img id="facilitiesImg" src="" alt="testImg">
                    </div>
                    <div class="text-box">
                        <div class="gallery-detail-info">
                            <div class="title">
                                <h6 id="facilitiesTitle"></h6>
                            </div>
                            <div class="time-form ">
                                <p class="input-tit">일자 선택</p>
                                <div class="flex-box gap-10">
                                    <!--<div class="input-wrap flex-1">
                                        <div class="select flex-1" aria-label="select" data-size="MD" data-status="" data-icon="">
                                            <button class="select-btn" aria-label="selectValue">
                                                <span class="icon-box icon-size-sm"></span>
                                                <span class="select-value" data-default-text="년">
                                                    년
                                                </span>
                                            </button>
                                            <div id="yearSelectOption" class="option-box" aria-label="option-box">
                                               
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="input-wrap flex-1">
                                        <div class="select flex-1" aria-label="select" data-size="MD" data-status="" data-icon="">
                                            <button class="select-btn" aria-label="selectValue">
                                                <span class="icon-box icon-size-sm "></span>
                                                <span class="select-value" data-default-text="월">
                                                    월
                                                </span>
                                            </button>
                                            <div id="monthSelectOption" class="option-box" aria-label="option-box">
                                                <div>
                                                <button class="option" aria-label="option" disabled>
                                                    <span>
                                                        Value
                                                    </span>
                                                </button>
                                                <button class="option" aria-label="option" disabled>
                                                    <span>
                                                        Value
                                                    </span>
                                                </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-wrap flex-1">
                                        <div class="select flex-1" aria-label="select" data-size="MD" data-status="" data-icon="">
                                            <button class="select-btn" aria-label="selectValue">
                                                <span class="icon-box icon-size-sm "></span>
                                                <span class="select-value" data-default-text="일">
                                                    일
                                                </span>
                                            </button>
                                            <div id="daySelectOption" class="option-box" aria-label="option-box">
                                                <div>
                                                <button class="option" aria-label="option" disabled>
                                                    <span>
                                                        Value
                                                    </span>
                                                </button>
                                                <button class="option" aria-label="option" disabled>
                                                    <span>
                                                        Value
                                                    </span>
                                                </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div id="birthdayField" class="textfield flex-1 "  data-type="birth"  data-status="default" data-size="MD" data-icon="true">
                                        <input id="birthday" type="text" class="datepicker" placeholder="일자 선택">
                                    </div>
                                </div>
                            </div>
                            <div class="time-form ">
                                <p class="input-tit">시간 선택</p>
                                <div class="flex-box gap-10 align-center">
                                    <div class="select flex-1" aria-label="select" data-size="MD" data-status="" data-icon="">
                                        <button class="select-btn" aria-label="selectValue">
                                            <span class="icon-box icon-size-sm "></span>
                                            <span class="select-value" data-default-text="시간">
                                                시간
                                            </span>
                                        </button>
                                        <div id="hourSelectOption" class="option-box" aria-label="option-box">
                                            
                                        </div>
                                    </div>
                                    <span>시</span>
                                    <span>~</span>
                                    <div class="select flex-1" aria-label="select" data-size="MD" data-status="" data-icon="">
                                        <button class="select-btn" aria-label="selectValue">
                                            <span class="icon-box icon-size-sm "></span>
                                            <span class="select-value" data-default-text="시간">
                                                분
                                            </span>
                                        </button>
                                        <div id="minuteSelectOption" class="option-box" aria-label="option-box">
                                           
                                        </div>
                                    </div>
                                    <span>분</span>

                                </div>
                            </div>
                            <div class="time-form i-m-b-0">
                                <p class="input-tit">연락처</p>
                                <div class="flex-box gap-10 flex-wrap">
                                    <div class="textfield" data-type="text" data-status="" data-size="MD">
                                        <input type="text" placeholder="010-0000-0000">
                                        <p class="error-text">TEXT</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrap">
                            <button id="applicationBtn" class="btn btn-type03 w-full">신청하기</button>
                        </div>
                    </div>
                </div>
                <div class="gallery-detail-body">

                    <div class="gallery-detail-con">
                        <div class="block-text-wrap">
                            <span class="block-text">시설 정보</span>
                        </div>
                        <div class="flex-box gap-20">
                            <div class="flex-1 img-box">
                                <img src="../../../../assets/images/sub/gallery_test_img.png" alt="장비사진">
                            </div>
                            <div class="flex-1 img-box">
                                <img src="../../../../assets/images/sub/gallery_test_img.png" alt="장비사진">
                            </div>
                            <div class="flex-1 img-box">
                                <img src="../../../../assets/images/sub/gallery_test_img.png" alt="장비사진">
                            </div>
                        </div>
                    </div>
                    <div class="default-detail">
                        <div class="block-text-wrap">
                            <span class="block-text">유의 사항</span>
                        </div>
                        <div class="textarea-wrap">
                            <p>
                                시험기간, 주말은 대여할 수 없습니다. (단기/정기 대여 모두 포함)
강의실 사용 중 소음으로 인하여 수업 또는 교수 연구실이나 다른 학생들의 강의실 사용에 방해가 되는 행위를 절대 삼가야 합니다.
강의실 예약 승인 후 부득이한 경우로 사용하지 않게 될 경우 다른 학생을 위해 반드시 학생지원팀으로 강의실 예약 취소를 요청해주시기 바랍니다.
                            </p>
                        </div>
                        <p>
                            <b class="text-600">문의 : 1688-4292</b>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <input type="hidden" id="facilitiesId" name="id" value="{[id]}"/>
</section>
<script id="select-option-template" type="text/template">
<div>
{{#options}}
    <button class="option" aria-label="option" disabled>
        <span>
            {{value}}
        </span>
    </button>
{{/options}}
</div>
</script>
<script type="module" src="/assets/js/home/contents/facilities-detail.js"></script>
{[>layout/footer]}
