{{>layout/header}}

<section class="sub-top ">
    <div class="inner">
        <h2>
            시설신청
        </h2>
    </div>
</section>
<section class="sub-con content gallery-content">
    <div class="inner">
        <div class="gallery">
            
                <div class="gallery-list share-list">
                    <a href="#">
                        <div class="img-box">
                            <img src="../../../../assets/images/sub/gallery_test_img.png" alt="testImg">
                        </div>
                        <div class="text-box">
                            <div class="text-box-head">
                                <div>
                                    <p>시설</p>
                                    <p>근학관 104호</p>
                                </div>
                                <div>
                                    <p>시설</p>
                                    <p>근학관 104호</p>
                                </div>
                            </div>
                            <div class="btn-wrap">
                                <button class="btn btn-type03"><em class="btn-text">상세보기</em><span class="icon-box icon-size-24 gallery-next-icon"></span></button>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="gallery-list share-list">
                    <a href="#">
                        <div class="img-box">
                            <img src="../../../../assets/images/sub/gallery_test_img.png" alt="testImg">
                        </div>
                        <div class="text-box">
                            <div class="text-box-head">
                                <div>
                                    <p>시설</p>
                                    <p>근학관 104호</p>
                                </div>
                                <div>
                                    <p>시설</p>
                                    <p>근학관 104호</p>
                                </div>
                            </div>
                            <div class="btn-wrap">
                                <button class="btn btn-type03"><em class="btn-text">상세보기</em><span class="icon-box icon-size-24 gallery-next-icon"></span></button>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
    </div>
</section>

{{>layout/footer}}
