{{>layout/admin-header}}

<!--item-wrap-->
<div class="item-wrap">
    <div class="content-title-wrap">
        <h2>
            시설/장비 예약
        </h2>
    </div>
</div>
<!--item-wrap-->
<div class="item-wrap">
<div>

{{>layout/admin-footer}}
