{[>layout/header]}

<section class="sub-top ">
    <div class="inner">
        <h2>
            시설신청
        </h2>
    </div>
</section>
<section class="sub-con content gallery-content">
    <div class="inner">
        <div id="gallery" class="gallery">
        </div>
    </div>
</section>
<script id="table-template" type="text/template">
{{#contents}}
<div class="gallery-list share-list">
    <a href="#">
        <div class="img-box">
            <img src="{{imageUrl}}" alt="testImg">
        </div>
        <div class="text-box">
            <div class="text-box-head">
                <div>
                    <p>시설명</p>
                    <p>{{name}}</p>
                </div>
                <div>
                    <p>보유 장비</p>
                    <p>{{description}}</p>
                </div>
            </div>
            <div class="btn-wrap">
                <button class="btn btn-type03" onClick="location.href='/contents/share-detail/{{id}}'"><em class="btn-text">상세보기</em><span class="icon-box icon-size-24 gallery-next-icon"></span></button>
            </div>
        </div>
    </a>
</div>
{{/contents}}
</script>

<script type="module" src="/assets/js/home/contents/facilities.js"></script>
{[>layout/footer]}
