{[>layout/admin-header]}

<div class="admin-con-head">
    <div class="admin-title-wrap">
        <h3>
            <span class="icon-box icon-size-24 icon-"></span>
            교육관리
        </h3>
    </div>
</div>
<div class="admin-con-body">
    <div class="admin-inner">
        <div class="table-wrap">
        <div class="table-body">
            
                <table class="admin-table admin-detail">
                <tbody>
                <tr>
                    <th> 
                    <span>강의명</span>
                    </th>
                    <td colspan="3">
                    <div>
                        <div class="textfield w-full max-w-380"  data-type="text"  data-status="default" data-size="MD" data-icon="">
                        <input id="name" type="text" placeholder="강의명" onchange='textfieldChange(this,event)'>
                        <p class="error-text">강의명</p>
                        </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <th>
                    <span>정원</span>
                    </th>
                    <td colspan="3">
                    <div>
                        <div class="select w-160" aria-label="select" data-size="MD" data-status="" data-icon="">
                        <button class="select-btn" aria-label="selectValue">
                            <span class="icon-box icon-size-sm icon-smile"></span>
                            <span id="capacityField" class="select-value" data-value="10" data-default-text="10">
                                10
                            </span>
                        </button>
                        <div class="option-box" aria-label="option-box">
                            <div>
                            <button class="option" aria-label="option" data-option="10" disabled>
                                <span>
                                    10
                                </span>
                            </button>
                            <button class="option" aria-label="option" data-option="20" disabled>
                                <span>
                                    20
                                </span>
                            </button>
                            </div>
                        </div>
                        </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <th> 
                    <span>강의실</span>
                    </th>
                    <td>
                    <div class="flex-box gap-18">
                        <button id="facilityListBtn" class="btn btn-size-xl admin-btn-type-03">장소 연결</button>
                        <div id="locationField" class="textfield  max-w-380"  data-type="text"  data-status="default" data-size="MD" data-icon="">
                        <input id="location" type="text" placeholder="강의실" onchange='textfieldChange(this,event)' data-value="">
                        <p class="error-text"></p>
                        </div>
                    </div>
                    </td>
                    <th> 
                    <span>담당교수</span>
                    </th>
                    <td>
                    <div>
                        <div class="textfield  max-w-380"  data-type="text"  data-status="default" data-size="MD" data-icon="">
                        <input id="manager" type="text" placeholder="교수 이름" onchange='textfieldChange(this,event)'>
                        <p class="error-text"></p>
                        </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <th> 
                    <span>강의기간</span>
                    </th>
                    <td colspan="3">
                    <div class="flex-box gap-16 align-center">
                        <div class="flex-box gap-4 align-center">
                        <span class="text-box">
                            시작일
                        </span>
                        <div id="startDateField" class="textfield  max-w-380"  data-type="date"  data-status="default" data-size="MD" data-icon="true">
                            <input id="startDate" type="text" class="datepicker" placeholder="시작일" onchange='textfieldChange(this,event)'>
                            <p class="error-text"></p>
                        </div>
                        </div>
                        
                        <span>
                        ~
                        </span>
                        <div class="flex-box gap-4 align-center">
                        <span class="text-box">
                            종료일
                        </span>
                        <div id="endDateField" class="textfield  max-w-380"  data-type="date"  data-status="default" data-size="MD" data-icon="true">
                            <input id="endDate" type="text" class="datepicker" placeholder="종료일" onchange='textfieldChange(this,event)'>
                            <p class="error-text"></p>
                        </div>
                        </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <th> 
                    <span>접수기간</span>
                    </th>
                    <td colspan="3">
                    <div class="flex-box gap-16 align-center">
                        <div class="flex-box gap-4 align-center">
                        <span class="text-box">
                            시작일
                        </span>
                        <div id="applicationStartDateField" class="textfield  max-w-380"  data-type="date"  data-status="default" data-size="MD" data-icon="true">
                            <input id="applicationStartDate" type="text" class="datepicker" placeholder="시작일" onchange='textfieldChange(this,event)'>
                            <p class="error-text"></p>
                        </div>
                        </div>
                        
                        <span>
                        ~
                        </span>
                        <div class="flex-box gap-4 align-center">
                        <span class="text-box">
                            종료일
                        </span>
                        <div id="applicationEndDateField" class="textfield max-w-380"  data-type="date"  data-status="default" data-size="MD" data-icon="true">
                            <input id="applicationEndDate" type="text" class="datepicker" placeholder="종료일" onchange='textfieldChange(this,event)'>
                            <p class="error-text"></p>
                        </div>
                        </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <th> 
                    <span>강의내용</span>
                    </th>
                    <td colspan="3">
                    <div id="descriptionField" class=" textfield w-full"  data-type="textarea"  data-status="default" data-size="MD" data-icon="">
                        <div id="description"></div>
                        <p class="error-text"></p>
<!--                        <textarea id="description" placeholder="강의내용"></textarea>-->
                        <!--
                        <input type="text" placeholder="강의내용" onchange='textfieldChange(this,event)'>
                        <p class="error-text"></p>
                        -->
                    </div>
                    </td>
                </tr>
                <tr>
                    <th class="vertical-t"> 
                    <span>대표 이미지</span>
                    </th>
                    <td colspan="3">
                    <!--
                    <div class="textfield w-full max-w-380"  data-type="file"  data-status="default" data-size="MD" data-icon="">
                        <input id="mainImg" type="file" placeholder="대표 이미지" onchange='textfieldChange(this,event)'>
                        <p class="error-text"></p>
                    </div>
                    -->
                    </td>
                </tr>
                </tbody>
            </table>
          
        </div>
        </div>
        <div class="flex-box justify-center align-center admin-btn-wrap">
        <button class="btn btn-type-04" onClick="history.back()">
            취소하기
        </button>
        <button id="saveBtn" class="btn btn-type-03" >
            추가하기
        </button>
        </div>
    </div>
    </div>
<!-- 팝업 -->
<div id="noti-top-hjcho" data-size="MD" style="display:none">
  <div class="noti-con">
    <div class="noti-head">
      <h1>강의실 목록</h1>
      <button id="popupCloseBtn" class="btn btn-icon-only">
        <span class="icon-box icon-size-24 icon-close"></span>
      </button>
    </div>
    <div class="noti-body">
      <div class="noti-body-con">
        <div class="table-wrap board-list">
          <div class="table-body">
              <table class="table table-fixed">
                  <thead>
                      <tr>
                          <th class="td-num">
                              번호
                          </th>
                          <th class="td-title">
                              강의실
                          </th>
                      </tr>
                  </thead>
                  <tbody id="list-body">
                    <tr>
                        <td colspan="2">등록된 내용이 없습니다.</td>
                    </tr>
                </tbody>
              </table>
          </div>
          <div class="table-foot">
             {[>layout/pagination]}
        </div>
        </div>
      </div>
    </div>
    <div class="noti-foot">
    </div>
  </div>
</div>

<script id="table-template" type="text/template">
{{#contents}}
    <tr class="popup-item" data-value="{{id}}" data-title="{{name}}">
        <td>
            <span>
                {{no}}
            </span>
        </td>
        <td class="td-title">
        <span>
            {{name}}
        </span>
        </td>
    </tr>
{{/contents}}
</script>
<script type="module" src="/assets/js/admin/edu/edu-create.js"></script>
{[>layout/admin-footer]}