{[>layout/admin-header]}

<div class="admin-con-head">
    <div class="admin-title-wrap">
        <h3>
            <span class="icon-box icon-size-24 icon-admin-book"></span>
            교육관리
        </h3>
        <!-- 주석 풀면 자리 잡혀있음.
        <button class="btn">
          추가
        </button>
        -->
    </div>
</div>
<div class="admin-con-body">
    <div class="admin-inner">

        <div class="table-wrap">
        <div class="table-body">
            <table id="educations-template" class="admin-table admin-detail">
                <tbody>
                <tr>
                    <th> 
                    <span>강의명</span>
                    </th>
                    <td colspan="3">
                    <span>{{name}}</span> 
                    </td>
                </tr>
                <tr>
                    <th>
                    <span>정원</span>
                    </th>
                    <td colspan="3">
                    <span>{{capacity}}</span>
                    </td>
                </tr>
                <tr>
                    <th> 
                    <span>강의실</span>
                    </th>
                    <td>
                    <span>
                        {{location}} <span style="color:red">[연결된 시설 : {{facilityName}}]</span>
                    </span>
                    </td>
                    <th> 
                    <span>담당교수</span>
                    </th>
                    <td>
                    <span>
                        {{manager}}
                    </span>
                    </td>
                </tr>
                <tr>
                    <th> 
                    <span>강의기간</span>
                    </th>
                    <td colspan="3">
                    <div class="flex-box gap-16 align-center">
                        <div class="flex-box gap-4 align-center">
                        <span class="text-box">
                            시작일
                        </span>
                        <span>{{startDateText}}</span>
                        </div>
                        
                        <span>
                        ~
                        </span>
                        <div class="flex-box gap-4 align-center">
                        <span class="text-box">
                            종료일
                        </span>
                        <span>{{endDateText}}</span>
                        </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <th> 
                    <span>접수기간</span>
                    </th>
                    <td colspan="3">
                    <div class="flex-box gap-16 align-center">
                        <div class="flex-box gap-4 align-center">
                        <span class="text-box">
                            시작일
                        </span>
                        <span>{{applicationStartDateText}}</span>
                        </div>
                        
                        <span>
                        ~
                        </span>
                        <div class="flex-box gap-4 align-center">
                        <span class="text-box">
                            종료일
                        </span>
                        <span>{{applicationEndDateText}}</span>
                        </div>
                    </div>
                    </td>
                </tr>
                <tr>
                    <th> 
                    <span>강의내용</span>
                    </th>
                    <td colspan="3">
                    <span>{{{description}}}</span>
                    </td>
                </tr>
                <tr>
                    <th class="vertical-t"> 
                    <span>대표 이미지</span>
                    </th>
                    <td colspan="3">
                    <div class="img-box">
                        <img src="/upload{{imageUrl}}" alt="강의실">
                    </div>
                    </td>
                </tr>
                
                </tbody>
            </table>
        </div>
        </div>

        <div class="flex-box justify-center align-center  admin-btn-wrap">
        <button class="btn btn-type-04" onClick="history.back()">
            취소하기
        </button>
        <button class="btn btn-type-03" onClick="location.href='/admin/edu-modify/{[id]}'">
            수정하기
        </button>
        </div>
    </div>
    </div>
     <input type="hidden" id="educationId" name="educationId" value="{[id]}" />
<script type="module" src="/assets/js/admin/edu/edu-detail.js"></script>
{[>layout/admin-footer]}