<!DOCTYPE html>
<html lang="en">
<head>
    <title> K-하이테크 플렛폼</title>
    <meta charset="utf-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="naver-site-verification" content=""/>
    <meta name="keywords" content=" K-하이테크 플렛폼">
    <meta name="description" content=" K-하이테크 플렛폼">
    <meta name="subject" content=" K-하이테크 플렛폼">
        
    <meta property="og:type" content="website">
    <meta property="og:title" content=" K-하이테크 플렛폼"/>
    <meta property="og:description" content=" K-하이테크 플렛폼"/>
    <meta property="og:image" content=""/>
        
    <meta property="og:url" content="">
    <link rel="stylesheet" href="../../../assets/css/common/reset.css" />
    <link rel="stylesheet" href="../../../assets/css/common/font.css" />
    <link rel="stylesheet" href="../../../assets/css/main/main.css" />

</head>
<body>
<header class="header -on" data-include="../../include/header.html"></header>
<section class="sub-top ">
    <div class="inner">
        <h2>
            select
        </h2>
    </div>
</section>
<section class="sub-con content gallery-content">
    <div class="inner">
        <div class="flex-box gap-20">
            <div class="textfield" data-type="text" data-status="confirm" data-size="LG">
                <input type="text" placeholder="text">
                <p class="error-text">TEXT</p>
            </div>
            <div 
            class="textfield" 
            data-type="number" 
            data-status="disabled default confirm" 
            data-size="SM"
            data-appearance="Outline Underline Filled"
            data-icon="true"
            >
                <input type="text" placeholder="010-0000-0000">
                <p class="error-text">TEXT</p>
            </div>
            <div class="textfield" data-type="email" data-status="" data-size="MD">
                <div class="flex-box gap-8 align-center">
                    <div class="textfield-email">
                        <input type="text" placeholder="email">
                        <p class="error-text">TEXT</p>
                    </div>
                    <span>@</span>
                    <div class="textfield-email">
                        <input type="text" placeholder="text.net">
                        <p class="error-text">TEXT</p>
                    </div>
                </div>
            </div>
            <div class="textfield" data-type="search" data-status="confirm" data-size="LG">
                <input type="text" placeholder="검색">
                <p class="error-text">TEXT</p>
            </div>
            <div class="textfield" data-type="text" data-status="confirm" data-size="LG">
                <input type="text" placeholder="아이디">
                <p class="error-text">TEXT</p>
            </div>
            <div class="textfield" data-type="password" data-status="confirm" data-size="LG">
                <input type="password" placeholder="비밀번호">
                <p class="error-text">TEXT</p>
            </div>
        </div>
        
    </div>
</section>
<footer data-include="../../include/footer.html"></footer>
</body>
<script src="../../../assets/js/plugin/swiper/swiper-bundle.min.js"></script>
<script src="../../../assets/js/jquery-3.7.0.min.js"></script>
<script src="../../../assets/js/common.js"></script>
<script src="../../../assets/js/header.js"></script>
<script>

</script>


</html>