$primary: #01A0E8;
$Secondary: #1A4079;
$normal: #118fe4;
$info: #00AAF6;
$hover : #A2D2EB;
$focus: #5F9DCF;

$comfirm : #00256C;
$red: #DE001B;
$green: #00DE09;
$yellow: #DADE00;

$gray01: #555555;
$gray02: #797F8B;
$gray03: #b9b9b9; 
$gray04: #dadada;
$gray05: #f5f5f5;
$gray06: #f3f4f8;
$gray07: #D0D5DD;
$black: #333;
$black0: #000000;
$white: #ffffff;

$borderColor:#ddd;

$mainColor: #002d85;
$subColor: #118fe4;


$filter-primary: invert(8%) sepia(78%) saturate(5525%) hue-rotate(216deg) brightness(100%) contrast(101%);
$filter-normal: invert(41%) sepia(94%) saturate(763%) hue-rotate(168deg) brightness(98%) contrast(95%);
$filter-info: invert(69%) sepia(54%) saturate(7500%) hue-rotate(170deg) brightness(103%) contrast(100%);
$filter-hover : invert(96%) sepia(73%) saturate(1585%) hue-rotate(168deg) brightness(99%) contrast(86%);
$filter-focus: invert(54%) sepia(100%) saturate(214%) hue-rotate(164deg) brightness(89%) contrast(96%);

$filter-comfirm: invert(10%) sepia(99%) saturate(2604%) hue-rotate(211deg) brightness(94%) contrast(107%);
$filter-red: invert(13%) sepia(81%) saturate(6261%) hue-rotate(350deg) brightness(111%) contrast(113%);
$filter-green: invert(49%) sepia(30%) saturate(5302%) hue-rotate(97deg) brightness(111%) contrast(120%);
$filter-yellow : invert(67%) sepia(94%) saturate(678%) hue-rotate(15deg) brightness(105%) contrast(105%);
$filter-black: invert(8%) sepia(5%) saturate(26%) hue-rotate(316deg) brightness(85%) contrast(99%);
$filter-black0: invert(0%) sepia(96%) saturate(16%) hue-rotate(135deg) brightness(99%) contrast(100%);
$filter-white: invert(100%) sepia(100%) saturate(1%) hue-rotate(305deg) brightness(103%) contrast(101%);

$filter-gray02: invert(51%) sepia(5%) saturate(9%) hue-rotate(4deg) brightness(89%) contrast(87%);
$filter-gray03: invert(100%) sepia(0%) saturate(7442%) hue-rotate(207deg) brightness(94%) contrast(53%);