@import 'responsive';
$black: #222222;
$black0: #000;
$white: #ffffff;
$blue01: #0063a5;
$blue02: #e0eef8;
$grayborder: #d9d9d9;
$graybg: #f3f4f8;
$gray01: #aaaaaa;
$gray02: #bbbbbb;
$gray03: #eeeeee;
$gray04: #dddddd;
$darkgray: #666666;
$mainColor: #0063a5;
$subColor: #fff4f4;
$subColor01: #10a1c0;
$subColor02: #2dacc8;
$red: #ff455c;
$green: #54dc00;
$yellow: #ffc700;
$play: 'Play';
$boxshadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

@mixin border($width, $color) {
  border: $width solid $color;
}
@mixin flexbox($dir, $justify, $align) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  @if ($dir == row) {
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  @if ($dir == column) {
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  @if ($align == flex-start) {
    -webkit-box-align: start;
    -moz-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  @if ($align == center) {
    -webkit-box-align: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  @if ($align == flex-end) {
    -webkit-box-align: end;
    -moz-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  @if ($align == stretch) {
    -webkit-box-align: stretch;
    -moz-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  @if ($justify == space-between) {
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  @if ($justify == center) {
    -webkit-box-pack: center;
    -moz-box-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  @if ($justify == flex-start) {
    -webkit-box-pack: start;
    -moz-box-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  @if ($justify == flex-end) {
    -webkit-box-pack: end;
    -moz-box-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
@mixin flex1() {
  -ms-flex: 1;
  flex: 1;
}
@mixin ellipsis($num: 1) {
  @if ($num == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
  }
}
@mixin background($folder: folder_name, $img: file, $type: png, $repeat: no-repeat, $size, $x: 0, $y: 0) {
  background-image: url(../images/#{$folder}/#{$img}.#{$type});
  background-repeat: #{$repeat};
  background-size: #{$size};
  background-position: #{$x} #{$y};
}
@mixin foucsBorder {
  content: '';
  position: absolute;
  background: $mainColor;
  transition: all 0.35s;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.02em;
  color: $black;
  * {
    font-family: 'Noto Sans', 'AppleSDGothicNeo', 'SpoqaHanSansNeo', sans-serif;
    font-weight: 400;
    line-height: 1.2;
  }
  &.fixed {
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
  }
}
h1 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
}
h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
h3 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
h4 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
h5 {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

/*** text color ***/
.sub-color02 {
  color: $subColor02;
}
.con-box {
  width: calc(100% - 4rem);
  max-width: 1364px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.hide {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.d-pc {
  display: block;
  @include tablet {
    display: none;
  }
}
.d-mb {
  display: none;
  @include tablet {
    display: block;
  }
}
.text-blue {
  color: $mainColor;
}
.bg-white {
  background-color: $white !important;
}
/* flex-item */
.flex-box {
  @include flexbox(row, flex-start, flex-start);
  &.flex-between {
  }
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.between {
    justify-content: space-between;
  }
  &.end {
    justify-content: flex-end;
    align-items: center;
  }
  &.column-type {
    flex-direction: column;
  }
}
.flex-wrap {
  flex-wrap: wrap;
}

/* datepicker custom */
.ui-datepicker {
  width: 23.2rem;
  padding: 2rem 1.4rem;
  border-color: $gray02;
  z-index: 999;
}
.ui-datepicker .ui-datepicker-header {
  padding: 0;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2rem;
  line-height: 1;
  font-size: 1.4rem;
}
.ui-widget-header {
  background: $white;
  border: none;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #000;
}
.ui-datepicker .ui-datepicker-prev {
  left: 0;
}
.ui-datepicker .ui-datepicker-next {
  right: 0;
}
.ui-datepicker .ui-datepicker-prev span {
  @include background(icon, datepicker_arrow01, png, no-repeat, contain, center, center);
}
.ui-datepicker .ui-datepicker-next span {
  @include background(icon, datepicker_arrow02, png, no-repeat, contain, center, center);
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  font-size: 1.4rem;
  width: 6.4rem;
  font-weight: bold;
  border: none;
  border-radius: 0;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: $mainColor;
  }
  &::-webkit-scrollbar-track {
    background: $gray02;
  }
}
.ui-datepicker select.ui-datepicker-month {
  margin-left: 1rem;
}
.ui-datepicker table {
  margin: 1.4rem 0 0 0;
}
.ui-datepicker th {
  padding: 0.4rem;
}
.ui-datepicker td span {
  color: $darkgray;
  font-weight: 600;
}
.ui-datepicker td span,
.ui-datepicker td a {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 auto;
  font-size: 1.4rem;
}
.ui-state-default,
.ui-widget-content .ui-state-default {
  border: none;
  color: $black; /*background: $white;*/
  @include flexbox(row, center, center);
}
.ui-state-default,
.ui-widget-content .ui-state-default {
  border-radius: 50%;
  background: $white;
}
.ui-state-active,
.ui-widget-content .ui-state-active {
  @include border(1px, $mainColor);
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
  background: $mainColor;
  color: $white;
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Dropdown (셀렉트박스 커스텀)
/* ------------------------------------------------------------------------------------------------------------------ */
.dropdown {
  position: relative;
  display: inline-block;
  & + .dropdown {
    margin-left: 0.8rem;
  }
  &.dropdown-type02 {
    min-width: 10.8rem;
  }
  .dropdown-toggle {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 0 3rem 0 1.2rem;
    width: 100%;
    height: 3.2rem;
    font-size: 1.4rem;
    border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
    border: 1px solid $gray04;
    color: #141414;
    background-color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    &:hover {
      border-color: $mainColor;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1.2rem;
      transform: translateY(-50%) rotate(0);
      width: 1.8rem;
      height: 1.8rem;
      display: inline-block;
      background: url(../../assets/images/icon/dropdown_icon.svg) no-repeat center/contain;
      transition: all 0.3s;
    }
    &.disabled {
      color: #b1b1b1;
    }
  }
  .dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 999;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: -1px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border: 1px solid transparent;
    font-size: 1.4rem;
    &.option-color {
      a::after {
        content: '';
        width: 1rem;
        height: 1rem;
        position: absolute;
        right: 1.6rem;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid $gray04;
        display: inline-block;
      }
      .option-white a::after {
        border: 1px solid $gray04;
        background-color: $white;
      }
      .option-green a::after {
        border: 1px solid $green;
        background-color: $green;
      }
      .option-yellow a::after {
        border: 1px solid $yellow;
        background-color: $yellow;
      }
      .option-red a::after {
        border: 1px solid $red;
        background-color: $red;
      }
    }
    li {
      cursor: pointer;
      a {
        text-decoration: none;
        padding: 0 1.2rem 0 1.2rem;
        height: 3.2rem;
        line-height: 3.2rem;
        color: #141414;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
      }
    }
  }
  &.on {
    .dropdown-toggle {
      border-radius: 0.8rem 0.8rem 0 0;
      border-color: $mainColor;
      border-bottom: 0;
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    .dropdown-menu {
      top: calc(100% - 0.2rem);
      border-color: $mainColor;
      background-color: $white;
      border-top: 0;
      max-height: 256px;
      overflow-y: auto;
      border-radius: 0 0 0.8rem 0.8rem;
    }
  }
  &.dropup {
    .dropdown-toggle {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    .dropdown-menu {
      -webkit-transition: all 0s;
      transition: all 0s;
    }
    &.on {
      .dropdown-toggle {
        border-radius: 0 0 0.8rem 0.8rem;
        border-color: $mainColor;
        border-top: 0;
        border-bottom: 1px solid $mainColor;
        &::after {
          transform: translateY(-50%) rotate(0);
        }
      }
      .dropdown-menu {
        border-color: $mainColor;
        background-color: $white;
        top: initial;
        bottom: calc(100% - 0.1rem);
        border-top: 1px solid $mainColor;
        border-bottom: 0;
        max-height: 256px;
        overflow-y: auto;
        border-radius: 0.8rem 0.8rem 0 0;
      }
    }
  }
}
.dropdown .dropdown-toggle.on + .dropdown-menu {
  max-height: 9999px;
  overflow: initial;
}
/* Hover */
.dropdown:not(.dropdown-disabled):hover .dropdown-toggle {
  //border-color: #141414;
}
.dropdown .dropdown-menu > li:hover {
  background-color: #eef1f2;
}
/* Click to Open */
.dropdown:not(.dropdown-disabled) .dropdown-toggle.open {
  border-color: #cccccc;
}
.dropdown:not(.dropdown-disabled) .dropdown-toggle.open::after {
  transform: translateY(-50%) rotate(180deg);
  transition: all 0.3s;
}
.dropdown:not(.dropdown-disabled) .dropdown-menu.open {
  display: block;
}

/* disabled */
.dropdown.dropdown-disabled .dropdown-toggle {
  background-color: #eaeaea !important;
  color: #b1b1b1 !important;
}
.dropdown.dropdown-disabled .dropdown-toggle::after {
  border-color: #b1b1b1 !important;
}

/* input-cont */
.input-group {
  @include flexbox(row, flex-start, flex-start);
  width: 100%;
  margin-bottom: 1.2rem;
  &:last-child {
    margin-bottom: 0;
  }
  .input-wrap {
    margin-right: 0.8rem;
    &:last-child {
      margin-right: 0.8rem;
    }
  }
  &.flex-wrap {
    margin-bottom: -1.6rem;
    .input-wrap {
      margin-bottom: 1.6rem;
    }
    & + .input-group {
      margin-top: 1.6rem;
    }
  }

  & + .input-group {
    &.flex-wrap {
      &:last-child {
        margin-bottom: -1.6rem;
      }
    }
  }
}

.input-error {
  border-color: #ff455c !important;
  color: #ff455c !important;
  &::placeholder {
    color: #ff455c !important;
  }
  &::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ff455c !important;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ff455c !important;
    opacity: 1;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ff455c !important;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ff455c !important;
  }
}

.search-wrap {
  margin-bottom: 1.6rem;
  height: 3.3rem;
  @include flexbox(row, flex-start, center);
  .input-wrap {
    width: 100%;
    margin-right: 0.4rem;
    flex: 1 1 auto;
  }
  .search-more-btn {
    flex: 1 1 auto;
    @include background(icon, search_more_icon, svg, no-repeat, 2.5rem, center);
  }
}

.input-wrap {
  //@include flexbox(row, flex-start, flex-start);
  position: relative;
  font-size: 0;
  textarea {
    border-color: $gray04;
    &:focus,
    &:active {
      border-color: $mainColor;
    }
  }
  input {
    margin-right: 1.6rem;
    &:last-child {
      margin-right: 0;
    }
  }
  input[type='text'],
  input[type='search'],
  input[type='number'],
  input[type='password'],
  input[type='email'] {
    max-height: 3.2rem;
    font-size: 1.4rem;
    padding: 0.8rem 1.3rem;
    border-radius: 0.4rem;
    background: $white;
    width: 100%;
    @include border(1px, $gray04);
    //border-color:transparent;
    &:disabled {
      color: $gray02;
      border-color: $gray01;
      background: $gray03;
    }
    &:focus,
    &:active,
    &.on {
      border-color: $mainColor;
    }
  }
  &.select {
    select {
      max-height: 3.2rem;
      font-size: 1.4rem;
      padding: 0.8rem 1.2rem;
      border-radius: 0.4rem;
      background: $white;
      @include border(1px, $gray02);
      option[value=''][disabled] {
        display: none;
      }
      &:disabled {
        border-color: $gray01;
        background: $gray03;
      }
    }
  }
  &.date {
    &::before {
      display: none;
    }
    input {
      cursor: pointer;
      text-align: left;
      vertical-align: middle;
      margin-right: 0;
      @include background(icon, calendar_icon, svg, no-repeat, 1.6rem, right 1.4rem, center);
    }
    span {
      display: inline-block;
      width: 0.8rem;
      height: 1px;
      background-color: $gray01;
      vertical-align: middle;
      margin: 0 0.8rem;
    }
  }
  // radio, checkbox
  &.radio,
  &.checkbox {
    display: flex;
    &.disabled {
      pointer-events: none;
    }
    input[type='radio'],
    input[type='checkbox'] {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      -webkit-clip-path: polygon(0 0, 0 0, 0 0);
      clip-path: polygon(0 0, 0 0, 0 0);
      + label {
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 1.4rem;
        line-height: 1;
        font-size: 1.4rem;
        white-space: nowrap;
        cursor: pointer;
        span {
          margin-top: 0.1rem;
          padding-left: 0.8rem;
        }
        &.emphasis {
          color: $mainColor;
          font-weight: 600;
        }
        &::before,
        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &::before {
          width: 1.4rem;
          height: 1.4rem;
          transform: translateY(-50%);
          background: $white;
          @include border(1px, $gray01);
        }
      }
    }
  }
  &.radio {
    &.disabled {
      input[type='radio'] {
        &:checked {
          + label {
            &::before {
              border-color: $gray01;
            }
          }
        }
        + label {
          &::before {
            background: #efefef;
          }
          &::after {
            background: $gray03;
          }
        }
      }
    }
    input[type='radio'] {
      &:checked {
        + label {
          &::before {
            border-color: $mainColor;
          }
          &::after {
            transform: translateY(-50%) scale(1);
          }
        }
      }
      + label {
        &::before,
        &::after {
          border-radius: 50%;
        }
        &::before {
          left: 0;
          width: 1.6rem;
          height: 1.6rem;
        }
        &::after {
          width: 0.8rem;
          height: 0.8rem;
          left: 0.4rem;
          transform: translateY(-50%) scale(0);
          background: $mainColor;
        }
      }
    }
  }
  &.checkbox {
    justify-content: center;
    &.disabled {
      input[type='checkbox'] {
        &:checked {
          + label {
            &::before {
              border-color: $gray01;
            }
          }
        }
        + label {
          &::before {
            background: #efefef;
          }
        }
      }
    }
    input[type='checkbox'] {
      &:disabled {
        + label {
          cursor: default;
          &::after {
            cursor: default;
            background: $gray03;
            opacity: 1;
            pointer-events: none;
          }
        }
      }
      &:checked {
        + label {
          &::after {
            opacity: 1;
          }
        }
        &:disabled {
          + label {
            cursor: default;
            &::after {
              cursor: default;
              pointer-events: none;
              @include background(icon, check_disabled_icon, png, no-repeat, 100%, center, center);
            }
          }
        }
      }
      + label {
        min-height: 1.68rem;
        &::before {
          border-radius: 0;
        }
        &::after {
          width: 1.4rem;
          height: 1.4rem;
          opacity: 0;
          @include background(icon, check_icon, png, no-repeat, 100%, center, center);
        }
      }
    }
  }
  &.search {
    border-bottom: 1px solid $grayborder;
    input[type='search'] {
      border: transparent;
      background-color: transparent;
      padding-right: 3.3rem;
      width: 100%;
    }
    .btn-search {
      position: absolute;
      right: 0.8rem;
      top: 50%;
      transform: translateY(-50%);
      width: 2.5rem;
      height: 2.5rem;
      @include background(icon, search_icon, svg, no-repeat, 2.5rem, center);
    }
    &-type02 {
      background-color: #fff;
      border-radius: 0.8rem;
      border-bottom: 0;
      width: 20rem;
      margin-left: 1.2rem;
      input {
        width: 100%;
        @include background(icon, search_icon, svg, no-repeat, 2.4rem, right 1rem, center);
      }
    }
    &-type03 {
    }
  }
  &.tit-type {
    //flex-direction: column;
    flex-wrap: wrap;
    .tit {
      width: 100%;
      height: 2rem;
      font-size: 1.2rem;
      font-weight: 400;
      //margin-bottom:0.6rem;
    }
    .value {
      display: block;
      height: 3.2rem;
      vertical-align: middle;
      font-size: 1.4rem;
      font-weight: 600;
      color: $black0;
      padding: 1.2rem 0 0.8rem 1.2rem;
    }
  }
}
.input-w-160 {
  min-width: 8.333vw;
  max-width: 16rem;
}
.input-w-140 {
  min-width: 7.333vw;
  max-width: 14rem;
}

/* button */
.btn-wrap {
  @include flexbox(row, flex-start, flex-start);
  flex-wrap: wrap;
  //gap:1.6rem 0;
  &.flex-end {
    justify-content: flex-end;
  }
  .btn {
    margin-right: 1.2rem;
    &:last-child {
      margin-right: 0;
    }
  }
  &.flex-between {
    justify-content: space-between;
  }
  &.col-wrap {
    .btn {
      flex: 1;
    }
  }
  &.flex-wrap {
    margin-bottom: -1.6rem;
    .btn {
      margin-bottom: 1.6rem;
    }
  }
  & + .btn-wrap {
    &.flex-wrap {
      margin-top: 1.6rem;
    }
  }
  &.btn-wrap-type02 {
    .btn {
      margin-left: 0;
      margin-right: 1.2rem;
      margin-bottom: 1.6rem;
      & + .btn {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
.btn {
  border-radius: 0.4rem;
  padding: 0.8rem 1.2rem;
  background: $mainColor;
  color: $white;
  font-size: 1.4rem;
  font-weight: 700;
  transition: all 0.2s;
  @include border(1px, $mainColor);
  @include flexbox(row, center, center);
  color: $mainColor;
  background-color: $white;
  border-color: $mainColor;
  &:hover,
  &.on {
    color: $white;
    background-color: $mainColor;
  }
  &:disabled {
    border-color: $gray04;
    background: $gray04;
    color: $gray02;
  }
  &.btn-icon {
    width: 2.4rem;
    height: 2.4rem;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    &.btn-hamburger {
      background-image: url(../images/icon/hamberger_icon.png);
    }
    &.btn-head-search {
      width: 2.5rem;
      height: 2.5rem;
      background-image: url(../images/icon/btn_head_search.png);
    }
    &.main_top_open_icon {
      background-image: url(../images/icon/main_top_open_icon.svg);
    }
    &.warning-icon {
      background-image: url(../images/icon/main_top_open_icon.svg);
    }
    &.table-add-icon {
      background-image: url(../images/icon/table_add_icon.svg);
      &.on,
      &:hover {
        background-image: url(../images/icon/table_add_icon_on.svg);
      }
    }
    &.table-remove-icon {
      background-image: url(../images/icon/table_remove_icon.svg);
      &.on,
      &:hover {
        background-image: url(../images/icon/table_remove_icon_on.svg);
      }
    }
  }
  &:disabled {
    background: $gray04;
    border-color: $gray04;
    color: $darkgray;
    pointer-events: none;
  }
  &.btn-size-s {
    height: 3.2rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
  &.btn-size-m {
    height: 4rem;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }
  &.btn-size-lg {
    height: 4.4rem;
    padding-right: 4.4rem;
    padding-left: 4.4rem;
  }
  &.btn-type01 {
    color: $black;
    background-color: $white;
    border-color: $black;
    &:hover,
    &.on {
      color: $white;
      background-color: $black;
    }
    &:disabled {
      border-color: $gray04;
      background: $gray04;
      color: $gray02;
    }
  }
  &.btn-type02 {
    color: $white;
    background-color: $black;
    border-color: $black;
    &:hover,
    &.on {
      color: $black;
      background-color: $white;
    }
    &:disabled {
      border-color: $gray04;
      background: $gray04;
      color: $gray02;
    }
  }
  &.btn-type03 {
    color: $mainColor;
    background-color: $white;
    border-color: $mainColor;
    &:hover,
    &.on {
      color: $white;
      background-color: $mainColor;
    }
    &:disabled {
      border-color: $gray04;
      background: $gray04;
      color: $gray02;
    }
  }
  &.btn-type04 {
    color: $white;
    background-color: $mainColor;
    border-color: $mainColor;
    &:hover,
    &.on {
      color: $mainColor;
      background-color: $white;
    }
    &:disabled {
      border-color: $gray04;
      background: $gray04;
      color: $gray02;
    }
  }
  &.btn-type05 {
    color: $white;
    background-color: $subColor01;
    border-color: $subColor01;
    &:hover,
    &.on {
      color: $subColor01;
      background-color: $white;
    }
    &:disabled {
      border-color: $gray04;
      background: $gray04;
      color: $gray02;
    }
  }
  &.btn-type06 {
    border-color: transparent;
  }
  &.btn-type07 {
    border-color: transparent;
    color: $black;
    font-weight: 400;
    font-size: 1.4rem;
    &.on,
    &:hover {
      border-color: $mainColor;
      background-color: $mainColor;
      color: $white;
    }
  }
  &.btn-type08 {
    border-color: transparent;
    color: $mainColor;
    font-weight: 400;
    font-size: 1.4rem;
    position: relative;
    &:hover {
      border-color: $mainColor;
      background-color: #fff;
      color: $mainColor;
    }
    &.on {
      &::after {
        content: '';
        font-weight: 600;
        font-size: 0.5rem;
        line-height: 1.6rem;
        text-align: center;
        display: block;
        position: absolute;
        border-radius: 50%;
        left: -0.8rem;
        top: -0.8rem;
        width: 1.6rem;
        height: 1.6rem;
        background-color: $mainColor;
        color: #fff;
        @include background(icon, btn_type08_icon, svg, no-repeat, 100%, center, center);
      }
      border-color: $mainColor;
      background-color: #fff;
      color: $mainColor;
    }
  }
}
.icon-box {
  width: 2.4rem;
  height: 2.4rem;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  &.warning-icon {
    background-image: url(../images/icon/warning_icon.svg);
  }
}

.table-wrap {
  width: 100%;
}
.board-top {
  margin-bottom: 1.2rem;
  .board-title {
    font-size: 1.6rem;
    line-height: 2.16rem;
    font-weight: 700;
    span {
      font-size: 1.8rem;
      color: $mainColor;
      font-weight: 700;
    }
  }
  .btn-wrap {
    .btn {
      & + .btn {
        margin-left: 1.2rem;
      }
    }
  }
  .input-wrap {
    & + .btn-wrap {
      margin-left: 1.2rem;
    }
    & + .input-wrap {
      margin-left: 1.2rem;
    }
    &.search {
      background-color: #fff;
      border-radius: 0.8rem;
      border-bottom: 0;
      width: 20rem;
      margin-left: 1.2rem;
      input {
        width: 100%;
        @include background(icon, search_icon, svg, no-repeat, 2.4rem, right 1rem, center);
      }
    }
  }
  .table-top-form-wrap {
    height: 32px;
  }
}
.board-list {
  margin-bottom: 1.6rem;
  position: relative;
  overflow-x: auto;
}
.board-bottom + .board-list {
  margin-bottom: 0;
}
.board-bottom {
  .btn-wrap {
    .btn {
      width: 13.7rem;
    }
  }
}
.table {
  table-layout: fixed;
  &.table-initial {
    table-layout: initial;
    width: 100%;
  }
  @include tablet {
    //table-layout: initial;
  }
  thead {
    tr {
      &:first-child {
        th {
          &:first-child {
            span {
              border-radius: 0.4rem 0 0 0.4rem;
            }
          }
          &:last-child {
            span {
              border-radius: 0 0.4rem 0.4rem 0;
            }
          }
        }
      }
      th {
        background-color: $graybg;
        padding-bottom: 0.8rem;
        position: sticky;
        top: 0;
        height: 4rem;
        z-index: 10;
        span {
          @include flexbox(row, center, center);
          background-color: $blue02;
          width: 100%;
          min-height: 3.2rem;
          padding: 0.6rem 0;
          color: $black;
          font-size: 1.4rem;
          font-weight: 400;
          text-align: center;
          line-height: 1.5;
          height: 100%;
        }
        .table-head-check-sm {
          width: 4.4rem;
        }
      }
    }
  }
  tbody {
    background-color: $white;
    tr {
      &:first-child {
        td {
          &:first-child {
            border-radius: 0.4rem 0 0 0;
          }
          &:last-child {
            border-radius: 0 0.4rem 0 0;
          }
        }
      }
      &:first-child,
      &:last-child {
        td {
          border-top: 0;
        }
      }
      &:last-child {
        td {
          border-bottom: 0;
          &:first-child {
            border-radius: 0 0 0 0.4rem;
          }
          &:last-child {
            border-radius: 0 0 0.4rem 0;
          }
        }
      }
      td {
        padding: 0.8rem 1.2rem;
        border: 1px solid $gray04;
        color: $black;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        overflow: hidden;
        span {
          display: block;
          line-height: 1.5;
        }
        &.td-max {
          @include ellipsis();
          span {
            @include ellipsis();
            -webkit-transition: all 1.5s ease-in-out;
            transition: all 1.5s ease-in-out;
            max-height: 3.8rem;
          }
          &.no-ellipsis {
            span {
              //overflow: initial ;
              text-overflow: initial;
              white-space: initial;
              max-height: 999px;
              text-align: left;
            }
          }
        }
        &.no-ellipsis {
          span {
            //overflow: initial ;
            text-overflow: initial;
            white-space: initial;
            max-height: 999px;
            text-align: left;
          }
        }
        &:first-child {
          border-left: 0;
        }
        &:last-child {
          border-right: 0;
        }
        .modify-cell-write {
          display: none;
        }
        &.modify-cell {
          &.modify-cell-on {
            span {
              display: none;
            }
            .modify-cell-write {
              display: block;
              textarea {
                width: 100%;
                max-width: 100%;
                height: 3.2rem;
                min-height: 3.2rem;
                resize: none;
                padding: 0.8rem 0.8rem 0.2rem 0.8rem;
              }
            }
          }
        }
      }
    }
  }
  &-main-bottom {
    table-layout: initial;
    min-width: 75rem;
  }
}

.col-wrap {
  position: relative;
}

.col-1 {
  max-width: 8.333333333333333%;
  width: 8.333333333333333%;
}
.col-2 {
  max-width: 16.66666666666667%;
  width: 16.66666666666667%;
}
.col-3 {
  max-width: 25%;
  width: 25%;
}
.col-4 {
  max-width: 33.33333333333333%;
  width: 33.33333333333333%;
}
.col-5 {
  max-width: 41.66666666666667%;
  width: 41.66666666666667%;
}
.col-6 {
  max-width: 50%;
  width: 50%;
}
.col-7 {
  max-width: 58.333333333333333%;
  width: 58.333333333333333%;
}
.col-8 {
  max-width: 66.66666666666667%;
  width: 66.66666666666667%;
}
.col-9 {
  max-width: 75%;
  width: 75%;
}
.col-10 {
  max-width: 83.33333333333333%;
  width: 83.33333333333333%;
}
.col-11 {
  max-width: 91.66666666666667%;
  width: 91.66666666666667%;
}
.col-12 {
  max-width: 100%;
  width: 100%;
}
.col-auto {
  width: auto;
  max-width: auto;
}

@for $i from 0 through 50 {
  .mgtop-#{$i} {
    margin-top: $i * 0.1rem !important;
  }
  .mgbottom-#{$i} {
    margin-bottom: $i * 0.1rem !important;
  }
  .padtop-#{$i} {
    padding-top: $i * 0.1rem !important;
  }
  .padbottom-#{$i} {
    padding-bottom: $i * 0.1rem !important;
  }
}

.tab-wrap {
}
.tab-con {
  display: none;
  &.on {
    display: block;
  }
}
/*
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    
}
*/
/* table 
.table-wrap{
    &-top, &-bottom{
        &.flex-end{justify-content: flex-end;}
        @include flexbox(row, space-between, center);
    }
    &-top{margin-bottom: 1.4rem;}
    &-bottom{margin-top: 1.4rem;}
    &-cont{
        border-radius: .5rem;
        overflow: auto;
        @include border(1px, $gray02);
        &::-webkit-scrollbar {width: 4px;height: 4px;}
        &::-webkit-scrollbar-thumb {background: $black;}
        &::-webkit-scrollbar-track {background: $gray04;}
        table{
            width: 100%;
            thead{
                background: #EDEDED;
                th{
                    > div{
                        white-space: nowrap;
                        padding: 1.2rem .8rem;
                        min-height: 4.4rem;
                        @include flexbox(row, center, center);
                        &.txt-left{justify-content: flex-start;}
                        &.txt-right{justify-content: flex-end;}
                    }
                }
            }
            tbody{
                background: $white;
                tr{
                    &:not(:last-child){border-bottom: 1px solid $gray04;}
                    td{
                        &:not(:last-child){border-right: 1px solid $gray04;}
                        > div{
                            white-space: nowrap;
                            padding: 1.4rem .8rem;
                            min-height: 4rem;
                            @include flexbox(row, center, center);
                            &.txt-left{justify-content: flex-start;}
                            &.txt-right{justify-content: flex-end;}
                            .btn-wrap{
                                flex-direction: column;
                                button{
                                    width: auto;
                                    min-width: 7.4rem;
                                    font-size: 1.2rem;
                                    padding: 0.4rem;
                                }
                            }
                            .input-wrap{
                                &.count{
                                    button{
                                        width: 2.4rem;
                                        height: 2.4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
*/
/* list-type 
.list-type01{
    flex-wrap: wrap;
    gap: .8rem 0;
    @include flexbox(row, flex-start, center);
    span{
        position: relative;
        white-space: nowrap;
        padding: 0 .8rem;
        font-size: 1.4rem;
        color: $darkgray;
        &:first-child{padding-left: 0;}
        &:not(:last-child){
            &::after{
                content: '';
                width: 1px;
                height: 60%;
                background: $darkgray;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
    }
}
*/
/* pagenation 
.pagination{
    margin-top: 2.4rem;
    &-inner{
        gap: .8rem;
        @include flexbox(row, center, center);
        > div{
            gap: .4rem;
            @include flexbox(row, flex-start, center);
            &.arrow-group{
                a{
                    &::before{
                        content: '';
                        width: 100%;
                        height: 100%;
                        display: block;
                        filter: invert(100%) sepia(27%) saturate(6%) hue-rotate(320deg) brightness(101%) contrast(86%);
                    }
                    &:hover, &.on{
                        &::before{filter: none;}
                    }
                }
            }
        }
        a{
            // width: 2.8rem;
            min-width: 2.4rem;
            height: 2.4rem;
            padding: .2rem;
            font-size: 1.4rem;
            border-radius: .4rem;
            background: $white;
            @include border(1px, $gray02);
            @include flexbox(row, center, center);
            &.btn-front{&::before{@include background(icon, pagi_front_icon, svg, no-repeat, contain, center, center);}}
            &.btn-back{&::before{@include background(icon, pagi_back_icon, svg, no-repeat, contain, center, center);}}
            &.btn-prev{&::before{@include background(icon, pagi_prev_icon, svg, no-repeat, contain, center, center);}}
            &.btn-next{&::before{@include background(icon, pagi_next_icon, svg, no-repeat, contain, center, center);}}
            &.on, &:hover{
                border-color: $mainColor;
                background: $mainColor;
                color: $white;
            }
        }
    }
    + .btn-wrap{margin-top: 2rem;}
}
*/
