@import 'responsive';
$mainColor: #2283c7;
$subColor: #1cb2e7;
$subColor01: #f38337;
$subColor02: #fdb934;
$red: #ff455c;
$green: #54dc00;
$yellow: #ffc700;
$gray01: #666666;
$gray02: #bbbbbb;
$gray03: #dddddd;
$gray04: #f8f8f8;
$gray05: #f3f4f8;
$gray06: #6e6e6e;
$gray07: #dcdcdc;
$black: #000;
$black01: #222;
$black02: #444;
$white: #ffffff;

$borderColor: #ddd;
$box-margin-right: 1.6rem;

@mixin border($width, $color) {
  border: $width solid $color;
}
@mixin flexbox($dir, $justify, $align) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  @if ($dir == row) {
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  @if ($dir == column) {
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  @if ($align == flex-start) {
    -webkit-box-align: start;
    -moz-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  @if ($align == center) {
    -webkit-box-align: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  @if ($align == flex-end) {
    -webkit-box-align: end;
    -moz-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  @if ($align == stretch) {
    -webkit-box-align: stretch;
    -moz-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  @if ($justify == space-between) {
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  @if ($justify == center) {
    -webkit-box-pack: center;
    -moz-box-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  @if ($justify == flex-start) {
    -webkit-box-pack: start;
    -moz-box-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  @if ($justify == flex-end) {
    -webkit-box-pack: end;
    -moz-box-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
@mixin flex1() {
  -ms-flex: 1;
  flex: 1;
}
@mixin ellipsis($num: 1) {
  @if ($num == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
  }
}
@mixin background($folder: folder_name, $img: file, $type: png, $repeat: no-repeat, $size, $x: 0, $y: 0) {
  background-image: url(../images/#{$folder}/#{$img}.#{$type});
  background-repeat: #{$repeat};
  background-size: #{$size};
  background-position: #{$x} #{$y};
}
@mixin foucsBorder {
  content: '';
  position: absolute;
  background: $mainColor;
  transition: all 0.35s;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.02em;
  color: $black;
  * {
    font-family: 'Noto Sans','AppleSDGothicNeo', sans-serif; /*'AppleSDGothicNeo', 'Noto Sans',*/
    font-weight: 400;
    line-height: 1.2;
  }
  &.fixed {
    width: 100vw !important;
    height: 100vh !important;
    overflow: hidden !important;
  }
}
.shadow{
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
h1 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
}
h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
h3 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.8rem;
}
h4 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
h5 {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
}

/*** text color ***/
.text {
  &-bold {
    font-weight: 700;
  }
  &-size-28 {
    font-size: 2.8rem;
  }
  &-size-22 {
    font-size: 2.2rem;
  }
  &-size-20 {
    font-size: 2rem;
  }
  &-size-18 {
    font-size: 1.8rem;
  }
  &-size-16 {
    font-size: 1.6rem;
  }
  &-size-14 {
    font-size: 1.4rem;
  }
  &-size-13 {
    font-size: 1.3rem;
  }
  &-size-12 {
    font-size: 1.2rem;
  }
  &-center {
    text-align: center !important;
  }
  &-left {
    text-align: left !important;
  }
  &-right {
    text-align: right !important;
  }
  &-white{
    color:$white;
  }
  &-red {
    color: $red !important;
  }
  &-yellow {
    color: $yellow;
  }
  &-green {
    color: $green;
  }
  &-primary {
    color: $mainColor;
  }
}
.text-center {
  text-align: center;
}
.text-blue {
  color: $mainColor;
}
.bg-white {
  background-color: $white !important;
}
.hide {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.d-pc {
  display: block;
  @include tablet {
    display: none;
  }
}
.d-mb {
  display: none;
  @include tablet {
    display: block;
  }
}

/************** 
flex-item 
*****************/
.flex-box {
  position: relative;
  @include flexbox(row, flex-start, flex-start);
  &.column-type {
    flex-direction: column;
  }
  &.justify-end {
    -webkit-box-pack: end;
    -moz-box-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  &.justify-between {
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  &.justify-center {
    -webkit-box-pack: center;
    -moz-box-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  &.align-center {
    -webkit-box-align: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &.align-end {
    -webkit-box-align: end;
    -moz-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  &.align-baseline {
    -webkit-box-align: baseline;
    -moz-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  @include tablet{
    &.md{
      &-column-type {
        flex-direction: column;
      }
      &-justify-end {
        -webkit-box-pack: end;
        -moz-box-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }
      &-justify-between {
        -webkit-box-pack: justify;
        -moz-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
      &-justify-center {
        -webkit-box-pack: center;
        -moz-box-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      &-align-center {
        -webkit-box-align: center;
        -moz-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }
      &-align-end {
        -webkit-box-align: end;
        -moz-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
      }
      &-align-baseline {
        -webkit-box-align: baseline;
        -moz-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
      }
    }
  }
  @include mobile{
    &.sm{
      &-column-type {
        flex-direction: column;
      }
      &-justify-end {
        -webkit-box-pack: end;
        -moz-box-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }
      &-justify-between {
        -webkit-box-pack: justify;
        -moz-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
      &-justify-center {
        -webkit-box-pack: center;
        -moz-box-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      &-align-center {
        -webkit-box-align: center;
        -moz-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }
      &-align-end {
        -webkit-box-align: end;
        -moz-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
      }
      &-align-baseline {
        -webkit-box-align: baseline;
        -moz-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
      }
    }
  }
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex {
  &-1 {
    flex: 1 1 auto;
  }
  &-2 {
    flex: 2 1 auto;
  }
  &-3 {
    flex: 3 1 auto;
  }
  &-4 {
    flex: 4 1 auto;
  }
  &-5 {
    flex: 5 1 auto;
  }
  
}
@include tablet{
  .md{
    &-flex {
      &-1 {
        flex: 1 1 auto;
      }
      &-2 {
        flex: 2 1 auto;
      }
      &-3 {
        flex: 3 1 auto;
      }
      &-4 {
        flex: 4 1 auto;
      }
      &-5 {
        flex: 5 1 auto;
      }
      
    }
  }
}
@include mobile{
  .sm{
    &-flex {
      &-1 {
        flex: 1 1 auto;
      }
      &-2 {
        flex: 2 1 auto;
      }
      &-3 {
        flex: 3 1 auto;
      }
      &-4 {
        flex: 4 1 auto;
      }
      &-5 {
        flex: 5 1 auto;
      }
      
    }
  }
}
.flex-basis {
  &-0 {
    flex-basis: 0;
  }
  &-auto {
    flex-basis: auto;
  }
}
.flex-grow {
  &-1 {
    flex-grow: 1;
  }
  &-2 {
    flex-grow: 2;
  }
  &-3 {
    flex-grow: 3;
  }
  &-4 {
    flex-grow: 4;
  }
}
@include tablet{
  .md{
    &-flex-grow {
      &-1 {
        flex: 1 1 auto;
      }
      &-2 {
        flex: 2 1 auto;
      }
      &-3 {
        flex: 3 1 auto;
      }
      &-4 {
        flex: 4 1 auto;
      }
      &-5 {
        flex: 5 1 auto;
      }
      
    }
  }
}
@include mobile{
  .sm{
    &-flex-grow {
      &-1 {
        flex: 1 1 auto;
      }
      &-2 {
        flex: 2 1 auto;
      }
      &-3 {
        flex: 3 1 auto;
      }
      &-4 {
        flex: 4 1 auto;
      }
      &-5 {
        flex: 5 1 auto;
      }
      
    }
  }
}


/**************************
col  wb mo tb
***************************/
$colXGutter: 3rem;
$colYGutter: 3rem;
$colTabletXGutter: 3rem;
$colTabletYGutter: 3rem;
$colmobileXGutter: 3rem;
$colmobileYGutter: 3rem;
.row {
  display:flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: calc(-1 * $colYGutter);
  margin-right: calc(-0.5 * $colXGutter);
  margin-left: calc(-0.5 * $colXGutter);
  @include tablet{
    margin-top: calc(-1 * $colTabletYGutter);
    margin-right: calc(-0.5 * $colTabletXGutter);
    margin-left: calc(-0.5 * $colTabletXGutter);
  }
  @include mobile{
    margin-top: calc(-1 * $colmobileYGutter);
    margin-right: calc(-0.5 * $colmobileXGutter);
    margin-left: calc(-0.5 * $colmobileXGutter);
  }
}
.row > *{
  flex: 0 0 auto;
  max-width: 100%;
  padding-right: calc($colXGutter * 0.5);
  padding-left: calc($colXGutter * 0.5);
  margin-top: $colYGutter;
  @include tablet{
    padding-right: calc($colTabletXGutter * 0.5);
    padding-left: calc($colTabletXGutter * 0.5);
    margin-top: $colTabletYGutter;
  }
  @include mobile{
    padding-right: calc($colmobileXGutter * 0.5);
    padding-left: calc($colmobileXGutter * 0.5);
    margin-top: $colmobileYGutter;
  }
}
.col{
  &-1 {
    width: 8.333333333333333%;
  }
  &-2 {
    width: 16.66666666666667%;
  }
  &-3 {
    width: 25%;
  }
  &-4 {
    width: 33.33333333333333%;
  }
  &-5 {
    width: 41.66666666666667%;
  }
  &-6 {
    width: 50%;
  }
  &-7 {
    width: 58.333333333333333%;
  }
  &-8 {
    width: 66.66666666666667%;
  }
  &-9 {
    width: 75%;
  }
  &-10 {
    width: 83.33333333333333%;
  }
  &-11 {
    width: 91.66666666666667%;
  }
  &-12 {
    width: 100%;
  }
  @include web{
    &-lg{
      &-1 {
        width: 8.333333333333333%;
      }
      &-2 {
        width: 16.66666666666667%;
      }
      &-3 {
        width: 25%;
      }
      &-4 {
        width: 33.33333333333333%;
      }
      &-5 {
        width: 41.66666666666667%;
      }
      &-6 {
        width: 50%;
      }
      &-7 {
        width: 58.333333333333333%;
      }
      &-8 {
        width: 66.66666666666667%;
      }
      &-9 {
        width: 75%;
      }
      &-10 {
        width: 83.33333333333333%;
      }
      &-11 {
        width: 91.66666666666667%;
      }
      &-12 {
        width: 100%;
      }
    }
  }
  @include xl_web{
    &-xl{
      &-1 {
        width: 8.333333333333333%;
      }
      &-2 {
        width: 16.66666666666667%;
      }
      &-3 {
        width: 25%;
      }
      &-4 {
        width: 33.33333333333333%;
      }
      &-5 {
        width: 41.66666666666667%;
      }
      &-6 {
        width: 50%;
      }
      &-7 {
        width: 58.333333333333333%;
      }
      &-8 {
        width: 66.66666666666667%;
      }
      &-9 {
        width: 75%;
      }
      &-10 {
        width: 83.33333333333333%;
      }
      &-11 {
        width: 91.66666666666667%;
      }
      &-12 {
        width: 100%;
      }
    }
  }
  @include xxl_web{
    &-xxl{
      &-1 {
        width: 8.333333333333333%;
      }
      &-2 {
        width: 16.66666666666667%;
      }
      &-3 {
        width: 25%;
      }
      &-4 {
        width: 33.33333333333333%;
      }
      &-5 {
        width: 41.66666666666667%;
      }
      &-6 {
        width: 50%;
      }
      &-7 {
        width: 58.333333333333333%;
      }
      &-8 {
        width: 66.66666666666667%;
      }
      &-9 {
        width: 75%;
      }
      &-10 {
        width: 83.33333333333333%;
      }
      &-11 {
        width: 91.66666666666667%;
      }
      &-12 {
        width: 100%;
      }
    }
  }
  @include tablet{
    &-md{
      &-1 {
        width: 8.333333333333333%;
      }
      &-2 {
        width: 16.66666666666667%;
      }
      &-3 {
        width: 25%;
      }
      &-4 {
        width: 33.33333333333333%;
      }
      &-5 {
        width: 41.66666666666667%;
      }
      &-6 {
        width: 50%;
      }
      &-7 {
        width: 58.333333333333333%;
      }
      &-8 {
        width: 66.66666666666667%;
      }
      &-9 {
        width: 75%;
      }
      &-10 {
        width: 83.33333333333333%;
      }
      &-11 {
        width: 91.66666666666667%;
      }
      &-12 {
        width: 100%;
      }
    }
  }
  @include mobile{
    &-sm{
      &-1 {
        width: 8.333333333333333%;
      }
      &-2 {
        width: 16.66666666666667%;
      }
      &-3 {
        width: 25%;
      }
      &-4 {
        width: 33.33333333333333%;
      }
      &-5 {
        width: 41.66666666666667%;
      }
      &-6 {
        width: 50%;
      }
      &-7 {
        width: 58.333333333333333%;
      }
      &-8 {
        width: 66.66666666666667%;
      }
      &-9 {
        width: 75%;
      }
      &-10 {
        width: 83.33333333333333%;
      }
      &-11 {
        width: 91.66666666666667%;
      }
      &-12 {
        width: 100%;
      }
    }
  }
  
}
//margin,padding,input-width wb mo tb
@for $i from 0 through 200 {
  .m-top-#{$i} {
    margin-top: $i * 0.1rem;
  }
  .m-bottom-#{$i} {
    margin-bottom: $i * 0.1rem;
  }
  .m-right-#{$i} {
    margin-right: $i * 0.1rem;
  }
  .m-left-#{$i} {
    margin-left: $i * 0.1rem;
  }
  .p-right-#{$i} {
    padding-right: $i * 0.1rem;
  }
  .p-left-#{$i} {
    padding-left: $i * 0.1rem;
  }
  .p-top-#{$i} {
    padding-top: $i * 0.1rem;
  }
  .p-bottom-#{$i} {
    padding-bottom: $i * 0.1rem;
  }
  .input-w-#{$i * 10} {
    width: $i * 1rem;
  }
}

.m {
  &-right-auto {
    margin-right: auto;
  }
  &-left-auto {
    margin-left: auto;
  }
}
@for $i from 0 through 400 {

    .min-w-#{$i * 1} {
      min-width: $i * 0.1rem;
    }
    .max-w-#{$i * 1} {
      max-width: $i * 0.1rem;
    }
    .w-#{$i * 1} {
      width: $i * 0.1rem;
    }
    .h-#{$i * 1} {
      height: $i * 0.1rem;
    }
  
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* Dropdown (셀렉트박스 커스텀)
/* ------------------------------------------------------------------------------------------------------------------ */
.dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  & + .dropdown {
    margin-left: 0.8rem;
  }
  &.dropdown-type02 {
    min-width: 10.8rem;
  }
  .dropdown-toggle {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 0 4rem 0 1.2rem;
    width: 100%;
    height: 3.2rem;
    line-height: 3.2rem;
    font-size: 1.4rem;
    border-radius: 0.4rem;
    border: 1px solid $gray04;
    color: #141414;
    background-color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    &:hover {
      border-color: $mainColor;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 1.2rem;
      transform: translateY(-50%) rotate(0);
      width: 1.8rem;
      height: 1.8rem;
      display: inline-block;
      background: url(../images/icon/dropdown_icon.svg) no-repeat center/contain;
      transition: all 0.3s;
    }
    &.disabled {
      color: #b1b1b1;
    }
  }
  .dropdown-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 999;
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    right: 0;
    margin-top: -1px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    text-align: left;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border: 1px solid transparent;
    font-size: 1.4rem;
    li {
      cursor: pointer;
      a {
        text-decoration: none;
        padding: 0 1.2rem 0 1.2rem;
        height: 3.2rem;
        line-height: 3.2rem;
        color: #141414;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        .option-color {
          width: 1rem;
          height: 1rem;
          position: absolute;
          right: 1.6rem;
          top: 50%;
          transform: translateY(-50%);
          border: 1px solid $gray04;
          display: inline-block;
          &.option-white {
            border: 1px solid $gray04;
            background-color: $white;
          }
          &.option-green {
            border: 1px solid $green;
            background-color: $green;
          }
          &.option-yellow {
            border: 1px solid $yellow;
            background-color: $yellow;
          }
          &.option-red {
            border: 1px solid $red;
            background-color: $red;
          }
        }
      }
    }
  }
  &.on {
    .dropdown-toggle {
      border-radius: 0.4rem 0.4rem 0 0;
      border-color: $mainColor;
      border-bottom: 1px solid transparent;
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    .dropdown-menu {
      top: calc(100% - 0.2rem);
      border-color: $mainColor;
      background-color: $white;
      border-top: 0;
      max-height: 256px;
      overflow-y: auto;
      border-radius: 0 0 0.4rem 0.4rem;
    }
  }
  &.dropup {
    .dropdown-toggle {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    .dropdown-menu {
      -webkit-transition: all 0s;
      transition: all 0s;
    }
    &.on {
      .dropdown-toggle {
        border-radius: 0 0 0.4rem 0.4rem;
        border-color: $mainColor;
        border-top: 0;
        border-bottom: 1px solid $mainColor;
        &::after {
          transform: translateY(-50%) rotate(0);
        }
      }
      .dropdown-menu {
        border-color: $mainColor;
        background-color: $white;
        top: initial;
        bottom: calc(100% - 0.1rem);
        border-top: 1px solid $mainColor;
        border-bottom: 0;
        max-height: 256px;
        overflow-y: auto;
        border-radius: 0.4rem 0.4rem 0 0;
      }
    }
  }
}
.dropdown .dropdown-toggle.on + .dropdown-menu {
  max-height: 9999px;
  overflow: initial;
}
/* Hover */
.dropdown:not(.dropdown-disabled):hover .dropdown-toggle {
  //border-color: #141414;
}
.dropdown .dropdown-menu > li:hover {
  background-color: #eef1f2;
}
/* Click to Open */
.dropdown:not(.dropdown-disabled) .dropdown-toggle.open {
  border-color: #cccccc;
}
.dropdown:not(.dropdown-disabled) .dropdown-toggle.open::after {
  transform: translateY(-50%) rotate(180deg);
  transition: all 0.3s;
}
.dropdown:not(.dropdown-disabled) .dropdown-menu.open {
  display: block;
}

/* disabled */
.dropdown.dropdown-disabled .dropdown-toggle {
  background-color: #eaeaea !important;
  color: #b1b1b1 !important;
}
.dropdown.dropdown-disabled .dropdown-toggle::after {
  border-color: #b1b1b1 !important;
}

/**************************
input group
***************************/
.input-group {
  @include flexbox(row, flex-start, flex-start);
  width: 100%;
  margin-bottom: -1.6rem;
  margin-right: -0.8rem;
  &.justify-end {
    justify-content: flex-end;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.align-end {
    align-items: flex-end;
  }
  @include tablet {
    .md{
      &-justify-end {
        justify-content: flex-end;
      }
      &-justify-between {
        justify-content: space-between;
      }
      &-justify-center {
        justify-content: center;
      }
      &-align-center {
        align-items: center;
      }
      &-align-end {
        align-items: flex-end;
      }
    }
  }
  @include mobile {
    .sm{
      &-justify-end {
        justify-content: flex-end;
      }
      &-justify-between {
        justify-content: space-between;
      }
      &-justify-center {
        justify-content: center;
      }
      &-align-center {
        align-items: center;
      }
      &-align-end {
        align-items: flex-end;
      }
    }
  }
  &:last-child {
  }
  .input-wrap {
    max-width: 100%;
    margin-right: 0.8rem;
    margin-bottom: 1.6rem;
    &:last-child {
      margin-right: 0.8rem;
    }
  }
  & + .input-group {
    margin-top: 1.6rem;
  }

}
.input-error {
  border-color: $red !important;
  color: $red !important;
  &::placeholder {
    color: $red !important;
  }
  &::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $red !important;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $red !important;
    opacity: 1;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $red !important;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $red !important;
  }
}
.search-wrap {
  margin-bottom: 1.6rem;
  height: 3.3rem;
  @include flexbox(row, flex-start, center);
  .input-wrap {
    width: 100%;
    margin-right: 0.4rem;
    flex: 1 1 auto;
  }
  .search-more-btn {
    flex: 1 1 auto;
    @include background(icon, search_more_icon, svg, no-repeat, 2.5rem, center);
  }
}
/**************************
input wrap
***************************/
.input-wrap {
  //@include flexbox(row, flex-start, flex-start);
  max-width: 100%;
  position: relative;
  font-size: 0;
  textarea {
    border-color: $gray03;
    &:focus,
    &:active {
      border-color: $mainColor;
    }
  }
  input {
    margin-right: 1.6rem;
    &:last-child {
      margin-right: 0;
    }
  }
  input[type='text'],
  input[type='search'],
  input[type='number'],
  input[type='password'],
  input[type='email'] {
    height: 3.2rem;
    font-size: 1.4rem;
    padding: 0rem 1.3rem;
    border-radius: 0.4rem;
    background: $white;
    vertical-align: middle;
    width: 100%;
    @include border(1px, $gray03);
    //border-color:transparent;
    &:disabled {
      color: $gray02;
      border-color: $gray01;
      background: $gray03;
    }
    &:focus,
    &:active,
    &.on {
      border-color: $mainColor;
    }
  }
  &.select {
    select {
      max-height: 3.2rem;
      font-size: 1.4rem;
      padding: 0.8rem 1.2rem;
      border-radius: 0.4rem;
      background: $white;
      @include border(1px, $gray02);
      option[value=''][disabled] {
        display: none;
      }
      &:disabled {
        border-color: $gray01;
        background: $gray03;
      }
    }
  }
  &.date {
    &::before {
      display: none;
    }
    input {
      cursor: pointer;
      text-align: left;
      vertical-align: middle;
      margin-right: 0;
      @include background(icon, calendar_icon, svg, no-repeat, 1.6rem, right 1.4rem, center);
    }
    span {
      display: inline-block;
      width: 0.8rem;
      height: 1px;
      background-color: $gray01;
      vertical-align: middle;
      margin: 0 0.8rem;
    }
  }
  // radio, checkbox
  &.radio,
  &.checkbox {
    display: flex;
    &.disabled {
      pointer-events: none;
    }
    input[type='radio'],
    input[type='checkbox'] {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      -webkit-clip-path: polygon(0 0, 0 0, 0 0);
      clip-path: polygon(0 0, 0 0, 0 0);
      + label {
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 1.4rem;
        line-height: 1;
        font-size: 1.4rem;
        white-space: nowrap;
        cursor: pointer;
        span {
          margin-top: 0.1rem;
          padding-left: 0.8rem;
        }
        &.emphasis {
          color: $mainColor;
          font-weight: 600;
        }
        &::before,
        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &::before {
          width: 1.4rem;
          height: 1.4rem;
          transform: translateY(-50%);
          background: $white;
          @include border(1px, $gray01);
        }
      }
    }
    &.justify-center {
      justify-content: center;
    }
  }
  &.radio {
    &.disabled {
      input[type='radio'] {
        &:checked {
          + label {
            &::before {
              border-color: $gray01;
            }
          }
        }
        + label {
          &::before {
            background: #efefef;
          }
          &::after {
            background: $gray03;
          }
        }
      }
    }
    input[type='radio'] {
      &:checked {
        + label {
          &::before {
            border-color: $mainColor;
          }
          &::after {
            transform: translateY(-50%) scale(1);
          }
        }
      }
      + label {
        &::before,
        &::after {
          border-radius: 50%;
        }
        &::before {
          left: 0;
          width: 2rem;
          height: 2rem;
        }
        &::after {
          width: 1.2rem;
          height: 1.2rem;
          left: 0.4rem;
          transform: translateY(-50%) scale(0);
          background: $mainColor;
        }
      }
    }
    &.radio-lg {
    }
    &.radio-green {
      input[type='radio'] {
        &:checked {
          + label {
            &::before {
              border-color: $gray03;
            }
            &::after {
              transform: translateY(-50%) scale(1);
            }
          }
        }
      }
      label {
        &::after {
          background: $green !important;
        }
      }
    }
    &.radio-yellow {
      input[type='radio'] {
        &:checked {
          + label {
            &::before {
              border-color: $gray03;
            }
            &::after {
              transform: translateY(-50%) scale(1);
            }
          }
        }
      }
      label {
        &::after {
          background: $yellow !important;
        }
      }
    }
    &.radio-red {
      input[type='radio'] {
        &:checked {
          + label {
            &::before {
              border-color: $gray03;
            }
            &::after {
              transform: translateY(-50%) scale(1);
            }
          }
        }
      }
      label {
        &::after {
          background: $red !important;
        }
      }
    }
  }
  &.checkbox {
    justify-content: center;
    &.disabled {
      input[type='checkbox'] {
        &:checked {
          + label {
            &::before {
              border-color: $gray01;
            }
          }
        }
        + label {
          &::before {
            background: #efefef;
          }
        }
      }
    }
    input[type='checkbox'] {
      &:disabled {
        + label {
          cursor: default;
          &::after {
            cursor: default;
            background: $gray03;
            opacity: 1;
            pointer-events: none;
          }
        }
      }
      &:checked {
        + label {
          &::after {
            opacity: 1;
          }
        }
        &:disabled {
          + label {
            cursor: default;
            &::after {
              cursor: default;
              pointer-events: none;
              @include background(icon, check_disabled_icon, png, no-repeat, 100%, center, center);
            }
          }
        }
      }
      + label {
        min-height: 1.68rem;
        &::before {
          border-radius: 0;
        }
        &::after {
          width: 1.4rem;
          height: 1.4rem;
          opacity: 0;
          @include background(icon, check_icon, png, no-repeat, 100%, center, center);
        }
      }
    }
  }
  &.search {
    border-bottom: 1px solid $borderColor;
    input[type='search'] {
      border: transparent;
      background-color: transparent;
      padding-right: 3.3rem;
      width: 100%;
    }
    .btn-search {
      position: absolute;
      right: 0.8rem;
      top: 50%;
      transform: translateY(-50%);
      width: 2.5rem;
      height: 2.5rem;
      @include background(icon, search_icon, svg, no-repeat, 2.5rem, center);
    }
    &-type02 {
      background-color: #fff;
      border-radius: 0.8rem;
      border-bottom: 0;
      width: 20rem;
      margin-left: 1.2rem;
      input {
        width: 100%;
        @include background(icon, search_icon, svg, no-repeat, 2.4rem, right 1rem, center);
      }
    }
    &-type03 {
    }
  }
  &.tit-type {
    //flex-direction: column;
    flex-wrap: wrap;
    .tit {
      width: 100%;
      font-size: 1.2rem;
      line-height: 1.44rem;
      margin-bottom: 0.8rem;
      font-weight: 400;
      color: $gray01;
      //margin-bottom:0.6rem;
    }
    .value {
      display: block;
      height: 3.2rem;
      vertical-align: middle;
      font-size: 1.4rem;
      font-weight: 600;
      color: $black01;
      padding: 1.2rem 0 0.8rem 1.2rem;
    }
  }
}
.input-wrap .input-error-text {
  opacity: 0 !important;
  position: absolute !important;
  background-color: $red;
  border: 1px solid $red;
  padding: 0.4rem 1.2rem;
  border-radius: 0 0.8rem 0.8rem 0.8rem;
}
.input-wrap input.input-error + .input-error-text {
  position: absolute;
  left: 3rem;
  top: calc(100% + 0.4rem);
  opacity: 1 !important;

  /* animate */
  animation-name: inputErrorText;
  animation-duration: 0.25s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  /*animation-play-state: paused;*/
  /*animation-timing-function: 1s;*/
  animation-fill-mode: both;
}
.input-wrap input.input-error + .input-error-text span {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}
@-webkit-keyframes inputErrorText {
  0% {
    top: -20%;
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    top: calc(100% + 0.4rem);
    opacity: 1;
  }
}
@keyframes inputErrorText {
  0% {
    top: -20%;
    opacity: 0;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    top: calc(100% + 0.4rem);
    opacity: 1;
  }
}
input + span.dire {
  margin-left: -0.8rem;
}
span.dire {
  display: inline-block;
  width: 0.8rem;
  height: 1px;
  background-color: $gray01;
  vertical-align: middle;
  margin: 0 0.8rem;
}
/**************************
button btn-wrap
***************************/
.btn-wrap {
  @include flexbox(row, flex-start, flex-start);
  flex-wrap: wrap;
  margin-bottom: -1.6rem;
  .btn {
    max-width: 100%;
    margin-right: 1.2rem;
    margin-bottom: 1.6rem;
    &:last-child {
      margin-right: 0;
    }
  }
  & + .btn-wrap {
    margin-top: 1.6rem;
  }
  &.flex-end {
    justify-content: flex-end;
    .btn {
      margin-right: 0;
      margin-left: 1.2rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &.flex-between {
    justify-content: space-between;
  }
  &.col-wrap {
    .btn {
      flex: 1;
    }
  }
  &.flex-wrap {
    margin-bottom: -1.6rem;
    .btn {
      max-width: 100%;
      margin-bottom: 1.6rem;
    }
  }
  & + .btn-wrap {
    &.flex-wrap {
      margin-top: 1.6rem;
    }
  }
  &.btn-wrap-type02 {
    .btn {
      margin-left: 0;
      margin-right: 1.2rem;
      margin-bottom: 1.6rem;
      & + .btn {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &.justify-end {
    justify-content: flex-end;
    .btn {
      margin-right: 0;
      margin-left: 0;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.justify-center {
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.align-end {
    align-items: flex-end;
  }
}
/**************************
icon
***************************/
.icon-box {
  position:relative;
  border: 0;
  font-size:0;
  display: inline-block;
  vertical-align: middle;
  &::after{
    content:'';
    display:block;
    width:100%;
    height:100%;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  &.warning-icon {
    background-image: url(../images/icon/warning_icon.svg);
  }
  &.uproad-icon {
    background-image: url(../images/icon/btn_uproad_icon.svg);
  }
  &.icon-search {
    background-image: url(../images/icon/search_white_icon.svg);
  }
  &.exel-icon {
    background-image: url(../images/icon/exel_btn_icon.png);
  }
  
  &.icon-main01{
    width:10rem;
    height: 10rem;
    &::after{
      background-image: url(../images/main/icon_main01.png);
    }
  }
  &.icon-main02{
    width:10rem;
    height: 10rem;
    &::after{
      background-image: url(../images/main/icon_main02.png);
    }
  }
  &.icon-main03{
    width:10rem;
    height: 10rem;
    &::after{
      background-image: url(../images/main/icon_main03.png);
    }
  }
  &.icon-main04{
    width:10rem;
    height: 10rem;
    &::after{
      background-image: url(../images/main/icon_main04.png);
    }
  }
}
/**************************
button btn
***************************/
.btn {
  border-radius: 0.4rem;
  padding: 0rem 1.2rem;
  background: $mainColor;
  height: 3.2rem;
  color: $white;
  font-size: 1.4rem;
  font-weight: 700;
  transition: all 0.2s;
  line-height: 1;
  @include border(1px, $mainColor);
  @include flexbox(row, center, center);
  display: inline-flex;
  color: $mainColor;
  background-color: $white;
  border-color: $mainColor;
  &:hover,
  &.on {
    color: $white;
    background-color: $mainColor;
  }
  &:disabled {
    border-color: $gray03;
    background: $gray04;
    color: $gray02;
  }

  &.btn-icon {
    width: 2.4rem;
    height: 2.4rem;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 0;
    &.btn-hamburger {
      background-image: url(../images/icon/hamberger_icon.png);
    }
    &.btn-head-search {
      width: 2.5rem;
      height: 2.5rem;
      background-image: url(../images/icon/btn_head_search.png);
    }
    &.main_top_open_icon {
      background-image: url(../images/icon/main_top_open_icon.svg);
    }
    &.warning-icon {
      background-image: url(../images/icon/main_top_open_icon.svg);
    }
    &.table-add-icon {
      background-image: url(../images/icon/table_add_icon.svg);
      &.on,
      &:hover {
        background-image: url(../images/icon/table_add_icon_on.svg);
      }
    }
    &.table-remove-icon {
      background-image: url(../images/icon/table_remove_icon.svg);
      &.on,
      &:hover {
        background-image: url(../images/icon/table_remove_icon_on.svg);
      }
    }
  }
  &.btn-type-submit {
    height: 3.2rem;
    padding: 1.6rem;
    background-color: $mainColor;
    color: $white;
    &.on,
    &:hover {
      background-color: $white;
      color: $mainColor;
    }
  }
  &:disabled {
    background: $gray04;
    border-color: $gray04;
    color: $gray01;
    pointer-events: none;
  }
  &.btn-size-s {
    height: 3.2rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
  &.btn-size-m {
    height: 4rem;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }
  &.btn-size-lg {
    height: 4.4rem;
    padding-right: 4.8rem;
    padding-left: 4.8rem;
  }
  &.btn-type01 {
    color: $black;
    background-color: $white;
    border-color: $black;
    &:hover,
    &.on {
      color: $white;
      background-color: $black;
    }
    &:disabled {
      border-color: $gray04;
      background: $gray04;
      color: $gray02;
    }
  }
  &.btn-type02 {
    color: $white;
    background-color: $black;
    border-color: $black;
    &:hover,
    &.on {
      color: $black;
      background-color: $white;
    }
    &:disabled {
      border-color: $gray04;
      background: $gray04;
      color: $gray02;
    }
  }
  &.btn-type03 {
    color: $mainColor;
    background-color: $white;
    border-color: $mainColor;
    &:hover,
    &.on {
      color: $white;
      background-color: $mainColor;
    }
    &:disabled {
      border-color: $gray04;
      background: $gray04;
      color: $gray02;
    }
  }
  &.btn-type04 {
    color: $white;
    background-color: $mainColor;
    border-color: $mainColor;
    &:hover,
    &.on {
      color: $mainColor;
      background-color: $white;
    }
    &:disabled {
      border-color: $gray04;
      background: $gray04;
      color: $gray02;
    }
  }
  &.btn-type05 {
    color: $white;
    background-color: $subColor01;
    border-color: $subColor01;
    &:hover,
    &.on {
      color: $subColor01;
      background-color: $white;
    }
    &:disabled {
      border-color: $gray04;
      background: $gray04;
      color: $gray02;
    }
  }
  &.btn-type06 {
    border-color: transparent;
  }
  &.btn-type07 {
    border-color: transparent;
    color: $black;
    font-weight: 400;
    font-size: 1.4rem;
    &.on,
    &:hover {
      border-color: $mainColor;
      background-color: $mainColor;
      color: $white;
    }
  }
  &.btn-type08 {
    border-color: transparent;
    color: $mainColor;
    font-weight: 400;
    font-size: 1.4rem;
    position: relative;
    &:hover {
      border-color: $mainColor;
      background-color: #fff;
      color: $mainColor;
    }
    &.on {
      &::after {
        content: '';
        font-weight: 600;
        font-size: 0.5rem;
        line-height: 1.6rem;
        text-align: center;
        display: block;
        position: absolute;
        border-radius: 50%;
        left: -0.8rem;
        top: -0.8rem;
        width: 1.6rem;
        height: 1.6rem;
        background-color: $mainColor;
        color: #fff;
        @include background(icon, btn_type08_icon, svg, no-repeat, 100%, center, center);
      }
      border-color: $mainColor;
      background-color: #fff;
      color: $mainColor;
    }
  }
  &.btn {
    &:hover,
    &.on,
    &:active {
      .icon-box {
        &.warning-icon {
          background-image: url(../images/icon/warning_icon.svg);
        }
        &.uproad-icon {
          background-image: url(../images/icon/btn_uproad_icon.svg);
        }
        &.icon-search {
          background-image: url(../images/icon/search_white_icon.svg);
        }
        &.exel-icon {
          width: 2.3rem;
          height: 2.2rem;
          background-image: url(../images/icon/exel_btn_icon.png);
        }
      }
    }
  }
}
/**************************
table
***************************/
.table-wrap {
  width: 100%;
}
.board-top {
  margin-bottom: 1.2rem;
  .board-title {
    font-size: 1.6rem;
    line-height: 2.16rem;
    font-weight: 700;
    span {
      font-size: 1.8rem;
      color: $mainColor;
      font-weight: 700;
    }
  }
  .btn-wrap {
    .btn {
      & + .btn {
      }
    }
  }
  .input-wrap {
    & + .btn-wrap {
      margin-left: 1.2rem;
    }
    & + .input-wrap {
      margin-left: 1.2rem;
    }
    &.search {
      background-color: #fff;
      border-radius: 0.8rem;
      width: 20rem;
      border-bottom: 0;
      margin-left: 1.2rem;
      line-height: 1;
      input {
        width: 100%;
        padding: 0 1.3rem;
        height: 3.2rem;
        line-height: 1;
        @include background(icon, search_icon, svg, no-repeat, 2.4rem, right 1rem, center);
        border: 1px solid $gray03;
      }
    }
  }
  .table-top-form-wrap {
    height: 32px;
  }
}
.board-list {
  margin-bottom: 1.6rem;
  position: relative;
  overflow-x: auto;
}
.board-bottom + .board-list {
  margin-bottom: 0;
}
.board-bottom {
  .btn-wrap {
    .btn {
      width: 13.7rem;
    }
  }
}
.table {
  
  table-layout: fixed;
  border: 1px solid $gray03;
  border-top: 0;
  &.table-initial {
    table-layout: initial;
    width: 100%;
  }
  thead {
    tr {
      &:first-child {
        border-top: 2px solid $mainColor;
        th {
          &:first-child {
            span {
            }
          }
          &:last-child {
            span {
            }
          }
        }
      }
      th {
        background-color: #f8f8f8;
        position: sticky;
        top: 0;
        height: 4rem;
        z-index: 10;
        padding: 0.4rem 0;
        span {
          @include flexbox(row, center, center);
          background-color: #f8f8f8;
          width: 100%;
          color: $black;
          font-size: 1.4rem;
          font-weight: 400;
          text-align: center;
        }
        &.table-head-check-sm {
          width: 4.4rem;
        }
      }
    }
  }
  tbody {
    background-color: $white;
    tr {
      &:first-child {
        border-top: 1px solid $gray03;
        td {
          &:first-child {
            border-radius: 0.4rem 0 0 0;
          }
          &:last-child {
            border-radius: 0 0.4rem 0 0;
          }
        }
      }
      &:first-child,
      &:last-child {
        td {
          border-top: 0;
        }
      }
      &:last-child {
        td {
          border-bottom: 0;
          &:first-child {
            border-radius: 0 0 0 0.4rem;
          }
          &:last-child {
            border-radius: 0 0 0.4rem 0;
          }
        }
      }
      td {
        padding: 0.6rem 1.6rem;
        height: 4rem;
        border: 1px solid $gray03;
        color: $black;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
        overflow: hidden;
        span {
          display: block;
          line-height: 1.5;
        }
        &.td-max {
          @include ellipsis();
          span {
            @include ellipsis();
            -webkit-transition: all 1.5s ease-in-out;
            transition: all 1.5s ease-in-out;
            max-height: 3.8rem;
          }
          &.no-ellipsis {
            span {
              //overflow: initial ;
              text-overflow: initial;
              white-space: initial;
              max-height: 999px;
              text-align: left;
            }
          }
        }
        &.no-ellipsis {
          span {
            //overflow: initial ;
            text-overflow: initial;
            white-space: initial;
            max-height: 999px;
            text-align: left;
          }
        }
        &:first-child {
          border-left: 0;
        }
        &:last-child {
          border-right: 0;
        }
        .modify-cell-write {
          display: none;
        }
        &.modify-cell {
          &.modify-cell-on {
            span {
              display: none;
            }
            .modify-cell-write {
              display: block;
              textarea {
                width: 100%;
                max-width: 100%;
                height: 3.2rem;
                min-height: 3.2rem;
                resize: none;
                padding: 0.8rem 0.8rem 0.2rem 0.8rem;
              }
            }
          }
        }
        &.text-left {
          text-align: left;
        }
      }
    }
  }
  &-main-bottom {
    table-layout: initial;
    min-width: 75rem;
  }
  thead tr th,
  tbody tr td {
    &.board-check-td-type01 {
      width: 4.4rem;
    }
    &.board-check-td-type02 {
      width: 20.8rem;
    }
  }
}



/*****************
status 
*/ /////////
span.status {
  display: block;
  width: 100%;
  height: 1.4rem;

  &.status-green {
    background-color: $green;
  }
  &.status-yellow {
    background-color: $yellow;
  }
  &.status-red {
    background-color: $red;
  }
}
/***********************
date range picker
***********************/
/* datepicker custom */
.ui-datepicker {
  width: 23.2rem;
  padding: 2rem 1.4rem;
  border-color: $gray02;
  z-index: 999;
}
.ui-datepicker .ui-datepicker-header {
  padding: 0;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2rem;
  line-height: 1;
  font-size: 1.4rem;
}
.ui-widget-header {
  background: $white;
  border: none;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #000;
}
.ui-datepicker .ui-datepicker-prev {
  left: 0;
}
.ui-datepicker .ui-datepicker-next {
  right: 0;
}
.ui-datepicker .ui-datepicker-prev span {
  @include background(icon, datepicker_arrow01, png, no-repeat, contain, center, center);
}
.ui-datepicker .ui-datepicker-next span {
  @include background(icon, datepicker_arrow02, png, no-repeat, contain, center, center);
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  font-size: 1.4rem;
  width: 6.4rem;
  font-weight: bold;
  border: none;
  border-radius: 0;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: $mainColor;
  }
  &::-webkit-scrollbar-track {
    background: $gray02;
  }
}
.ui-datepicker select.ui-datepicker-month {
  margin-left: 1rem;
}
.ui-datepicker table {
  margin: 1.4rem 0 0 0;
}
.ui-datepicker th {
  padding: 0.4rem;
}
.ui-datepicker td span {
  color: $gray01;
  font-weight: 600;
}
.ui-datepicker td span,
.ui-datepicker td a {
  width: 2.4rem;
  height: 2.4rem;
  margin: 0 auto;
  font-size: 1.4rem;
}
.ui-state-default,
.ui-widget-content .ui-state-default {
  border: none;
  color: $black; /*background: $white;*/
  @include flexbox(row, center, center);
}
.ui-state-default,
.ui-widget-content .ui-state-default {
  border-radius: 50%;
  background: $white;
}
.ui-state-active,
.ui-widget-content .ui-state-active {
  @include border(1px, $mainColor);
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
  background: $mainColor;
  color: $white;
  font-weight: bold;
}

@include web {

}


@include tablet {

}


@include mobile {

}
