$primary: #2283c7;
$subColor: #1cb2e7;
$subColor01: #f38337;
$subColor02: #fdb934;
$red: #ff455c;
$green: #54dc00;
$yellow: #ffc700;
$gray01: #666666;
$gray02: #bbbbbb;
$gray03: #dddddd;
$gray04: #f8f8f8;
$gray05: #f3f4f8;
$gray06: #6e6e6e;
$gray07: #dcdcdc;
$black: #000;
$black01: #222;
$black02: #444;
$white: #ffffff;


/*filter*/
$filter-primary: 123;
$filter-primary: 123;
$filter-primary: 123;
$filter-primary: 123;
$filter-primary: 123;
$filter-primary: 123;
$filter-primary: 123;
$filter-primary: 123;