.input-group{
    @include flexbox(row, flex-start, center);
}
.input-wrap{

}
.input-tit{
  size:1.6rem;
  font-weight:500;
  line-height:1.5;
  margin-bottom:0.8rem;
}
input{}


.input-wrap .input-error-text {
    opacity: 0 !important;
    position: absolute !important;
    background-color: $red;
    border: 1px solid $red;
    padding: 0.4rem 1.2rem;
    border-radius: 0 0.8rem 0.8rem 0.8rem;
}
.input-wrap input.input-error + .input-error-text {
    position: absolute;
    left: 3rem;
    top: calc(100% + 0.4rem);
    opacity: 1 !important;
  
    /* animate */
    animation-name: inputErrorText;
    animation-duration: 0.25s;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    /*animation-play-state: paused;*/
    /*animation-timing-function: 1s;*/
    animation-fill-mode: both;
}
.input-wrap input.input-error + .input-error-text span {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* Dropdown (셀렉트박스 커스텀)
/* ------------------------------------------------------------------------------------------------------------------ */
.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    & + .dropdown {
      margin-left: 0.8rem;
    }
    &.dropdown-type02 {
      min-width: 10.8rem;
    }
    .dropdown-toggle {
      position: relative;
      display: block;
      text-decoration: none;
      padding: 0 4rem 0 1.2rem;
      width: 100%;
      height: 3.2rem;
      line-height: 3.2rem;
      font-size: 1.4rem;
      border-radius: 0.4rem;
      border: 1px solid $black;
      color: #141414;
      background-color: #fff;
      cursor: pointer;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      text-overflow: ellipsis;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      &:hover {
        border-color: $primary;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-50%) rotate(0);
        width: 1.8rem;
        height: 1.8rem;
        display: inline-block;
        background: url(../../images/icon/dropdown_icon.png) no-repeat center/contain;
        transition: all 0.3s;
      }
      &.disabled {
        color: #b1b1b1;
      }
    }
    .dropdown-menu {
      list-style: none;
      margin: 0;
      padding: 0;
      z-index: 999;
      position: absolute;
      top: calc(100% - 2px);
      left: 0;
      right: 0;
      margin-top: -1px;
      background-color: transparent;
      max-height: 0;
      overflow: hidden;
      text-align: left;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      border: 1px solid transparent;
      font-size: 1.4rem;
      li {
        cursor: pointer;
        a {
          text-decoration: none;
          padding: 0 1.2rem 0 1.2rem;
          height: 3.2rem;
          line-height: 3.2rem;
          color: #141414;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          position: relative;
          .option-color {
            width: 1rem;
            height: 1rem;
            position: absolute;
            right: 1.6rem;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid $gray04;
            display: inline-block;
            &.option-white {
              border: 1px solid $gray04;
              background-color: $white;
            }
            &.option-green {
              border: 1px solid $green;
              background-color: $green;
            }
            &.option-yellow {
              border: 1px solid $yellow;
              background-color: $yellow;
            }
            &.option-red {
              border: 1px solid $red;
              background-color: $red;
            }
          }
        }
      }
    }
    &.on {
      .dropdown-toggle {
        border-radius: 0.4rem 0.4rem 0 0;
        border-color: $primary;
        border-bottom: 1px solid transparent;
        &::after {
          transform: translateY(-50%) rotate(180deg);
        }
      }
      .dropdown-menu {
        top: calc(100% - 0.2rem);
        border-color: $primary;
        background-color: $white;
        border-top: 0;
        max-height: 256px;
        overflow-y: auto;
        border-radius: 0 0 0.4rem 0.4rem;
      }
    }
    &.dropup {
      .dropdown-toggle {
        &::after {
          transform: translateY(-50%) rotate(180deg);
        }
      }
      .dropdown-menu {
        -webkit-transition: all 0s;
        transition: all 0s;
      }
      &.on {
        .dropdown-toggle {
          border-radius: 0 0 0.4rem 0.4rem;
          border-color: $primary;
          border-top: 0;
          border-bottom: 1px solid $primary;
          &::after {
            transform: translateY(-50%) rotate(0);
          }
        }
        .dropdown-menu {
          border-color: $primary;
          background-color: $white;
          top: initial;
          bottom: calc(100% - 0.1rem);
          border-top: 1px solid $primary;
          border-bottom: 0;
          max-height: 256px;
          overflow-y: auto;
          border-radius: 0.4rem 0.4rem 0 0;
        }
      }
    }
  }
  .dropdown .dropdown-toggle.on + .dropdown-menu {
    max-height: 9999px;
    overflow: initial;
  }
  /* Hover */
  .dropdown:not(.dropdown-disabled):hover .dropdown-toggle {
    //border-color: #141414;
  }
  .dropdown .dropdown-menu > li:hover {
    background-color: #eef1f2;
  }
  /* Click to Open */
  .dropdown:not(.dropdown-disabled) .dropdown-toggle.open {
    border-color: #cccccc;
  }
  .dropdown:not(.dropdown-disabled) .dropdown-toggle.open::after {
    transform: translateY(-50%) rotate(180deg);
    transition: all 0.3s;
  }
  .dropdown:not(.dropdown-disabled) .dropdown-menu.open {
    display: block;
  }
  
  /* disabled */
  .dropdown.dropdown-disabled .dropdown-toggle {
    background-color: #eaeaea !important;
    color: #b1b1b1 !important;
  }
  .dropdown.dropdown-disabled .dropdown-toggle::after {
    border-color: #b1b1b1 !important;
  }





/* ------------------------------------------------------------------------------------------------------------------ */
/* textfield
/* ------------------------------------------------------------------------------------------------------------------ */
.textfield {
  position:relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  input {
    width: 100%;
    height: 4.8rem;
    border: 0;
    border: 1px solid $gray07;
    color:$gray02;
    border-radius:4px;
    padding-left:0.8rem;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    &::placeholder {
      color: $gray07;
    }
  }
  &::before{
    content:'';
    position: absolute;
    left: 1.4rem;
    top:50%;
    transform: translateY(-50%);
    width:2rem;
    height: 2rem;
    filter:invert(96%) sepia(2%) saturate(2582%) hue-rotate(184deg) brightness(97%) contrast(78%);
  }
  .error-text {
    height: 0;
    padding-top: 0px;
    padding-left:0.8rem;
    overflow: hidden;
    color: #F04438;
    font-size: 0rem;
    line-height: 1;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  &[data-status='default'] {
    
  }
  &[data-status='active'] {
    input{
      color:#797F8B;
      border:1px solid #797F8B;
    }
    &[data-status='active']{
      &::before{
        filter:invert(51%) sepia(14%) saturate(286%) hue-rotate(182deg) brightness(94%) contrast(91%);
      }
    }
  }
  &[data-icon="true"]{
    input{
      padding-left:4.2rem;
    }
  }
  &[data-status='confirm'] {
    input{
      color:#797F8B;
      border:1px solid #797F8B;
    }
  }
  &[data-status='error'] {
    margin-bottom:2.6rem;
    input {
      border: 1px solid #FDA29B !important;
    }
    .error-text {
      position:absolute;
      height: auto;
      font-size: 1.4rem;
      line-height: 1.5;
      padding-top: 0.5rem;
    }
  }
  &[data-status='disabled'] {
    input {
      &:disabled {
      }
    }
  }
  &[data-type='text'] {
  }
  &[data-type='search'] {
  }
  &[data-type='id'] {
    &::before{
      @include background(icon, user_icon, svg, no-repeat, 2rem,center);
    }
  }
  &[data-type='password'] {
    &::before{
      @include background(icon, lock_icon, svg, no-repeat, 2rem,center);
    }
  }
  /* size */
  &[data-size='LG'] {
    input {
      height: 4.8rem;
    }
  }
  &[data-size='MD'] {
    input {
      height: 4rem;
    }
  }
  &[data-size='SM'] {

  }
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* checkbox
/* ------------------------------------------------------------------------------------------------------------------ */
.checkbox{
  @include flexbox(row,flex-start,center);
  position:relative;
  padding-left:2.8rem;
  min-height:2rem;
  
  input[type='checkbox']{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position:absolute;
    width:2rem;height:2rem;
    left:0;
    top:0;
    padding:0;margin:0;
    border-color:transparent;
    background-color: transparent;
    border-radius: 4px;
    &:focus{
      outline: 1px solid $primary;
      outline-offset: 2px;
    }
    &::before{
      content:'';
      position:absolute;
      left:0;
      top:50%;
      transform:translateY(-50%);
      width:2rem;height:2rem;
      border:1px solid $gray07;
      border-radius: 4px;
    }
    &::after{
      content:'';
      display:none;
      position:absolute;
      left:0;
      top:50%;
      transform:translateY(-50%);
      width:2rem;height:2rem;
      border:1px solid $primary;
      border-radius: 4px;
      @include background(icon, checkbox_check_icon, svg, no-repeat, 1.8,center,center);
    }
    &:checked{
      &::after{
        display:block;
      }
    }
  }
  label{
    position:relative;
    bottom:1px;
    font-size:1.6rem;
    font-weight: 400;
    cursor:pointer;
  }
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* select
/* ------------------------------------------------------------------------------------------------------------------ */

.select{
  position:relative;
  .select-btn{
    @include flexbox(row, flex-start, center);
    width:100%;
    height:4rem;
    background-color:#fff;
    border:1px solid $black;
    text-align: left;
    padding-left:0.8rem;
    padding-right:4.2rem;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border-radius:4px;
    span{
      font-size:1.4rem;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0.8rem;
      transform: translateY(-50%) rotate(0);
      width: 2.4rem;
      height: 2.4rem;
      display: inline-block;
      background: url(../../images/icon/dropdown_icon.png) no-repeat center;
      background-size:cover;
    }
  }
  .option-box{
    position:absolute;
    left:0;
    top:calc(100%);
    z-index:1;
    width:100%;
    max-height:180px;
    height:0;
    overflow:hidden;
    background-color: #fff;
    -webkit-transition: height 0.25s ease-in-out;
    transition: height 0.25s ease-in-out;
    border:0px solid #ddd;
    .option{
      @include flexbox(row, flex-start, center);
      width:100%;
      height: 3.2rem;
      background-color: #fff;
      border-bottom:1px solid #ddd;
      padding-left:0.8rem;
      span{
        font-size:1.4rem;
      }
      &:last-child{
        border-bottom:0;
      }
      &:disabled{
        pointer-events: none;
      }
    }
  }
  /* status */
  &[data-status='active'] {
    .select-btn{
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    .option-box{
      height: auto;
      overflow:auto;
      border:1px solid #ddd;
    }
  }
  &[data-status='disabled']{

  }
  &[data-status='readonly']{
    
  }
  /* size */
  &[data-size='LG'] {
    .select-btn{
      height: 4.8rem;
    }
    .option-box{
      .option{

      }
    }
  }
  &[data-size='MD'] {
    .select-btn{
      height: 4rem;
    }
    .option-box{
      .option{
        
      }
    }
  }
  &[data-size='SM'] {
    .select-btn{
      height: 4.8rem;
    } 
    .option-box{
      .option{
        
      }
    }
  }
}


/* ------------------------------------------------------------------------------------------------------------------ */
/* textarea
/* ------------------------------------------------------------------------------------------------------------------ */
.textarea-box{
  border:1px solid $gray07;
  padding:1.2rem;
  border-radius:4px;
  max-width:100%;
  .textarea-con{
    overflow-y:scroll;
    padding-right:4px;
    height: 100%;
    p{
      font-size:1.4rem;
      line-height: 1.5;
      color:$gray02;
    }
  }
}
.textarea{
  
}