/**************************
icon
***************************/
.icon-box {
  width: 2rem;
  height: 2rem;
  border: 0;
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  &.icon-size {
    &-xs {
      width: 1.8rem;
      height: 1.8rem;
    }
    &-sm {
      width: 2rem;
      height: 2rem;
    }
    &-md {
      width: 2.2rem;
      height: 2.2rem;
    }
    &-lg {
      width: 2.4rem;
      height: 2.4rem;
    }
    &-16{
      width: 1.6rem;
      height: 1.6rem;
    }
    &-20{
      width: 2rem;
      height: 2rem;
    }
    &-24{
      width: 2.4rem;
      height: 2.4rem;
    }
    &-36{
      width: 3.6rem;
      height: 3.6rem;
    }
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  
  &.icon-prev{
    &::after {
      background-image: url(../../images/icon/arrow_r_x0_icon.svg);
      transform: rotate(180deg);
      filter: invert(11%) sepia(19%) saturate(0%) hue-rotate(207deg) brightness(92%) contrast(92%);
    }
  }
  &.icon-next{
    &::after {
      background-image: url(../../images/icon/arrow_r_x0_icon.svg);
      
      filter: invert(11%) sepia(19%) saturate(0%) hue-rotate(207deg) brightness(92%) contrast(92%);
    }
  }
  &.icon-smile{
    &::after {
      background-image: url(../../images/icon/smile_icon.svg);
      filter: invert(11%) sepia(19%) saturate(0%) hue-rotate(207deg) brightness(92%) contrast(92%);
    }
  }
  &.icon-birth{
    &::after {
      background-image: url(../../images/icon/calendar_icon.svg);
      filter: invert(11%) sepia(19%) saturate(0%) hue-rotate(207deg) brightness(92%) contrast(92%);
    }
  }
  &.icon-arrow-r {
    &::after {
      background-image: url(../../images/icon/swipe_next_icon.svg);
      filter: invert(11%) sepia(19%) saturate(0%) hue-rotate(207deg) brightness(92%) contrast(92%);
    }
  }
  &.icon-upload {
    &::after {
      background-image: url(../../images/icon/btn_upload_icon.svg);
      filter: invert(11%) sepia(19%) saturate(0%) hue-rotate(207deg) brightness(92%) contrast(92%);
    }
  }
  &.icon-download {
    &::after {
      background-image: url(../../images/icon/btn_download_icon.svg);
      filter: invert(11%) sepia(19%) saturate(0%) hue-rotate(207deg) brightness(92%) contrast(92%);
    }
  }
  &.icon-warning {
    &::after {
      background-image: url(../../images/icon/warning_icon.svg);
    }
  }
  &.gallery-next-icon {
    &::after {
      background-image: url(../../images/icon/gallery_next_icon.png);
      filter:none !important;
    }
  }
  /*baord*/
  &.icon-file{
    &::after {
      background-image: url(../../images/icon/board_write_file_icon.svg);
      filter:none !important;
    }
  }
  &.icon-faq-down{
    &::after {
      background-image: url(../../images/icon/arrow_down_icon.svg);
      transform: rotate(180deg);
      filter: invert(11%) sepia(19%) saturate(0%) hue-rotate(207deg) brightness(92%) contrast(92%);
    }
  }
  &.icon-faq-up{
    &::after {
      background-image: url(../../images/icon/arrow_down_icon.svg);
      transform: rotate(180deg);
      filter: invert(11%) sepia(19%) saturate(0%) hue-rotate(207deg) brightness(92%) contrast(92%);
    }
  }
  /*popup*/
  &.icon-close{
    &::after {
      background-image: url(../../images/icon/close_icon.svg);
      filter:none !important;
    }
  }

  /*admin*/
  &.icon-admin-user{
    &::after {
      background-image: url(../../images/icon/admin_user_icon.svg);
      filter:none !important;
    }
  }
  &.icon-admin-book{
    &::after {
      background-image: url(../../images/icon/admin_book_icon.svg);
      filter:none !important;
    }
  }
  &.icon-admin-server{
    &::after {
      background-image: url(../../images/icon/admin_suerver_icon.svg);
      filter:none !important;
    }
  }
  &.icon-admin-moniter{
    &::after {
      background-image: url(../../images/icon/admin_moniter_icon.svg);
      filter:none !important;
    }
  }
  &.icon-admin-servay{
    &::after {
      background-image: url(../../images/icon/admin_file_icon.svg);
      filter:none !important;
    }
  }
  &.icon-white-home{
    &::after {
      background-image: url(../../images/icon/home_white_icon.png);
      filter:none !important;
    }
  }
  &.icon-admin-side-setting{
    &::after {
      background-image: url(../../images/icon/admin_admin_side_setting_icon.png);
      filter:none !important;
    }
  }
  &.icon-admin-side-servay{
    &::after {
      background-image: url(../../images/icon/admin_admin_side_servay_icon.png);
      filter:none !important;
    }
  }
  &.icon-admin-side-current{
    &::after {
      background-image: url(../../images/icon/admin_admin_side_current_icon.png);
      filter:none !important;
    }
  }
}
