$headH:6rem;
$containerW:120rem;
body{
 
}
@include tablet{
  body,html{
    width:100%;
    overflow: hidden;
  }
}
header{
  width:100%;
  //border-bottom:1px solid $gray03;
  box-shadow: 3px 3px 15px rgba(100,100,100,0.1);
  position: fixed;
  top: 0;
  left:0;
  width:100%;
  z-index: 999;
  .inner{
    width:164rem;
    height:$headH;
  }
}
.inner{
  padding: 0 3rem;
  //width:$containerW;
  margin: 0 auto;
}
.head-con{
  @include flexbox(row, flex-start, flex-start);
  //justify-content: space-between;
  align-items: center;
  height: 100%;
  .logo-wrap{
    margin-right:2.4rem;
    width:15rem;
  }
  .gnb{
    margin-right:auto ;
    nav{
      > ul{
        //margin-right:-2rem;
        @include flexbox(row, flex-start, flex-start);
        .gnb-depth-01{
            position: relative;
            flex:1 1 auto;
            //margin-right:2rem;
            padding:0 2rem;
            > a{
              -webkit-transition: all 0.25s ease-in-out;
              transition: all 0.25s ease-in-out;
            }
            span{
              font-size:1.8rem;
            }
            &::after{
              content:'';
              display:block;
              height:2px;
              width:0;
              position:absolute;
              left:0;
              top:100%;
              background: $mainColor;
              -webkit-transition: all 0.25s ease-in-out;
              transition: all 0.25s ease-in-out;
            }
            &:hover,&.on{
              > a{
                color:$mainColor;
              }
              &::after{
                width:100%;
              }
            }
          
        }
        .gnb-depth-02{
          display: none;
          position: absolute;
          width: 100%;
          left: 0;
          top: calc(100% + 4rem);
          ul{
            li{
              margin-bottom:0.8rem;
              text-align: center;
              span{
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
  .rnb{
    margin-left:auto;
  }
}

.content{
  padding-top:$headH;
  min-height:calc(100vh - 12rem);
  .inner{
    padding: 0 3rem;
  }
}
footer{
  .inner{

  }
  .foot-top{
    .foot-nav{
      ul{
        @include flexbox(row, flex-start, flex-start);
        li{
          margin-right: 1.6rem;
          a{
            display: block;
          }
        }
      }
    }
  }
}

.item-wrap{
  @include flexbox(row, flex-start, flex-start);
  margin-right:-1.6rem;
  margin-bottom:-1.6rem;
  & + .item-wrap{
    margin-top:1.6rem;
  }
  &.justify-end {
    -webkit-box-pack: end;
    -moz-box-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  &.justify-between {
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  &.justify-center {
    -webkit-box-pack: center;
    -moz-box-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  &.align-center {
    -webkit-box-align: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &.align-end {
    -webkit-box-align: end;
    -moz-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  &.align-baseline {
    -webkit-box-align: baseline;
    -moz-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  &.flex-wrap{
    flex-wrap:wrap;
  }
  .item-box{
    flex:1 1 auto;
    min-height: 200px;
    margin-right:1.6rem;
    margin-bottom:1.6rem;
    .item-top{
    
    }
    .item-con{
      &.item-con-pad{
        padding:1.6rem;
      }
    }
  }
}
.line-box{
  
}