.container{
  max-width:118rem;
  margin:0 auto;
  @include tablet {
    &.md-container{
      max-width:100%;
    }
  }
  @include mobile {
    &.sm-container{
      max-width:100%;
    }
  }
}
.inner{
  max-width:118rem;
  margin:0 auto;
  @include tablet {
    &.md-inner{
      max-width:100%;
    }
  }
  @include mobile {
    &.sm-inner{
      max-width:100%;
    }
  }
}
/**************************
col  wb mo tb
***************************/
$colXGutter: 1.333333333328%;
$colYGutter: 3rem;
$colTabletXGutter: 3rem;
$colTabletYGutter: 3rem;
$colmobileXGutter: 3rem;
$colmobileYGutter: 3rem;
.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: calc(-1 * $colYGutter);
  margin-right: calc(-0.5 * $colXGutter);
  margin-left: calc(-0.5 * $colXGutter);
  @include tablet {
    margin-top: calc(-1 * $colTabletYGutter);
    margin-right: calc(-0.5 * $colTabletXGutter);
    margin-left: calc(-0.5 * $colTabletXGutter);
  }
  @include mobile {
    margin-top: calc(-1 * $colmobileYGutter);
    margin-right: calc(-0.5 * $colmobileXGutter);
    margin-left: calc(-0.5 * $colmobileXGutter);
  }
}
.row > * {
  flex: 0 0 auto;
  padding-right: calc($colXGutter * 0.5);
  padding-left: calc($colXGutter * 0.5);
  margin-top: $colYGutter;
  @include tablet {
    padding-right: calc($colTabletXGutter * 0.5);
    padding-left: calc($colTabletXGutter * 0.5);
    margin-top: $colTabletYGutter;
  }
  @include mobile {
    padding-right: calc($colmobileXGutter * 0.5);
    padding-left: calc($colmobileXGutter * 0.5);
    margin-top: $colmobileYGutter;
  }
}
.col {
  &-1 {
    width: 8.333333333333333%;
  }
  &-2 {
    width: 16.66666666666667%;
  }
  &-3 {
    width: 25%;
  }
  &-4 {
    width: 33.33333333333333%;
  }
  &-5 {
    width: 41.66666666666667%;
  }
  &-6 {
    width: 50%;
  }
  &-7 {
    width: 58.333333333333333%;
  }
  &-8 {
    width: 66.66666666666667%;
  }
  &-9 {
    width: 75%;
  }
  &-10 {
    width: 83.33333333333333%;
  }
  &-11 {
    width: 91.66666666666667%;
  }
  &-12 {
    width: 100%;
  }
  @include web {
    &-lg {
      &-1 {
        width: 8.333333333333333%;
      }
      &-2 {
        width: 16.66666666666667%;
      }
      &-3 {
        width: 25%;
      }
      &-4 {
        width: 33.33333333333333%;
      }
      &-5 {
        width: 41.66666666666667%;
      }
      &-6 {
        width: 50%;
      }
      &-7 {
        width: 58.333333333333333%;
      }
      &-8 {
        width: 66.66666666666667%;
      }
      &-9 {
        width: 75%;
      }
      &-10 {
        width: 83.33333333333333%;
      }
      &-11 {
        width: 91.66666666666667%;
      }
      &-12 {
        width: 100%;
      }
    }
  }
  @include xl_web {
    &-xl {
      &-1 {
        width: 8.333333333333333%;
      }
      &-2 {
        width: 16.66666666666667%;
      }
      &-3 {
        width: 25%;
      }
      &-4 {
        width: 33.33333333333333%;
      }
      &-5 {
        width: 41.66666666666667%;
      }
      &-6 {
        width: 50%;
      }
      &-7 {
        width: 58.333333333333333%;
      }
      &-8 {
        width: 66.66666666666667%;
      }
      &-9 {
        width: 75%;
      }
      &-10 {
        width: 83.33333333333333%;
      }
      &-11 {
        width: 91.66666666666667%;
      }
      &-12 {
        width: 100%;
      }
    }
  }
  @include xxl_web {
    &-xxl {
      &-1 {
        width: 8.333333333333333%;
      }
      &-2 {
        width: 16.66666666666667%;
      }
      &-3 {
        width: 25%;
      }
      &-4 {
        width: 33.33333333333333%;
      }
      &-5 {
        width: 41.66666666666667%;
      }
      &-6 {
        width: 50%;
      }
      &-7 {
        width: 58.333333333333333%;
      }
      &-8 {
        width: 66.66666666666667%;
      }
      &-9 {
        width: 75%;
      }
      &-10 {
        width: 83.33333333333333%;
      }
      &-11 {
        width: 91.66666666666667%;
      }
      &-12 {
        width: 100%;
      }
    }
  }
  @include tablet {
    &-md {
      &-1 {
        width: 8.333333333333333%;
      }
      &-2 {
        width: 16.66666666666667%;
      }
      &-3 {
        width: 25%;
      }
      &-4 {
        width: 33.33333333333333%;
      }
      &-5 {
        width: 41.66666666666667%;
      }
      &-6 {
        width: 50%;
      }
      &-7 {
        width: 58.333333333333333%;
      }
      &-8 {
        width: 66.66666666666667%;
      }
      &-9 {
        width: 75%;
      }
      &-10 {
        width: 83.33333333333333%;
      }
      &-11 {
        width: 91.66666666666667%;
      }
      &-12 {
        width: 100%;
      }
    }
  }
  @include mobile {
    &-sm {
      &-1 {
        width: 8.333333333333333%;
      }
      &-2 {
        width: 16.66666666666667%;
      }
      &-3 {
        width: 25%;
      }
      &-4 {
        width: 33.33333333333333%;
      }
      &-5 {
        width: 41.66666666666667%;
      }
      &-6 {
        width: 50%;
      }
      &-7 {
        width: 58.333333333333333%;
      }
      &-8 {
        width: 66.66666666666667%;
      }
      &-9 {
        width: 75%;
      }
      &-10 {
        width: 83.33333333333333%;
      }
      &-11 {
        width: 91.66666666666667%;
      }
      &-12 {
        width: 100%;
      }
    }
  }
}

//margin,padding,input-width wb mo tb
@for $i from 0 through 200 {
  .m-t-#{$i} {
    margin-top: $i * 0.1rem;
  }
  .m-b-#{$i} {
    margin-bottom: $i * 0.1rem;
  }
  .m-r-#{$i} {
    margin-right: $i * 0.1rem;
  }
  .m-l-#{$i} {
    margin-left: $i * 0.1rem;
  }
  .m-x-#{$i} {
    margin-right: $i * 0.1rem;
    margin-left: $i * 0.1rem;
  }
  .p-r-#{$i} {
    padding-right: $i * 0.1rem;
  }
  .p-l-#{$i} {
    padding-left: $i * 0.1rem;
  }
  .p-t-#{$i} {
    padding-top: $i * 0.1rem;
  }
  .p-b-#{$i} {
    padding-bottom: $i * 0.1rem;
  }
  .p-y-#{&i} {
    padding-top: $i * 0.1rem;
    padding-bottom: $i * 0.1rem;
  }
  .p-x-#{&i} {
    padding-right: $i * 0.1rem;
    padding-left: $i * 0.1rem;
  }
  @include tablet {
    .md-m-t-#{$i} {
      margin-top: $i * 0.1rem;
    }
    .md-m-b-#{$i} {
      margin-bottom: $i * 0.1rem;
    }
    .md-m-r-#{$i} {
      margin-right: $i * 0.1rem;
    }
    .md-m-l-#{$i} {
      margin-left: $i * 0.1rem;
    }
    .md-m-x-#{$i} {
      margin-right: $i * 0.1rem;
      margin-left: $i * 0.1rem;
    }
    .md-p-r-#{$i} {
      padding-right: $i * 0.1rem;
    }
    .md-p-l-#{$i} {
      padding-left: $i * 0.1rem;
    }
    .md-p-t-#{$i} {
      padding-top: $i * 0.1rem;
    }
    .md-p-b-#{$i} {
      padding-bottom: $i * 0.1rem;
    }
    .md-p-x-#{&i} {
      padding-right: $i * 0.1rem;
      padding-left: $i * 0.1rem;
    }
    .md-p-y-#{&i} {
      padding-top: $i * 0.1rem;
      padding-bottom: $i * 0.1rem;
    }
  }
  @include mobile {
    .sm-m-t-#{$i} {
      margin-top: $i * 0.1rem;
    }
    .sm-m-b-#{$i} {
      margin-bottom: $i * 0.1rem;
    }
    .sm-m-r-#{$i} {
      margin-right: $i * 0.1rem;
    }
    .sm-m-l-#{$i} {
      margin-left: $i * 0.1rem;
    }
    .sm-m-x-#{$i} {
      margin-right: $i * 0.1rem;
      margin-left: $i * 0.1rem;
    }
    .sm-p-r-#{$i} {
      padding-right: $i * 0.1rem;
    }
    .sm-p-l-#{$i} {
      padding-left: $i * 0.1rem;
    }
    .sm-p-t-#{$i} {
      padding-top: $i * 0.1rem;
    }
    .sm-p-b-#{$i} {
      padding-bottom: $i * 0.1rem;
    }
    .sm-p-x-#{&i} {
      padding-right: $i * 0.1rem;
      padding-left: $i * 0.1rem;
    }
    .sm-p-y-#{&i} {
      padding-top: $i * 0.1rem;
      padding-bottom: $i * 0.1rem;
    }
  }
}
@for $i from 0 through 400 {
  .w-#{$i} {
    width: $i * 0.1rem;
  }
  .h-#{$i * 1} {
    height: $i * 0.1rem;
  }
  .min-w-#{$i * 1} {
    min-width: $i * 0.1rem;
  }
  .max-w-#{$i * 1} {
    max-width: $i * 0.1rem;
  }
  .min-h-#{$i * 1} {
    min-height: $i * 0.1rem;
  }
  .max-h-#{$i * 1} {
    max-height: $i * 0.1rem;
  }
  @include tablet {
    .md{
      &-w-#{$i} {
        width: $i * 0.1rem;
      }
      &-h-#{$i * 1} {
        height: $i * 0.1rem;
      }
      &-min-w-#{$i * 1} {
        min-width: $i * 0.1rem;
      }
      &-max-w-#{$i * 1} {
        max-width: $i * 0.1rem;
      }
      &-min-h-#{$i * 1} {
        min-height: $i * 0.1rem;
      }
      &-max-h-#{$i * 1} {
        max-height: $i * 0.1rem;
      }
    }
    
  }
  @include mobile {
    .sm{
      &-w-#{$i} {
        width: $i * 0.1rem;
      }
      &-h-#{$i * 1} {
        height: $i * 0.1rem;
      }
      &-min-w-#{$i * 1} {
        min-width: $i * 0.1rem;
      }
      &-max-w-#{$i * 1} {
        max-width: $i * 0.1rem;
      }
      &-min-h-#{$i * 1} {
        min-height: $i * 0.1rem;
      }
      &-max-h-#{$i * 1} {
        max-height: $i * 0.1rem;
      }
    }
    
  }
}
.w-full {
  width: 100% !important;
}
.h-full {
  height: 100% !important;
}

.m {
  &-r-auto {
    margin-right: auto;
  }
  &-l-auto {
    margin-left: auto;
  }
}

/************** 
flex-box
*****************/
.flex-box {
  position: relative;
  @include flexbox(row, flex-start, flex-start);
  &.column-type {
    flex-direction: column;
  }
  &.justify-end {
    -webkit-box-pack: end;
    -moz-box-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  &.justify-between {
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  &.justify-center {
    -webkit-box-pack: center;
    -moz-box-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  &.align-center {
    -webkit-box-align: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &.align-end {
    -webkit-box-align: end;
    -moz-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  &.align-baseline {
    -webkit-box-align: baseline;
    -moz-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  @include tablet {
    &.md{
      &-column-type {
        flex-direction: column;
      }
      &-justify-end {
        -webkit-box-pack: end;
        -moz-box-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }
      &-justify-between {
        -webkit-box-pack: justify;
        -moz-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
      &-justify-center {
        -webkit-box-pack: center;
        -moz-box-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      &-align-center {
        -webkit-box-align: center;
        -moz-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }
      &-align-end {
        -webkit-box-align: end;
        -moz-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
      }
      &-align-baseline {
        -webkit-box-align: baseline;
        -moz-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
      }
    }
    
  }
  @include mobile {
    &.sm{
      &-column-type {
        flex-direction: column;
      }
      &-justify-end {
        -webkit-box-pack: end;
        -moz-box-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }
      &-justify-between {
        -webkit-box-pack: justify;
        -moz-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
      &-justify-center {
        -webkit-box-pack: center;
        -moz-box-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      &-align-center {
        -webkit-box-align: center;
        -moz-align-items: center;
        -ms-flex-align: center;
        align-items: center;
      }
      &-align-end {
        -webkit-box-align: end;
        -moz-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
      }
      &-align-baseline {
        -webkit-box-align: baseline;
        -moz-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
      }
    }
  }
}
.flex-wrap {
  flex-wrap: wrap;
}

/*.flex-1 .flex-md-1 , .flex-sm-1 */
.flex {
  &-1 {
    flex: 1 1 auto;
  }
  &-2 {
    flex: 2 1 auto;
  }
  &-3 {
    flex: 3 1 auto;
  }
  &-4 {
    flex: 4 1 auto;
  }
  &-5 {
    flex: 5 1 auto;
  }
}
@include tablet {
  .md{
    &-flex {
      &-1 {
        flex: 1 1 auto;
      }
      &-2 {
        flex: 2 1 auto;
      }
      &-3 {
        flex: 3 1 auto;
      }
      &-4 {
        flex: 4 1 auto;
      }
      &-5 {
        flex: 5 1 auto;
      }
    }
  }
}
@include mobile {
  .sm{
    &-flex {
      &-1 {
        flex: 1 1 auto;
      }
      &-2 {
        flex: 2 1 auto;
      }
      &-3 {
        flex: 3 1 auto;
      }
      &-4 {
        flex: 4 1 auto;
      }
      &-5 {
        flex: 5 1 auto;
      }
    }
  }
}
.flex-basis {
  &-0 {
    flex-basis: 0;
  }
  &-auto {
    flex-basis: auto;
  }
}
.flex-grow {
  &-1 {
    flex-grow: 1;
  }
  &-2 {
    flex-grow: 2;
  }
  &-3 {
    flex-grow: 3;
  }
  &-4 {
    flex-grow: 4;
  }
}
@include tablet {
  .md {
    &-flex-grow {
      &-1 {
        flex: 1 1 auto;
      }
      &-2 {
        flex: 2 1 auto;
      }
      &-3 {
        flex: 3 1 auto;
      }
      &-4 {
        flex: 4 1 auto;
      }
      &-5 {
        flex: 5 1 auto;
      }
    }
  }
}
@include mobile {
  .sm {
    &-flex-grow {
      &-1 {
        flex: 1 1 auto;
      }
      &-2 {
        flex: 2 1 auto;
      }
      &-3 {
        flex: 3 1 auto;
      }
      &-4 {
        flex: 4 1 auto;
      }
      &-5 {
        flex: 5 1 auto;
      }
    }
  }
}
@for $i from 0 through 400 {
  .gap{
    &-#{$i}{
      gap:$i * 0.1rem;
    }
  }
  @include tablet {
    .md{
      &-gap{
        &-#{$i}{
          gap:$i * 0.1rem;
        }
      }
    }
  }
  @include mobile {
    .sm{
      &-gap{
        &-#{$i}{
          gap:$i * 0.1rem;
        }
      }
    }
  }
}



/*** text color ***/
.text {
  &-400 {
    font-weight: 400;
  }
  &-500 {
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
  &-700 {
    font-weight: 700;
  }
  &-size-28 {
    font-size: 2.8rem;
  }
  &-size-22 {
    font-size: 2.2rem;
  }
  &-size-20 {
    font-size: 2rem;
  }
  &-size-18 {
    font-size: 1.8rem;
  }
  &-size-16 {
    font-size: 1.6rem;
  }
  &-size-14 {
    font-size: 1.4rem;
  }
  &-size-13 {
    font-size: 1.3rem;
  }
  &-size-12 {
    font-size: 1.2rem;
  }
  &-center {
    text-align: center !important;
  }
  &-left {
    text-align: left !important;
  }
  &-right {
    text-align: right !important;
  }
  &-white {
    color: $white;
  }
  &-red {
    color: $red !important;
  }
  &-yellow {
    color: $yellow;
  }
  &-green {
    color: $green;
  }
  &-primary {
    color: $mainColor;
  }
}
  @include tablet {
    .md{
      &-text {
        &-400 {
          font-weight: 400;
        }
        &-500 {
          font-weight: 500;
        }
        &-600 {
          font-weight: 600;
        }
        &-700 {
          font-weight: 700;
        }
        &-size-28 {
          font-size: 2.8rem;
        }
        &-size-22 {
          font-size: 2.2rem;
        }
        &-size-20 {
          font-size: 2rem;
        }
        &-size-18 {
          font-size: 1.8rem;
        }
        &-size-16 {
          font-size: 1.6rem;
        }
        &-size-14 {
          font-size: 1.4rem;
        }
        &-size-13 {
          font-size: 1.3rem;
        }
        &-size-12 {
          font-size: 1.2rem;
        }
        &-center {
          text-align: center !important;
        }
        &-left {
          text-align: left !important;
        }
        &-right {
          text-align: right !important;
        }
        &-white {
          color: $white;
        }
        &-red {
          color: $red !important;
        }
        &-yellow {
          color: $yellow;
        }
        &-green {
          color: $green;
        }
        &-primary {
          color: $mainColor;
        }
      }
    }
  }
  @include mobile {
    .sm{
      &-text {
        &-400 {
          font-weight: 400;
        }
        &-500 {
          font-weight: 500;
        }
        &-600 {
          font-weight: 600;
        }
        &-700 {
          font-weight: 700;
        }
        &-size-28 {
          font-size: 2.8rem;
        }
        &-size-22 {
          font-size: 2.2rem;
        }
        &-size-20 {
          font-size: 2rem;
        }
        &-size-18 {
          font-size: 1.8rem;
        }
        &-size-16 {
          font-size: 1.6rem;
        }
        &-size-14 {
          font-size: 1.4rem;
        }
        &-size-13 {
          font-size: 1.3rem;
        }
        &-size-12 {
          font-size: 1.2rem;
        }
        &-center {
          text-align: center !important;
        }
        &-left {
          text-align: left !important;
        }
        &-right {
          text-align: right !important;
        }
        &-white {
          color: $white;
        }
        &-red {
          color: $red !important;
        }
        &-yellow {
          color: $yellow;
        }
        &-green {
          color: $green;
        }
        &-primary {
          color: $mainColor;
        }
      }
    }
  }

.card-wrap{
  position: relative;
}
.card-box{}
.card-head{}
.card-body{}
.card-foot{}