.table-wrap{

}
.table-top{

}
.table-list{

}
.baord-foot{

}
.table{
  thead{
    tr{
      th{

      }
    }
  }
  tbody{
    tr{
      th{

      }
      td{

      }
    }
  }
}
.board-detail{
  .table-foot{
    padding-top:2rem;
  }
}
.detail-head{
  padding:32px 40px;
  border-top: 2px solid #333;
  border-bottom:1px solid #B3B3B3;
  h5{
    font-size:18px;
    font-weight: 500;
    margin-bottom:16px;
    line-height: 1.5;
  }
  p{
    font: size 14px;
  }
}
.detail-body{
  border-bottom:1px solid #333;
  padding:32px 40px;
  
  p{
    font-size: 16px;
    line-height:1.5;
  }
  img{
    max-width: 100% !important;
  }
  div.detail-file{
    margin:32px 0 0 0;
    background-color: #F4F4F4;
    padding:24px 40px;
    ul{
      li{
        margin-bottom: 1.6rem;
        a{
          @include flexbox('row','flex-start','center');
        }
        span:last-child{
          font-size:16px;
          color:#333;
        }
        &:last-child{
          margin-bottom:0;
        }
      }
    }
  }
}
.detail-foot{
  background-color: #F4F4F4;
  padding:4rem;
  margin-bottom:20px;
  .detail-re{
    .detail-re-head{

    }
    .detail-re-body{
      textarea{
        max-width:100%;
        width:100%;
        height:100px;
        max-height:100px;
        resize: none;
      }
    }
    
  }
}
.detail-re{
  .detail-re-head{
    h5{
      font-weight: 500;
      font-size:1.8rem;
      margin-bottom:1.6rem;
    }
    h6{
      font-weight: 500;
      font-size:1.8rem;
      margin-bottom:1.6rem;
    }
    p{
      @include flexbox('row','flex-start','center');
      gap: 1rem;
      span{
        font-size:1.4rem;
      }
    }
  }
  .detail-re-body{
    p{
      margin-top:45px;
      line-height:1.5;
      font-size:1.4rem;
      font-weight: 400;
    }
    textarea{
      border-radius:4px;
      border:1px solid #D0D5DD;
      padding:1.6rem;
      line-height:1.5;
      &::placeholder{
        color:#D0D5DD;
      }
    }
  }
}
.board-write{
  .board-write-title{
    margin-bottom:2.8rem;
    font-size:3.2rem;
    font-weight: 600;
    span{
      font-size:1.6rem;
      font-weight: 400;
    }
  }
  &-head{
    border-top:2px solid #000;
    padding-top:2rem;
    margin-bottom:2rem;
  }
  &-body{
    margin-bottom:2rem;
  }
  &-foot{
    margin-bottom:2rem;
  }
  .input-title{
    font-size:1.6rem;
    font-weight: 400;
    margin-bottom:6px;
  }
  .board-file-wrap{
    border:1px solid #D0D5DD;
    border-radius:4px;
    padding:1.2rem 1.6rem;
  }
  .board-file-box{
    margin:12px 0 0 0;
    background-color: #F4F4F4;
    padding:24px 40px;
    ul{
      li{
        margin-bottom: 1.6rem;
        a{
          @include flexbox('row','flex-start','center');
        }
        span:last-child{
          font-size:16px;
          color:#333;
        }
        &:last-child{
          margin-bottom:0;
        }
      }
    }
  }
}
.board-write-btn-wrap{
  margin-bottom:4rem;
  gap: 3.4rem;
  .btn{
    height:4.8rem;
    min-width:32rem;
  }
}
/**************************
table
***************************/
.table-wrap {
  width: 100%;
}
.table-head {
  margin-bottom: 1.2rem;
  .table-title {
    font-size: 1.6rem;
    line-height: 2.16rem;
    font-weight: 700;
    span {
      font-size: 1.8rem;
      color: $mainColor;
      font-weight: 700;
    }
  }

  .input-wrap {
    & + .btn-wrap {
      margin-left: 1.2rem;
    }
    & + .input-wrap {
      margin-left: 1.2rem;
    }
    &.search {
      background-color: #fff;
      border-radius: 0.8rem;
      width: 20rem;
      border-bottom: 0;
      margin-left: 1.2rem;
      line-height: 1;
      input {
        width: 100%;
        padding: 0 1.3rem;
        height: 3.2rem;
        line-height: 1;
        @include background(icon, search_icon, svg, no-repeat, 2.4rem, right 1rem, center);
        border: 1px solid $gray03;
      }
    }
  }
  .table-top-form-wrap {
    height: 32px;
  }
}
.table-list {
  margin-bottom: 1.6rem;
  position: relative;
  overflow-x: auto;
}
.table-bottom + .table-list {
  margin-bottom: 0;
}
.table-bottom {
  .btn-wrap {
    .btn {
      width: 13.7rem;
    }
  }
}

.table {
 
  border-top: 0;
  &.table-fixed {
    table-layout: fixed;
    width: 100%;
  }
  thead {
    tr {
      &:first-child {
        border-top: 2px solid $black;
        border-bottom:1px solid $black;
      }
      th {
        background-color: #fff;
        position: sticky;
        top: 0;
        height: 6rem;
        z-index: 10;
        padding: 0.4rem 0;
        span {
          @include flexbox(row, center, center);
          background-color: #fff;
          width: 100%;
          color: $black;
          font-size: 1.6rem;
          font-weight: 400;
          text-align: center;
        }
        &.table-head-check-sm {
          width: 4.4rem;
        }
        &.number{
          width:120px;
        }
        &.date{
          width:120px;
        }
        &.td-num{
          width:120px;
        }
      }
    }
  }
  tbody {
    background-color: $white;
    tr {
      td {
        padding: 0.6rem 1.6rem;
        height: 6rem;
        border-bottom: 1px solid $gray03;
        color: $black;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        overflow: hidden;
        span {
          display: block;
          line-height: 1.5;
        }
        &.td-max {
          @include ellipsis();
          span {
            @include ellipsis();
            -webkit-transition: all 1.5s ease-in-out;
            transition: all 1.5s ease-in-out;
            max-height: 3.8rem;
          }
          &.no-ellipsis {
            span {
              //overflow: initial ;
              text-overflow: initial;
              white-space: initial;
              max-height: 999px;
              text-align: left;
            }
          }
        }
        &.no-ellipsis {
          span {
            //overflow: initial ;
            text-overflow: initial;
            white-space: initial;
            max-height: 999px;
            text-align: left;
          }
        }
        &:first-child {
          border-left: 0;
        }
        &:last-child {
          border-right: 0;
        }
        .modify-cell-write {
          display: none;
        }
        &.modify-cell {
          &.modify-cell-on {
            span {
              display: none;
            }
            .modify-cell-write {
              display: block;
              textarea {
                width: 100%;
                max-width: 100%;
                height: 3.2rem;
                min-height: 3.2rem;
                resize: none;
                padding: 0.8rem 0.8rem 0.2rem 0.8rem;
              }
            }
          }
        }
        &.text-left {
          text-align: left;
        }
        &.number{
          width:60px;
        }
        &.date{
          width:120px;
        }
        &.title{
          text-align: left;
        }
        &.td-num{
          width:120px;
        }
        a{
          display:block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow:hidden;
        }
      }
    }
  }
  &-main-bottom {
    table-layout: initial;
    min-width: 75rem;
  }
  thead tr th,
  tbody tr td {
    &.table-check-td-type01 {
      width: 4.4rem;
    }
    &.table-check-td-type02 {
      width: 20.8rem;
    }
  }
}
.table-foot{

}

.board-list{
    table-layout: fixed;
    
    .table-head{}
    .table-body{
      .table{
        &.layout-init{
          table-layout: initial;
        }
        thead{
          th,td{

          }
          th{
            &.td-btn{
              width:120px;
            }
          }
        }
        tbody{
          tr{
            -webkit-transition:all 0.25s ease-in-out;
            transition:all 0.25s ease-in-out;
            &:hover{
              background-color: #f9fafb;
            }
          }
          th,td{

          }
          td{

          }
        }
      }
    }
    @include tablet{
      .table-body{
        max-width:100%;
        overflow: auto;
        padding:0 0 2rem 0;
        .table{
          table-layout: initial;
        }
      } 
    }
    @include mobile{
      .table-head{
        > .flex-box{
          flex-wrap:wrap;
          gap:2rem;
          > span{
            width: 100%;
          }
          > .btn{
            width:100%;
          }
        }
      }
      .table-body{
        max-width:100%;
        overflow: auto;
        padding:0 0 2rem 0;
        .table{
          table-layout: initial;
        }
      } 
      
    }
}


.pagination{
  padding-top:2.4rem;
  ul{
    @include flexbox(row, center, center);
    li{
      width:3.6rem;
      height:3.6rem;
      border:1px solid #B3B3B3;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      margin-right:0.4rem;
      &:first-child{
        background-image: url(../../images/icon/pagination_prev.png);
        background-position:center;
        background-size:8px;
        background-repeat: no-repeat;
        &:hover,&.on{
          background-color: #fff;
          opacity: 0.8;
        }
      }
      &:last-child{
        margin-right:0rem;
        background-image: url(../../images/icon/pagination_next.png);
        background-position:center;
        background-size:8px;
        background-repeat: no-repeat;
        &:hover,&.on{
          background-color: #fff;
          opacity: 0.8;
        }
      }
      a{
        @include flexbox(row, center, center);
        width:100%;
        height:100%;
        
        span{
          font-size:1.4rem;
          -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        }
      }
      &:hover,&.on{
        border:1px solid #B3B3B3;
        background-color: #00AAF6;
        
        a{
          span{
            color:#fff;
          }
        }
      }
    }
  }
}
@include mobile{
  .table-list{
    .table{
      display:block;
      border:0;
      thead{
        display:none;
        tr{
          
        }
      }
      tbody{
        display:block;
        tr{
          padding:1.6rem;
          display:block;
          border:1px solid #ddd;
          border-radius:0.8rem;
          margin-bottom:1.6rem;
          td{
            display:inline-block;
            border:0;
            &.table-title{
              display:block;
              text-align: left;
            }
          }
        }
      }
    }
    /*
	  span::before {
        content: attr(data-label);
		display:inline;
		font-size:1.4rem;
    }
    */
  }
   
}