{[>layout/admin-header]}

<div class="admin-con-head">
    <div class="admin-title-wrap">
        <h3>
            <span class="icon-box icon-size-24 icon-"></span>
            설문지
        </h3>
        <!-- 주석 풀면 자리 잡혀있음.
        <button class="btn">
          추가
        </button>
        -->
    </div>
</div>
<div class="admin-con-body">
    <div class="admin-inner">
        <!--

            # 콘텐츠 영역 #

        -->
    </div>
</div>

{[>layout/admin-footer]}