@import '../common/common2';

/********
main
******/
$mainColorGreen: #7DAD2D;
$mainColorRed: #EF9A2D;
$headH: 12rem;

.main-content {
    padding-top: 12rem;

    @include tablet {
        padding-top: 8rem;
    }
}

.main-content .mian-spot {
    width: 100%;
    height: 48rem;
    overflow: hidden;
    
    @include tablet {}

    @include mobile {
        height: 45vh;
    }
    .main-spot-bg{
        @include background(main , main_spot_1 , png, no-repeat , cover , 0 , 0);
        width:100%;height: 100%;
        position:relative;
        &::after{
            content:'';
            position: absolute;
            left:0;top:0;
            width:100%;height:100%;display:block;
            background-color: rgba(0,0,0,0.8);
        }
        .main-text{
            position:relative;
            z-index: 1;
            @include flexbox(row, center, center);
            flex-wrap:wrap;
            height: 100%;
            *{
                 color:#fff;
            }
            h2{
                width:100%;
                text-align: center;
                line-height:1;
                font-size:4.8rem;
                margin-bottom:3.2rem;
            }
            p{
                text-align: center;
                font-size:2rem;
            }
        }
    }

}

.main-spot-1 {
    width: 100%;
    height: 480px;
    background-color: #666;
    background-size: cover;

    @include tablet {}

    @include mobile {
        height: 45vh;
    }
}

.main-sect-1 {
    position: relative;
    height: 8rem;

    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 50%;
        top: 0;
        height: 100%;
        z-index: -1;
    }

    &::after {
        left: 0;
        background-color: #7DAD2D;
    }

    &::before {
        right: 0;
        background-color: #EF9A2D;
    }

    ul {
        position: relative;
        @include flexbox(row, flex-start, flex-start);

        li {
            flex: 1 1 0;
            width: 50%;
            background-color: transparent;

            &:last-child {
                background-color: transparent;
            }

            a {
                @include flexbox(row, center, center);
                height: 8rem;
                position: relative;

                &::after {
                    content: '';
                    display: inline-block;
                    width: 3.2rem;
                    height: 3.2rem;
                    @include background(main, icon_white_plus, svg, no-repeat, cover, center);
                    position: absolute;
                    right: 20%;

                    @include mobile {
                        display: none;
                    }
                }

                span {
                    color: $white;
                    font-weight: 600;
                    font-size: 2rem;
                }
            }
        }
    }
}

.main-sect-2 {
    padding: 7.3rem 0 0 0;

    .main-card {
        width: 24.8rem;
        height: 24.8rem;
        margin-right: 6.3rem;
        border-radius: 3rem;
        padding:4rem;
        border: 1px solid;
        position:relative;
        &::after{
            content:'';
            position:absolute;
            left:50%;
            top:4rem;
            transform: translateX(-50%);
            background-color: #fff;
            border-radius:50%;
            width:12rem;height:12rem;
        }
        .main-card-body{
            display:block;
            position:relative;
            z-index: 1;
            padding-top:1rem;
            div{
                width:16rem;height:10rem;
                margin-bottom:30px;
                @include background(main, main_box_1, png, no-repeat,100%  100%, center);

            }
        }
        p{
            text-align: center;
            font-size:2rem;
            font-weight: 500;
        }
        &-1 {
            border-color: #D9E7FC;
            background-color: #D9E7FC;
            &::after{
                background-color: #C1D7F9;
            }
            .main-card-body{
                div{
                    @include background(main, main_box_1, png, no-repeat,100%  100%, center);
                }
            }
        }

        &-2 {
            border-color: #E2F5FF;
            background-color: #E2F5FF;
            &::after{
                background-color: #C9EBFD;
            }
            .main-card-body{
                div{
                    @include background(main, main_box_2, png, no-repeat,100%  100%, center);
                }
            }
        }

        &-3 {
            border-color: #EAF8D4;
            background-color: #EAF8D4;
            &::after{
                background-color: #D1ECB1;
            }
            .main-card-body{
                div{
                    @include background(main, main_box_3, png, no-repeat,100%  100%, center);
                }
            }
        }

        &-4 {
            border-color: #FDF0DB;
            background-color: #FDF0DB;
            margin-right: 0;
            &::after{
                background-color: #FBDFBB;
            }
            .main-card-body{
                div{
                    @include background(main, main_box_4, png, no-repeat,100%  100%, center);
                }
            }
        }

    }
}

.main-sect-3 {
    padding: 7.6rem 0;

    .main-board-wrap {
        background-color: #fff;
        border-radius: 30px;
        padding: 4rem 3rem 3rem 3rem;
    }

    .main-board-wrap .border-top {
        margin-bottom: 2.4rem;
    }
}

.main-sect-4 {
    padding-bottom:8rem;
    .main-body{
        ul{
            @include flexbox(row, flex-start, center);
            li{
                
                @include flexbox(row, center, center);
                margin-right:2rem;
                width:38rem;
                height:8.4rem;
                border:1px solid #B3B3B3;
                &:last-child{
                    margin-right:0;
                }
                a{
                    width:100%;height:100%;
                    @include flexbox(row, center, center);
                    &:focus{
                        outline: 1px solid $focus;
                        outline-offset: 2px;
                    }
                    &:hover{
                        outline: 1px solid $hover;
                        outline-offset: 2px;
                    }
                }
                
            }
        }
    }
}

.main-title {
    text-align: center;
    margin-bottom: 4rem;
    position: relative;

    h3 {
        font-size: 2.4rem;

        span {
            font-size: 2.4rem;
            font-weight: 500;
        }

        .btn {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: #fff;
            border:1px solid #333;
            color:#333;
            border-radius:4px;
        }
    }
}

/***************************
sub page
*************************/
.summary{

    .card-wrap{
        margin-bottom:6rem;
        .card-head{
        h3{
            font-size:2.4rem;
            font-weight: 500;
        }
        margin-bottom:1.6rem;
        }
        .card-body{
        p{
            font-size:18px;
            font-weight: 400;
            line-height: 1.5;
        }
        table{
            th{
                background-color: #1A4079;
                color: #fff;
                border-right: 1px solid #fff;
            }
            th,td{
                padding:1.5rem 0;
                font-size:18px;
                text-align: center;
            }
            td{
                border-right: 1px solid #B3B3B3;
                border-bottom: 1px solid #B3B3B3;
                color:#333333;
                &:last-child{
                    border-right:0;
                }
            }
        }
        ul{
            @include flexbox(row, flex-start, flex-start);
            li{
                width: 22.4rem;
                padding-right:2.4rem;
                height:14rem;
                margin-right: 1.6rem;
                &:last-child{
                    margin-right: 0rem;
                    width: 20rem;
                    padding-right:0rem;}
                .bg-box{
                    width: 100%;
                    height: 100%;
                    padding:1rem;
                    border-radius: 3rem;
                    div:first-child{
                        padding:13px 0 16px;
                    }
                }
                h4{
                    text-align: center;
                    font-size:1.8rem;
                    font-weight: 700;
                }
                p{
                    width:18rem;
                    margin:0 auto;
                    padding:2.5rem 0 2.4rem 0;
                    background-color: #fff;
                    font-size:18px; 
                    text-align: center;
                    border-radius:0 0 2.5rem 2.5rem;      
                }
                &:nth-child(1){
                    .bg-box{
                        background-color: #FDF0DB;
                    }
                    h4{
                        color:#EEA531;
                    }
                }
                &:nth-child(2){
        
                    .bg-box{
                        background-color: #EAF8D4;
                    }
                    h4{
                        color:#82BA41;
                    }
                }
                &:nth-child(3){

                    .bg-box{
                        background-color: #E2F5FF;
                    }
                    h4{
                        color:#2B93D1;
                    }
                }
                &:nth-child(4){
            
                    .bg-box{
                        background-color: #D9E7FC;
                    }
                    h4{
                        color:#1E4079;
                    }
                }
                &:nth-child(5){
                
                    .bg-box{
                        background-color: #EEE1F6;
                    }
                    h4{
                        color:#713397;
                    }
                }
            }
        }
        }
    }
    @include mobile{
        .card-wrap{
            .card-body{
                ul{
                    @include flexbox(column, flex-start, flex-start);
                    li{

                    }
                }
            }
        }
    }
}
.group-qna{
    .card-wrap{
        margin-bottom:4.3rem;
        .card-body{
            ul{
                li{
                    font-size:1.6rem;
                    font-weight: 400;
                    line-height: 1.5;
                    list-style: outside;
                    margin-left:2.4rem;
                }
            }
        
            table{
                th{
                    background-color: #1A4079;
                    color: #fff;
                    border-right: 1px solid #fff;
                }
                th,td{
                    padding:1.5rem 0;
                    font-size:18px;
                    text-align: center;
                }
                td{
                    border-right: 1px solid #B3B3B3;
                    border-bottom: 1px solid #B3B3B3;
                    color:#333333;
                    &:last-child{
                        border-right:0;
                    }
                }
            }
        
        }
    }
}
.group-qna-title{
    h3{
        text-align: center;
        font-size:3.2rem;
        font-weight: 500;
    }
    margin-bottom:6rem;
}
/* board */
.board-tab{
    margin-top:-3.2rem;
    margin-bottom: 4rem;
    ul{
        @include flexbox(row, flex-start, flex-start);
        li{
            flex:1 1 auto;
            a{
                position: relative;
                @include flexbox(row, center, center);
                background-color:#E8E8E8;   
                padding:2.1rem 0;
                -webkit-transition:all 0.25s ease-in-out;
                transition:all 0.25s ease-in-out;
                span{
                    font-size:18px;
                    -webkit-transition:all 0.25s ease-in-out;
                    transition:all 0.25s ease-in-out;
                }
                &:focus{
                    z-index: 1;
                }
                &.on,&:hover{
                    background-color: $primary;
                    span{
                        color:#fff;
                    }
                }
            }
        }
    }
}


.faq-list {
    .table{
        border-top:2px solid #333;
        td:first-child{
            width:10rem;
            span{
                font-size:2.4rem;
                font-weight: 500;
            }
        }
    }
    .faq-q{
        cursor:pointer;
         td:first-child{
                span{
                    font-size:2.4rem;
                    font-weight: 500;
                    color:$primary;
                }
        }
        td{
            span{
                font-size:1.8rem;
                font-weight: 500;
            }
        }
        .faq-title{
            @include flexbox(row, space-between,center);
            .btn{
                border:0;
                width:30px;
                height:30px;
            }
        }
    }
        
    
    .faq-a{
        background-color: #F4F4F4;
        td:first-child{
            width:10rem;
            span{
                font-size:0;
                font-weight: 500;
                -webkit-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
            }
        }
        td{
            font-size:0;
            height:0;
            padding:0;
            border-bottom:0;
            overflow: hidden;
            -webkit-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
        }
    }
    .faq-q.on + .faq-a{
        td:first-child{
            width:10rem;
            span{
                font-size:2.4rem;
                font-weight: 500;
            }
        }
        td{
            padding:1.5rem 0;
            height:auto;
            border-bottom:1px solid #B3B3B3;
            span{
                font-size:1.6rem;
                font-weight: 400;
            }
        }
    }
  }

/*gallery-list*/
.gallery{
    
}
.gallery-list{
    margin-bottom:6rem;
    border-radius: 3rem;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    a{
        @include flexbox(row, flex-start, flex-start);
        padding:4rem;
    }
    .img-box{
        width:36rem;height:26rem;
        margin-right:4.4rem;
        @include flexbox(row, flex-start, center);
        img{
            max-width:100%;
        }
    }
    .text-box{
        height: 26rem;
        @include flexbox(column, space-between, space-between);
        padding:2rem 0;
        .text-box-head{

        }
        .title{
            h6{
                font-size:2rem;
                font-weight: 700;
                line-height: 1.5;
            }
            margin-bottom:2rem;
        }
        ul{
            margin-bottom:4rem;
            li{
                margin-bottom:0.4rem;
                font-size:1.6rem;
                line-height: 1.5;
            }
        }
    }
    .btn-wrap{
        .btn{
            height: 4.8rem;
            font-size:1.6rem;
            font-weight: 700;
            .icon-box{
                margin-left:0.4rem;
            }
        }
    }
    &:last-child{
        margin-bottom:0;
    }
}
.gallery-detail{}
.block-text-wrap{
    .block-text{
        display: inline-block;
        padding:1px 8px;
        font-size:1.6rem;
        line-height:24px;
        border:1px solid $primary;
        color:$primary;
    }
}
.textarea-wrap{
    p{
        line-height: 1.5;
    }
    margin-bottom:2rem;
}
.gallery-detail-head{
    margin-bottom:7.2rem;
    @include flexbox(row, flex-start, flex-start);
    .img-box{
        @include flexbox(row, flex-start, flex-start);
        width:58rem;
        height:41.6rem;
        margin-right: 4rem;
        img{
            width:100%;
            max-width:100%;
        }
    }
    .text-box{
        @include flexbox(column, space-between, space-between);
        height:41.6rem;
        flex:1 1 auto;
        .gallery-detail-info{
            .time-form:not(last-child){
                margin-bottom:3.4rem;
            }
        }
        .block-text-wrap{
            margin-bottom: 8px;
        }
        ul{
            margin-bottom:4rem;
            li{
                margin-bottom:0.4rem;
                font-size:1.6rem;
                line-height: 1.5;
            }
        }
        .title{
            h6{
                font-size:2rem;
                font-weight: 700;
                line-height: 1.5;
            }
            margin-bottom:3.4rem;
        }
        .btn-wrap{
            max-width: 100%;
            .btn{
                height: 4.8rem;
                font-size:1.6rem;
                font-weight: 700;
                .icon-box{
                    margin-left:0.4rem;
                }
            }
        }
    }
}
.gallery-detail-body{
    .block-text-wrap{
        margin-bottom:2rem;
    }
    .gallery-detail-con{
        margin-bottom:7.2rem;
        .img-box{
            border:1px solid #ddd;
            img{
                max-width:100%;
            }
        }
    }
}
.share-list{
    .text-box-head{
        > div{
            margin-bottom: 2rem;
            p{
                font-size:16px;
                font-weight: 500;
                line-height:1.5;
                &:first-child{
                    color:$Secondary;
                    font-weight: 600;
                }
            }

        }
    }
}
.equipments-body{
    width:100%;
    @include flexbox(row, flex-start, flex-start);
    flex-wrap: wrap;
}
.equipments-list{
    width:calc(33.33333% - 1.333333rem);
    border-radius: 3rem;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    margin-right:2rem;
    margin-bottom:3rem;
    padding:2rem;
    
    .img-box{
        border-radius: 2rem;
        overflow: hidden;
        height:24rem;
        margin-bottom:2rem;
        img{
            max-width:100%;
        }
    }
    .text-box{
        p{
            overflow:hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size:1.8rem;
            line-height: 1.5;
            text-align: center;
            font-weight: 600;
        }
    }
    &:nth-child(3n){
        margin:0;
    }

}