 {[>layout/header]}
<section class="sub-con content user-content">
  <div class="inner">
    <div class="h-120"></div>
    <div class="flex-box align-center justify-center">
      <div class="p-t-96 user-wrap">
        <p class="text-500 text-size-32 text-center m-b-12">
          아이디 찾기
        </p>  
        <p class="text-400 text-size-16 text-center m-b-32">회원 정보를 입력해주세요.</p>
        <div class="login-form flex-box gap-20 flex-wrap">
          <div class="flex-box gap-8 flex-wrap w-full">
            <div class="textfield flex-1"  data-type="name"  data-status="default" data-size="LG" data-icon="true">
                <input id="name" type="text" placeholder="이름" onKeyUp='textfieldChange(this,event)'>
                <p class="error-text">이름을 입력해주세요.</p>
            </div>
          </div>
          <div class="flex-box gap-8 flex-wrap w-full">
            <div class="textfield flex-1"  data-type="email"  data-status="default" data-size="LG" data-icon="true">
                <input id="email" type="text" placeholder="이메일 주소" onKeyUp='textfieldChange(this,event)'>
                <p class="error-text">이메일을 입력해주세요.</p>
            </div>
          </div>
          <button id="idFindConfirm" class="btn btn-type-01 w-full btn-size-xxl m-b-16" disabled>
            <span class="text-700 text-size-16">아이디찾기</span>
          </button>
          <div class="flex-box justify-center align-center gap-12 w-full">
            <a href="/auth/find/password" class="text-size-16 text-gray02">비밀번호 찾기</a><span class="text-size-14 text-gray02">|</span>
            <a href="/auth/login" class="text-size-16 text-gray02">로그인</a>
          </div>
        </div>
        
      </div>

    </div>
  </div>
</section>
<script type="module" src="/assets/js/home/auth/id-find.js"></script>
{[>layout/footer]}