{[>layout/header]}
<section class="sub-con content user-content">
  <div class="inner">
    <div class="h-120"></div>
    <div class="flex-box align-center justify-center">
      <div class="p-t-96 user-wrap">
        <p class="text-500 text-size-32 text-center m-b-12">
          회원가입
        </p>  
        <p class="text-400 text-size-16 text-center m-b-32">아래 약관에 동의해주세요.</p>
        <div class="login-form flex-box gap-24 flex-wrap">

          <div class="flex-box gap-8 flex-wrap w-full">
            <div class="checkbox w-full">
              <input type="checkbox" id="termsCheck1" >
              <label for="termsCheck1">이용방침 약관 동의</label>
            </div>
            <div class="textarea-box h-104 w-full">
              <div class="textarea-con">
                <p>
                  이용약관
제 1 조(목적) 

이 약관은 세한대학교가 운영하는 k디지털플랫폼 서비스(이하 '서비스')의 회원 권리, 의무 및 책임 사항을 규정하는 것을 목적으로 합니다. 

제 2 조 (정의) 

1. 이 약관에서 사용하는 용어는 다음과 같습니다. 

가. '회원'이라 함은 서비스를 제공받기 위해 세한대학교가 인정하는 절차를 통해 가입하여 이용자번호 (ID)를 부여 받은 자를 말합니다. 
나. '이용자번호(ID)'라 함은 가입회원의 식별과 회원의 서비스 이용을 위해 고객이 선정하고 세한대학교에서 부여하는 문자와 숫자의 조합을 말합니다. 
다. '비밀번호'라 함은 회원이 부여받은 이용자번호(ID)와 일치된 회원임을 확인하고 회원의 권익보호를 위하여 회원이 선정한 문자와 숫자의 조합을 말합니다. 
 

2. 이 약관에서 사용하는 용어의 정의는 제1항에서 정하는 것을 제외하고는 관계 법령 및 서비스 이용안내에서 정하는 바에 따릅니다. 

제 3 조 (이용약관의 효력 및 변경) 

이 약관은 사이트를 통해 온라인으로 공시하고 회원의 동의와 세한대학교의 승낙으로 효력을 발생하며, 합리적인 사유가 발생할 경우 세한대학교는 관련 법령에 위배되지 않는 범위 안에서 개정할 수 있습니다. 개정된 약관은 정당한 절차에 따라 사이트를 통해 공지함으로써 효력을 발휘합니다. 

제 4 조 (이용계약의 성립) 

1. 이용계약은 본 약관에 동의한 고객이 세한대학교 소정의 이용신청서를 온라인 또는 세한대학교에서 정하는 방법으로 신청, 세한대학교의 승인에 의하여 성립합니다. 

2. 이용계약은 이용자번호(ID) 단위로 체결됩니다. 

3. 제 1항의 규정에 의해 고객이 이용신청을 할 때에는 세한대학교에서 정한 필수입력 사항을 입력하여야 합니다. 

4. 세한대학교는 고객의 이용신청이 다음 각 호에 해당하는 경우 그 신청에 대한 승낙을 제한 또는 유보할 수 있습니다. 

가. 이름이 실명이 아닐 경우 
나. 선량한 풍속, 기타 사회질서를 해 할 목적으로 신청한 경우 
다. 이용신청서의 내용을 허위로 기재하였거나 허위서류를 첨부하였을 경우 

라. 기타 이용신청 고객의 귀책사유로 이용 승낙이 곤란한 경우 

제 5조 (약관의 동의) 

회원이 등록 절차를 거처 동의 버튼을 누름으로써 본 약관에 동의한 것으로 간주합니다. 

제 6조 (세한대학교의 의무) 

1. 세한대학교는 법령 및 본 약관에서 금하는 행위를 하지 않으며, 지속적이고 안정적으로 서비스를 제공하기 위해서 노력합니다. 

2. 세한대학교는 서비스 제공과 관련해 알고 있는 회원의 개인정보를 본인의 승낙 없이 제3자에게 누설하거나 배포하지 않습니다. 단, 법률에 의한 국가기관의 요구나 수사상의 목적, 개인을 식별할 수 없는 인구통계학적 자료로는 제공될 수 있습니다. 

3. 세한대학교는 회원이 제기하는 의견이나 불만이 정당하다고 인정되면 즉시 처리합니다. 다만, 즉시 처리가 곤란할 경우에는 회원에게 그 사유와 일정을 통보하여야 합니다. 

4. 세한대학교는 이용자가 안전하게 서비스를 이용할 수 있도록 회원의 개인정보 및 신용정보 보호를 위한 보안시스템을 구축합니다. 

5. 세한대학교는 지속적이고 안정적인 서비스를 제공하기 위하여 설비에 장애가 있거나 망실된 때에는 이를 지체 없이 수리 또는 복구합니다. 다만, 천재지변이나 비상사태, 기타 부득이한 경우에는 그 서비스를 일시 중단하거나 중지할 수 있습니다. 이때, 세한대학교는 지체 없이 회원에게 통보하여야 합니다. 

제 7조 (회원의 의무) 

1. 회원 가입 시에 입력하는 회원의 정보는 정확하여야 합니다. 또한, 이미 제공된 회원정보가 정확한 정보가 되도록 유지, 갱신하여야 합니다. 

2. 회원은 공공의 안녕질서 및 미풍양속을 저해하는 다음 각 호의 통신 활동을 하여서는 안됩니다. 

가. 범죄행위를 목적으로 하거나 범죄행위를 교사하는 내용 
나. 선량한 풍속, 기타 사회질서를 해하는 내용 
다. 타인의 명예를 손상시키거나 불이익을 주는 행위 
라. 타인의 이용자번호(ID) 및 비밀번호를 사용하는 행위 
마. 다른 회원 또는 제3자의 지적재산권을 침해하는 행위 
바. 정보통신설비의 오동작이나 정보 등의 파괴 및 혼란을 유발시키는 컴퓨터 바이러스, 바이러스 감염자료를 등록 또는 유포하는 행위 
사. 세한대학교의 승인을 받지 않은 광고, 판촉물, 스팸메일, 행운의 편지, 피라미드 조직, 기타 다른 형태의 권유를 게시, 게재, 메일링 또는 다른 방법으로 전송하는 경우 
아. 서비스를 통하여 얻은 정보를 세한대학교의 사전 승낙 없이 복제 또는 유통시키거나 상업적으로 이용하는 경우 
자. 기타 법령에 위배되는 행위 

3. 이용자번호(ID)와 비밀번호의 관리책임은 회원본인에게 있으며 비밀번호가 타인에게 노출된 경우 즉시 변경하여야 합니다. 회원에게 부여된 이용자번호(ID)와 비밀번호의 관리소홀, 부정사용에 의하여 발생하는 모든 결과에 대한 책임은 회원에게 있습니다. 

4. 본인의 이용자번호(ID)가 부정하게 사용된 경우, 회원은 반드시 세한대학교에 그 사실을 통보해야 합니다. 

5. 회원은 이 약관 및 관계법령을 준수하여야 합니다. 

6. 세한대학교는 회원이 상기 제 조항을 위반했을 경우 즉시 계약해지 및 이용제한을 할 수 있고 이로 인한 손해배상을 청구할 수 있습니다. 

제 8조 (정보의 제공) 

세한대학교는 회원에게 서비스 이용에 필요가 있다고 인정되는 다양한 정보를 전자우편이나 서신, 우편, SMS, 전화 등의 방법으로 회원에게 제공할 수 있으며 회원은 수신거부 이메일을 세한대학교에 보냄으로써 정보수신 거부를 할 수 있습니다. 

제 9조 (게시물 삭제) 

세한대학교는 회원이 게시하거나 제공하는 서비스 내용이 다음 각 호에 해당한다고 판단될 경우 사전 통지 없이 삭제할 수 있습니다. 

가. 다른 회원 또는 제3자를 비방하거나 명예를 손상시키는 내용인 경우 
나. 허위 사실의 유포 
다. 공공질서 및 미풍양속에 위반되는 내용인 경우 
라. 지적재산권 등 기타 타인의 권리를 침해하는 내용인 경우 
마. 세한대학교의 서비스 내용과 합치하지 않는 경우 
바. 기타 관계법령에 위반된다고 판단되는 경우 

제 10조 (서비스 이용시간) 

1. 서비스 운영은 세한대학교의 업무상 또는 기술상 문제가 없는 한 연중무휴 1일 24시간을 원칙으로 합니다. 
다만, 정기 점검 등의 필요로 세한대학교가 정한 시간은 그러하지 아니하며 사전에 공지합니다. 

2. 세한대학교는 일부 서비스의 이용가능 시간을 별도로 정할 수 있습니다. 이 경우 서비스 이용안내를 통해 공지합니다. 

제 11조 (서비스 제공의 중지) 

1. 세한대학교는 다음 각 호에 해당하는 경우 서비스 제공을 중지할 수 있습니다. 

가. 서비스 설비의 증설, 보수 등 공사로 인한 경우 
나. 전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우 
다. 기타 불가항력적인 경우 

2. 천재지변, 국가비상사태 등의 불가항력적인 경우를 제외하고는 서비스 제공 중지 전에 회원에게 공지합니다. 

제 12조 (계약해지 및 이용제한) 

1. 회원이 이용계약을 해지하고자 할 때에는 회원 본인이 실명, 이용자번호(ID), 주민등록번호 등을 세한대학교에 통보하여 해지신청을 하여야 합니다. 

2. 세한대학교는 회원이 다음 각 호에 해당하는 행위를 했을 경우 사전통지 없이 이용계약을 해지하거나 서비스 이용을 중지할 수 있습니다. 

가. 세한대학교의 서비스 운영을 고의로 방해한 경우 
나. 공공질서 및 미풍양속에 저해되는 내용을 유포시킨 경우 
다. 타인의 이용자번호(ID) 및 비밀번호를 도용한 경우 
라. 회원가입 시 허위 내용을 사용하여 신청하였을 경우 
마. 타인의 명예를 손상시키거나 불이익을 주는 행위를 했을 경우 
바. 컴퓨터 바이러스 프로그램 등을 유포하는 경우 
사. 기타 법률에 위반되는 행위를 할 경우 

제 13조 (개인정보보호정책) 

세한대학교는 회원이 가입 시 기재한 개인정보 및 서비스를 제공하면서 획득한 금융거래정보 등의 내용을 보호하기 위해 노력합니다. 회원의 개인정보보호에 관하여는 세한대학교의 '개인정보보호정책' 및 관련법령이 정한 바에 의합니다. 

제 14조 (손해 배상) 

세한대학교는 회원이 가입 시 기재한 개인정보 및 서비스를 제공하면서 획득한 금융거래정보 등의 내용을 보호하기 위해 노력합니다. 회원의 개인정보보호에 관하여는 세한대학교의 '개인정보보호정책' 및 관련법령이 정한 바에 의합니다. 

제 15조 (면책) 

1. 세한대학교는 회원이 서비스를 이용하여 기대하는 이익을 얻지 못하였거나 서비스 자료에 대한 이용으로 발생하는 손해에 대해서는 책임을 지지 않습니다. 

2. 세한대학교는 회원의 귀책사유로 인한 서비스 이용의 장애에 대하여 책임을 지지 않습니다. 

3. 세한대학교는 천재지변 등의 불가항력으로 인해 서비스를 제공할 수 없는 경우에는 서비스 제공에 대한 책임을 지지 않습니다. 

4. 세한대학교는 모든 서비스의 자료 보관 및 전송에 관한 책임이 없으며 자료의 손실이 있는 경우에도 책임을 지지 않습니다. 

5. 세한대학교는 제휴 사이트가 전송, 제공한 자료의 신뢰도, 정확성 등 내용에 관하여는 책임을 지지 않습니다. 

제 16조 (지적재산권) 

1. 서비스에 회원이 게재한 자료의 권리와 책임은 회원에게 있으며 세한대학교는 회원의 동의 없이 이를 영리적으로 사용할 수 없습니다. 다만, 비영리적인 목적의 경우 서비스 내에 게재할 수 있습니다. 

2. 세한대학교는 회원의 귀책사유로 인한 서비스 이용의 장애에 대하여 책임을 지지 않습니다. 

제 17조 (관할법원) 

1. 서비스에 회원이 게재한 자료의 권리와 책임은 회원에게 있으며 세한대학교는 회원의 동의 없이 이를 영리적으로 사용할 수 없습니다. 다만, 비영리적인 목적의 경우 서비스 내에 게재할 수 있습니다. 

2. 제휴 사이트는 해당 사이트의 약관에 따릅니다. 

부 칙 (시행일) 

본 약관은 2022년 1월 1일부터 시행합니다.
                </p>
              </div>
            </div>
          </div>

          <div class="flex-box gap-8 flex-wrap w-full">
            <div class="checkbox w-full">
              <input type="checkbox" id="termsCheck2">
              <label for="termsCheck2">개인정보 처리 동의</label>
            </div>
            <div class="textarea-box h-104 w-full">
              <div class="textarea-con">
                <p>
                  개인정보처리방침
세한대학교는 통신비밀보호법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 정보통신서비스제공자가 준수하여야 할 관련 법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보취급방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다. 

세한대학교는 온라인 고객의 개인정보 보호 문제를 매우 중요하게 생각하고, 개인정보 유출로 인한 기본권 침해의 소지를 원천적으로 제거, 고객의 프라이버시를 철저히 보호하기 위하여 개인정보 취급방침을 실시합니다. 개인정보 취급방침은 새로운 서비스가 추가되거나 개선 될 경우 변경될 수 있습니다. 수시로 본 페이지를 통해서 확인하시기 바랍니다. 

세한대학교는 개인정보 보호법 제30조에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리지침을 수립·공개합니다. 

제1조(개인정보의 처리목적) 

세한대학교는 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보 보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다. 

1. 홈페이지 회원 가입 및 관리 
회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 제한적 본인확인제 시행에 따른 본인확인, 서비스 부정이용 방지, 만 14세 미만 아동의 개인정보 처리 시 법정대리인의 동의여부 확인, 각종 고지·통지, 고충처리 등을 목적으로 개인정보를 처리합니다. 

2. 재화 또는 서비스 제공 
본인인증, 연령인증 등을 목적으로 개인정보를 처리합니다. 

3. 고충처리 
민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락·통지, 처리결과 통보 등의 목적으로 개인정보를 처리합니다. 

제2조(개인정보의 처리 및 보유기간) 

① 세한대학교는 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다. 

② 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다. 

1. 홈페이지 회원 가입 및 관리 : 사업자/단체 홈페이지 탈퇴 시 까지. 다만, 다음의 사유에 해당하는 경우에는 해당 사유 종료 시 까지 (관계 법령 위반에 따른 수사·조사 등이 진행 중인 경우에는 해당 수사·조사 종료 시 까지) 
2. 재화 또는 서비스 제공 : 재화·서비스 공급완료 및 요금결제·정산 완료시까지다만, 다음의 사유에 해당하는 경우에는 해당 기간 종료 시 까지 

1) 「전자상거래 등에서의 소비자 보호에 관한 법률」에 따른 표시·광고, 계약내용 및 이행 등 거래에 관한 기록 

- 표시·광고에 관한 기록 : 6월 
- 계약 또는 청약철회, 대금결제, 재화 등의 공급기록 : 5년 
- 소비자 불만 또는 분쟁처리에 관한 기록 : 3년 

2) 「통신비밀보호법」제41조에 따른 통신사실 확인자료 보관 

- 가입자 전기통신일시, 개시·종료시간, 상대방 가입자번호, 사용도수, 발신기지국 위치추적자료 : 1년 
- 컴퓨터통신, 인터넷 로그기록자료, 접속지 추적자료 : 3개월 

3) 평생교육진흥원 고시 「학사관리지침」에 따른 수강이력자료 보관 

- 사전보고 출력물 : 종강 후 2년간 보관 (학사관리지침 붙임1의 사전보고) 
- 성적보고 출력물 : 종강 후 2년간 보관 (학사관리지침 붙임1의 성적보고) 
- 수료증 출력물 : 종강 후 3년간 보관 

① 세한대학교는 위탁계약 체결 시 개인정보 보호법 제25조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적·관리적 보호조치, 재 위탁 제한, 수탁자에 대한 관리·감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다. 

② 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체 없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다. 

제3조(정보주체의 권리·의무 및 행사방법) 

① 정보주체는 회사에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다. 
 

1. 개인정보 열람요구 
2. 오류 등이 있을 경우 정정 요구 
3. 삭제요구 
4. 처리정지 요구 

② 제1항에 따른 권리 행사는 회사에 대해 서면, 전화, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 세한대학교는 이에 대해 지체 없이 조치하겠습니다. 
③ 정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 세한대학교는 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다. 
④ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다. 
⑤ 정보주체는 개인정보 보호법 등 관계법령을 위반하여 회사가 처리하고 있는 정보주체 본인이나 타인의 개인정보 및 사생활을 침해하여서는 아니됩니다. 

제4조(처리하는 개인정보 항목) 

세한대학교는은 다음의 개인정보 항목을 처리하고 있습니다. 
 

1. 홈페이지 회원 가입 및 관리 
 

· 필수항목 : 아이디, 비밀번호, 휴대폰번호, 이메일 주소, 생년월일 등 

· 선택항목 : 유입경로 

2. 재화 또는 서비스 제공 
 

· 필수항목 : 아이디, 비밀번호, 휴대폰번호, 이메일 주소, 생년월일 등 
 

3. 인터넷 서비스 이용과정에서 아래 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다. 
 

· IP주소, 쿠키, MAC주소, 서비스 이용기록, 방문기록, 불량 이용기록 등 

제5조(개인정보의 파기) 

① 세한대학교는 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체 없이 해당 개인정보를 파기합니다. ② 정보주체로부터 동의 받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관 장소를 달리하여 보존합니다.③ 개인정보 파기의 절차 및 방법은 다음과 같습니다. 

1. 파기절차 
 

세한대학교는 파기 사유가 발생한 개인정보를 선정하고, 세한대학교의 개인정보 보호책임자의 승인을 받아 개인정보를 파기합니다. 

2. 파기방법 
 

세한대학교는 전자적 파일 형태로 기록·저장된 개인정보는 기록을 재생할 수 없도록 로우레벨 포맷(Low Level Format) 등의 방법을 이용하여 파기하며, 종이 문서에 기록·저장된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다. 

제6조(개인정보의 안전성 확보조치) 

세한대학교는 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다. 

1. 관리적 조치 : 내부관리계획 수립·시행, 정기적 직원 교육 등 
2. 기술적 조치 : 개인정보처리시스템 등의 접근권한 관리, 접근통제시스템 설치, 고유식별정보 등의 암호화, 보안프로그램 설치 
3. 물리적 조치 : 전산실, 자료보관실 등의 접근통제 

제7조(개인정보 보호책임자) 

① 세한대학교는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다. 

▶ 개인정보 보호책임자 
성명 : 유규준 
직책 : 원장 
연락처: 041-359-6114 
ykjgood@sehan.ac.kr 
팩스번호: 041-359-6100 

② 정보주체께서는 세한대학교의 서비스(또는 사업)을 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자로 문의하실 수 있습니다. 세한대학교는 정보주체의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다. 

제8조(권익침해 구제방법) 

정보주체는 아래의 기관에 대해 개인정보 침해에 대한 피해구제, 상담 등을 문의하실 수 있습니다. 
<아래의 기관은 세한대학교와는 별개의 기관으로서, 세한대학교의 자체적인 개인정보 불만처리, 피해구제 결과에 만족하지 못하시거나 보다 자세한 도움이 필요하시면 문의하여 주시기 바랍니다.> 

▶ 개인정보 침해신고센터 (한국인터넷진흥원 운영) 
- 소관업무 : 개인정보 침해사실 신고, 상담 신청 
- 홈페이지 : privacy.kisa.or.kr 
- 전화 : (국번없이) 118 
- 주소 : (138-950) 서울시 송파구 중대로 135 한국인터넷진흥원 개인정보침해신고센터 
 

▶ 개인정보 분쟁조정위원회 (한국인터넷진흥원 운영) 
- 소관업무 : 개인정보 분쟁조정신청, 집단분쟁조정 (민사적 해결) 
- 홈페이지 : privacy.kisa.or.kr 
- 전화 : (국번없이) 118 
- 주소 : (138-950) 서울시 송파구 중대로 135 한국인터넷진흥원 개인정보침해신고센터 

▶ 대검찰청 사이버범죄수사단 : 02-3480-3573 (www.spo.go.kr) 
▶ 경찰청 사이버테러대응센터 : 1566-0112 (www.netan.go.kr) 

제9조(개인정보 처리방침 변경) 

① 이 개인정보 처리방침은 2022. 1. 1.부터 적용됩니다. 
② 이전의 개인정보 처리방침은 아래에서 확인하실 수 있습니다. 
                </p>

              </div>
            </div>
          </div>

          <button id="nextButton" onClick="location.href='/auth/join'" class="btn btn-type-01 w-full btn-size-xxl m-b-12" disabled>
            <span class="text-700 text-size-16">다음</span>
          </button>
          <div class="flex-box justify-center align-center gap-12 w-full">
            <a href="#" class="text-size-16 text-gray02">이미 계정이 있으신가요?</a>
            <a href="/auth/login" class="text-size-16 text-info">로그인하기</a>
          </div>
        </div>
        
      </div>

    </div>
  </div>
</section>
<script type="module" src="/assets/js/home/auth/join-terms.js"></script>
{[>layout/footer]}