{[>layout/header]}
<section class="sub-con content user-content">
  <div class="inner">
    <div class="h-120"></div>
    <div class="flex-box align-center justify-center">
      <div class="p-t-96 user-wrap">
        <p class="text-500 text-size-32 text-center m-b-12">
          회원가입
        </p>  
        <p class="text-400 text-size-16 text-center m-b-32">아래 약관에 동의해주세요.</p>
        <div class="login-form flex-box gap-24 flex-wrap">

          <div class="flex-box gap-8 flex-wrap w-full">
            <div class="checkbox w-full">
              <input type="checkbox" id="termsCheck1" >
              <label for="termsCheck1">이용방침 약관 동의</label>
            </div>
            <div class="textarea-box h-104 w-full">
              <div class="textarea-con">
                <p>
                  이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침
                </p>
              </div>
            </div>
          </div>

          <div class="flex-box gap-8 flex-wrap w-full">
            <div class="checkbox w-full">
              <input type="checkbox" id="termsCheck2">
              <label for="termsCheck2">이용방침 약관 동의</label>
            </div>
            <div class="textarea-box h-104 w-full">
              <div class="textarea-con">
                <p>
                  이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침이용방침
                </p>

              </div>
            </div>
          </div>

          <button id="nextButton" onClick="location.href='/auth/join'" class="btn btn-type-01 w-full btn-size-xxl m-b-12" disabled>
            <span class="text-700 text-size-16">다음</span>
          </button>
          <div class="flex-box justify-center align-center gap-12 w-full">
            <a href="#" class="text-size-16 text-gray02">이미 계정이 있으신가요?</a>
            <a href="/auth/login" class="text-size-16 text-info">로그인하기</a>
          </div>
        </div>
        
      </div>

    </div>
  </div>
</section>
<script type="module" src="/assets/js/home/auth/join.js"></script>
{[>layout/footer]}