<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <title>KDP 로그인</title>
</head>
<body>
<h1>KDP 로그인</h1>
<hr/>
<form action="/auth/login_proc" method="POST"> <!-- 시큐리티에서 /login을 통해 인증처리를 할 예정 -->
    <input type="text" name="username" placeholder="username" autofocus/>
    <br/>
    <input type="password" name="password" placeholder="password"/>
    <span>
        {[#error]}
            <p id="valid" style="color:red; font-weight:bolder">{[exception]}</p>
        {[/error]}
    </span>
    <button type="submit">Login</button>
</form>
<a href="/auth/join">회원 가입(일반회원)</a>
<a href="/auth/join2">회원 가입(기관회원)</a>
<a href="/auth/join3">회원 가입(관리자)</a>
</body>
</html>